- content_for :head_stylesheets do
  :css
    #toolbar { padding: 0.3em 0.3em 0.3em 0.3em; margin-bottom: 0.5em; }
    #toolbar .ui-button-icon-only { height: 1.4em; width: 1.4em; }

- content_for :head_scripts do
  :javascript
    function set_icon_resize() {
       if($.cookie('scaling') == 'real_size') {
         var options = { text: false, icons: { secondary: 'ui-icon-zoomin' }};
         $("#resize").button("option", options);
         $("#resize").attr("title", "#{t('txt.layout.resize.pixel')}");
       } else {
         var options = { text: false, icons: { secondary: 'ui-icon-zoomout' }};
         $("#resize").button("option", options );
         $("#resize").attr("title", "#{t('txt.layout.resize.real')}");
       }
    }

    function set_icon_rotate() {
       if("#{orientation}" == "landscape") {
         var options = { text: false, icons: { secondary: 'ui-icon-arrowreturnthick-1-n' }};
         $("#rotate").button("option", options);
         $("#rotate").attr("title", "#{t('txt.layout.rotate.portrait')}");
       } else {
         var options = { text: false, icons: { secondary: 'ui-icon-arrowreturnthick-1-s' }};
         $("#rotate").button("option", options);
         $("#rotate").attr("title", "#{t('txt.layout.rotate.landscape')}");
       }
    }

    function set_icon_scroll() {
      if($.cookie('scroll') == 'yes') {
        $("#scroll").attr("title", "#{t('txt.layout.scroll.hide')}");
      } else {
        $("#scroll").attr("title", "#{t('txt.layout.scroll.show')}");
      }
    }

    $(function() {
      set_mon(screen.width, screen.height);
      $("#resize").button();
      set_icon_resize();
      $("#rotate").button();
      set_icon_rotate();
      $('#scroll')
      .button({
        text: false,
        icons: {
          secondary: 'ui-icon-arrow-2-n-s'
        }
      });
      set_icon_scroll();
      $('#configure_ppi')
      .button({
        text: false,
        icons: {
          secondary: 'ui-icon-arrow-4-diag'
        }
      })
      .click(function() {
        parent.$("[id=demoframe]").attr("src", "/emulators/edit");
      });
    });
