-@title = t('txt.layout.ppi.configure')

- content_for :content_head do
  = render(:partial => "edit.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/ppi.png", :border => 0)
    =@title

  %h4
    DPI Calculator /
    %a{:href => "http://en.wikipedia.org/wiki/Pixels_per_inch", :title => "Pixels per inch"} PPI
    Calculator for displays with square
    %a{:href => "http://en.wikipedia.org/wiki/Pixel"} pixels

  %form{:action => "#", :onsubmit => "do_ppi()"}
    %fieldset.ui-widget-content.ui-corner-all{ :style => "background: none; padding: 0.5em;" }
      %legend
        %string
          Your monitor data
      .formrow.clearfix
        %label.span-6{:for => :hor}
          Horizontal resolution
          = t('txt.layout.colon')
        .span-17
          %input#hor{:onkeyup => "do_ppi()", :size => "4", :type => "text", :value => "1680"}
          .floatLeft
            pixels
      .formrow.clearfix
        %label.span-6{:for => :vert}
          Vertical resolution
          = t('txt.layout.colon')
        .span-17
          %input#vert{:onkeyup => "do_ppi()", :size => "4", :type => "text", :value => "1050"}
          .floatLeft
            pixels
      .formrow.clearfix
        %label.span-6{:for => :diag}
          Diagonal
          = t('txt.layout.colon')
        .span-17
          %input#diag{:onkeyup => "do_ppi()", :size => "4", :type => "text", :value => "22"}
          .floatLeft
            inches (
            %span#diagmetric> xx
            cm)
      %br
      .formrow.clearfix
        %b
          .span-6
            Display size
            = t('txt.layout.colon')
          .span-17
            #size
              Loading...
      %br
      .formrow.clearfix
        %b
          .span-6
            Display resolution
            = t('txt.layout.colon')
          .span-17
            #ppi
              Loading...
      %br
      .formrow.clearfix
        %b
          .span-6{:for => :ppi}
            Emulator is actually configured to
            = t('txt.layout.colon')
          #actual_ppi.span-17
            #{session[:ppi]}
            PPI
    %br
    %button#set_ppi
        