!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title jsTree v.1.0 - themes documentation
    %script{:src => "../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.cookie.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.hotkeys.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.jstree.js", :type => "text/javascript"}
    %link{:href => "syntax/!style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "!style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "syntax/!script.js", :type => "text/javascript"}
  %body
    #container
      %h1 jsTree v.1.0 - themes plugin
      %h2 Description
      #description
        %p
          The
          %code themes
          plugin controls the looks of jstree - without this plugin you will get a functional tree, but it will look just like an ordinary UL list.
      %h2#configuration Configuration
      .panel.configuration
        %h3 theme
        %p.meta
          A string. Default is
          = succeed "." do
            %code "default"
        %p The name of the theme to use to style the tree.
        %h3 url
        %p.meta
          A string (or
          %code false
          if not used). Default is
          = succeed "." do
            %code false
        %p
          The location of the theme's CSS file, if set to
          %code false
          jstree will look for the file in
          = succeed "." do
            %code
              %em> &lt; theme folder &gt;
              \/themes/
              %em> &lt; theme name &gt;
              \/style.css
          You can set the theme folder using
          = succeed "," do
            %code $.jstree._themes = "PATH/TO/FOLDER/";
          otherwise it is autodetected as
          = succeed "." do
            %code
              %em> &lt;jquery.tree.js location&gt;
              \/themes/
        %h3 dots
        %p.meta
          A Boolean. Default is
          = succeed "." do
            %code true
        %p Whether to show the connecting dots or not.
        %h3 icons
        %p.meta
          A Boolean. Default is
          = succeed "." do
            %code true
        %p Whether to show the node icons or not.
      %h2#demos Demos
      .panel
        %h3 Using the themes plugin
        %input#toggle_dots.button{:style => "float:left;", :type => "button", :value => "toggle_dots"}/
        %input#toggle_icons.button{:style => "float:left;", :type => "button", :value => "toggle_icons"}/
        %input#set_theme1.button{:style => "float:left;", :type => "button", :value => "set_theme1"}/
        %input#set_theme2.button{:style => "", :type => "button", :value => "set_theme2"}/
        #demo1.demo
          %ul
            %li#phtml_1
              %a{:href => "#"} Root node 1
              %ul
                %li#phtml_2
                  %a{:href => "#"} Child node 1
                %li#phtml_3
                  %a{:href => "#"} Child node 2
            %li#phtml_4
              %a{:href => "#"} Root node 2
        %script.source{:type => "text/javascript"}
          $(function () {
          $("#toggle_dots, #toggle_icons").click(function () {
          $("#demo1").jstree(this.value);
          });
          $("#set_theme1").click(function () {
          $("#demo1").jstree("set_theme","apple");
          });
          $("#set_theme2").click(function () {
          $("#demo1").jstree("set_theme","default");
          });
          $("#demo1").jstree({
          "themes" : {
          "theme" : "default",
          "dots" : false,
          "icons" : false
          },
          "plugins" : [ "themes", "html_data" ]
          });
          });
      %h2#api API
      .panel.api
        %h3#set_theme .set_theme ( name , url )
        %p Set the tree's theme. Triggers an event.
        %ul.arguments
          %li
            %code.tp string
            %strong name
            %p The name of the theme to use to style the tree.
          %li
            %code.tp string
            %strong url
            %p
              The location of the theme's CSS file, if omitted jstree will look for the file in:
              %br/
              = succeed "." do
                %code
                  %em> &lt; theme folder &gt;
                  \/themes/
                  %em> &lt; name &gt;
                  \/style.css
              = succeed "You" do
                %br/
              can set the theme folder using:
              %br/
              = succeed "," do
                %code $.jstree._themes = "PATH/TO/FOLDER/";
              otherwise it is autodetected as
              = succeed "." do
                %code
                  %em> &lt;jquery.tree.js location&gt;
                  \/themes/
        %h3#get_theme .get_theme ( )
        %p Returns the name of the currently active theme.
        %div{:style => "height:1px; visibility:hidden;"}
          %span#hide_dots &nbsp;
          %span#toggle_dots &nbsp;
        %h3#show_dots .show_dots ( ), .hide_dots ( ), .toggle_dots ( )
        %p Show, hide or toggle the visibility of the dots connecting the tree's nodes.
        %div{:style => "height:1px; visibility:hidden;"}
          %span#hide_icons &nbsp;
          %span#toggle_icons &nbsp;
        %h3#show_icons .show_icons ( ), .hide_icons ( ), .toggle_icons ( )
        %p Show, hide or toggle the visibility of the icons next to the title of each the tree node.
