-@title = "jQuery Mobile Framework - Weather for"
= render :partial => "index.js.haml", :format => :js

%div{"data-role" => "page", "data-theme" => "a"}
  %form.ui-body.ui-body-a{:action => "", :method => "get"}
    %label{:for => "location"}
      Change city:
    %input#location{"data-theme" => "a", :name => "location", :placeholder => "city name...", :type => "search", :value => "#{@location}"}/
    %input{"data-role" => "nojs", :type => "submit", :value => "submit"}
  / / header
  %div{"data-role" => "content"}
    %h1
      Currently in
      %br
      #{@information[:city]}:
    .current.ui-body.ui-bar-a.ui-corner-all
      - # 'condition','temp_c','icon','humidity','wind_condition']
      .ui-grid-a{}
        .ui-block-a{:style => "width:25%;"}
          %img{:alt => "weather", :src => "http://www.google.com#{@information[:icon]}"}
        .ui-block-b{:style => "width:75%;"}
          %p.condition
            #{@information[:temp_c]} &#8451;,
            #{@information[:condition]}
            %br
            #{@information[:wind_condition]}
            %br
            #{@information[:humidity]}
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "a"}
      %li{"data-role" => "list-divider"} This week's forecast
      - @forecast_list.each do |item|
        %li
          %img{:src => "http://www.google.com#{item[:icon]}"}
          %h3
            %a
              #{item[:day_of_week]}
          %p
            #{item[:low]} &#8451;,
            #{item[:high]} &#8451;,
            #{item[:condition]}
  / / content
/ / page
