-@title = "jQuery Mobile Docs - Sample Form Submit"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Forms
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Ajax form submission
      %p
        In jQuery Mobile, form submissions are automatically handled using Ajax whenever possible, creating a smooth transition between the form and the result page. To ensure your form submits as intended, be sure to specify
        %code action
        and
        %code method
        properties on your form element. When unspecified, the method will default to
        = succeed "," do
          %code get
        and the
        %code action
        will default to the current page's relative path (found via
        %code $.mobile.path.get()
      %p
        Forms also accept attributes for transitions just like anchors, such as
        %code data-transition="pop"
        and
        = succeed "." do
          %code data-direction="reverse"
        To submit a form without Ajax, you can either disable Ajax form handling globally, or per form via the
        %code data-ajax="false"
        attribute. The
        %code target
        attribute (as in
        = succeed ")" do
          %code target="_blank"
        is respected on forms as well, and will default to the browser's handling of that target when the form submits. Note that unlike anchors, the
        %code rel
        attribute is not allowed on forms.
      %h2 Default Ajax form example
      %p
        This demonstrates automated ajax handling of form submissions. The form below is configured to send regular a
        %code get
        request to
        = succeed "." do
          %code forms-sample-response.php
        On submit, jQuery Mobile will make sure that the Url specified is able to be retrieved via Ajax, and handle it appropriately. Keep in mind that just like ordinary HTTP form submissions, jQuery Mobile allows
        %code get
        result pages to be bookmarked by updating the Url hash when the response returns successfully. Also like ordinary form submissions,
        %code post
        requests do not contain query parameters in the hash, so they are not bookmarkable.
      %form.ui-body.ui-body-a.ui-corner-all{:action => "/mobile/docs/forms/forms_sample_response", :method => "get"}
        %fieldset
          %div{"data-role" => "fieldcontain"}
            %label.select{:for => "shipping"} Shipping method:
            %select#shipping{:name => "shipping"}
              %option{:value => "Standard shipping"} Standard: 7 day
              %option{:value => "Rush shipping"} Rush: 3 days
              %option{:value => "Express shipping"} Express: next day
              %option{:value => "Overnight shipping"} Overnight
          %button{"data-theme" => "b", :name => "submit", :type => "submit", :value => "submit-value"} Submit
      %h2 Non-Ajax form example
      %p
        To prevent form submissions from being automatically handled with Ajax, add the
        %code data-ajax="false"
        attribute to the form element. You can also turn of Ajax form handling completely via the
        %code ajaxEnabled
        = succeed "." do
          %a{:href => "/mobile/docs/api/globalconfig"} global config option
      %p
        The form below is identical to the one above except for the addition of the
        %code data-ajax="false"
        attribute attribute. When the submit button is pressed, it will result in a full page refresh.
      %form.ui-body.ui-body-a.ui-corner-all{:action => "/mobile/docs/forms/forms_sample_response", "data-ajax" => "false", :method => "get"}
        %fieldset
          %div{"data-role" => "fieldcontain"}
            %label.select{:for => "shipping"} Shipping method:
            %select#shipping{:name => "shipping"}
              %option{:value => "Standard shipping"} Standard: 7 day
              %option{:value => "Rush shipping"} Rush: 3 days
              %option{:value => "Express shipping"} Express: next day
              %option{:value => "Overnight shipping"} Overnight
      %button{"data-theme" => "b", :name => "submit", :type => "submit", :value => "submit-value"} Submit
      %h2 Self-submitting Forms
      %p
        Just like in ordinary HTML, can also submit forms to the same URL you're currently viewing by setting the form's
        %code action
        attribute to that URL.
        %A{:href => "/mobile/docs/forms/forms_sample_selfsubmit"}
          This page demonstrates.
      %p
        When a
        %code post
        request is submitted to a page that's already in the DOM (which would commonly happen when submitting a form to the same URL currently in view), the response URL will be identical to that existing page, as
        %code post
        requests do not append query string parameters to the URL. In this situation, jQuery Mobile will replace the page that submitted the form with the page returned in the response body.
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Form elements
            %li
              %a{:href => "/mobile/docs/forms/docs_forms"} Form basics
            %li
              %a{:href => "/mobile/docs/forms/forms_all"} Form element gallery
            %li
              %a{:href => "/mobile/docs/forms/textinputs"} Text inputs
            %li
              %a{:href => "/mobile/docs/forms/search"} Search inputs
            %li
              %a{:href => "/mobile/docs/forms/slider"} Slider
            %li
              %a{:href => "/mobile/docs/forms/switch"} Flip toggle switch
            %li
              %a{:href => "/mobile/docs/forms/radiobuttons"} Radio buttons
            %li
              %a{:href => "/mobile/docs/forms/checkboxes"} Checkboxes
            %li
              %a{:href => "/mobile/docs/forms/selects"} Select menus
            %li
              %a{:href => "/mobile/docs/forms/forms_themes"} Theming forms
            %li
              %a{:href => "/mobile/docs/forms/forms_all_native"} Native form elements
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/forms/forms_sample"} Submitting forms
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
