-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.custom-icons2')}"
= render :partial => "custom_icons2.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/filament.png", :border => 0)
    = raw @title
  %form{:action => "#"}
    %fieldset
      %label{:for => "languagesA"}
        Select a Language:
      %br
      %br
      %select#languagesA.customicons2{:name => "languagesA"}
        %option.en{:value => "en"} en
        %option.de{:value => "de"} de
        %option.es{:value => "es"} es
        %option.fr{:value => "fr"} fr
        %option.it{:value => "it"} it
/ End demo
.demo-description
/ End demo-description
