-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.default')}"
= render :partial => "default.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/filament.png", :border => 0)
    = raw @title
  %form{:action => "#"}
    %fieldset
      %label{:for => "speedA"}
        Select a Speed:
      %br
      %br
      %select#speedA{:name => "speedA"}
        %option{:value => "Slower"} Slower
        %option{:value => "Slow"} Slow
        %option{:selected => "selected", :value => "Medium"} Medium
        %option{:value => "Fast"} Fast
        %option{:value => "Faster"} Faster 
/ End demo
.demo-description
/ End demo-description
