-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.disable-enable')}"
= render :partial => "disable_enable.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/filament.png", :border => 0)
    = raw @title
  %form{:action => "#"}
    %fieldset
      %label{:for => "speedA"} Disabled by select callback (does not change original select):
      %br
      %br
      %select#speedA{:name => "speedA"}
        %option{:value => "on"} On
        %option{:value => "off"} Off
      %br/
      %select#speedA_depends{:name => "speedA_depends"}
        %option{:value => "Slow"} Slow
        %option{:value => "Medium"} Medium
        %option{:value => "Fast"} Fast
    %fieldset
      %label{:for => "speedB"} Disble by links:
      %br
      %br
      %select#speedB{:name => "speedB"}
        %option{:selected => "selected", :value => "Slower"} Slower
        %option{:value => "Slow"} Slow
        %option{:value => "Medium"} Medium
        %option{:value => "Fast"} Fast
        %option{:value => "Faster"} Faster
      #radio
        %a#on{:href => "#nogo"} on
        %a#off{:href => "#nogo"} off
      %br
    %fieldset
      %label{:for => "speedC"} Disabled by HTML (initial):
      %br
      %br
      %select#speedC{:disabled => "disabled", :name => "speedC"}
        %option{:selected => "selected", :value => "Slower"} Slower
        %option{:value => "Slow"} Slow
        %option{:value => "Medium"} Medium
        %option{:value => "Fast"} Fast
        %option{:value => "Faster"} Faster
    %fieldset
      %label{:for => "speedD"} Disabled option by HTML (initial, does not work):
      %br
      %br
      %select#speedD{:name => "speedD"}
        %option{:selected => "selected", :value => "Slower"} Slower
        %option{:value => "Slow"} Slow
        %option{:disabled => "disabled", :value => "Medium"} Medium (disabled)
        %option{:value => "Fast"} Fast
        %option{:value => "Faster"} Faster

/ End demo
.demo-description
/ End demo-description
