-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.icons')}"
= render :partial => "icons.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/filament.png", :border => 0)
    = raw @title
  %form{:action => "#"}
    %fieldset
      %label{:for => "files"}
        Select a File:
      %br
      %br
      %select#files{:name => "files"}
        %option.script{:value => "jquery"} jQuery.js
        %option.image{:value => "jquerylogo"} jQuery Logo
        %option.script{:value => "jqueryui"} ui.jQuery.js
        %option.image{:selected => "selected", :value => "jqueryuilogo"} jQuery UI Logo
        %option{:value => "somefile"} Some unknown file
/ End demo
.demo-description
/ End demo-description
