-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.without-id')}"

- content_for :head_scripts do
  = render :partial => "without_id.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/filament.png", :border => 0)
    = raw @title
  %form{:action => "#"}
    %fieldset#withoutID
      %select
        %option{:value => "Slower" } Slower
        %option{:value => "Slow", :selected => "selected"} Slow
        %option{:value => "Medium" } Medium
        %option{:value => "Fast" } Fast
        %option{:value => "Faster" } Fast
/ End demo
.demo-description
/ End demo-description
