-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.localization')}"
     
- content_for :content_head do  
  = render :partial => "layouts/datepicker_i18n"
  = render(:partial => 'localization.js.haml', :format => :js)   
 
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
    \&nbsp;
    %select#datepickerLocale
      %option{ :value => "sq" }
        Albanian (Gjuha shqipe)
      %option{ :value => "ar" }
        Arabic (‫(لعربي
      %option{ :value => "hy" }
        Armenian (Հայերեն)
      %option{ :value => "bg" }
        Bulgarian (български език)
      %option{ :value => "ca" }
        Catalan (Catal&agrave;)
      %option{ :value => "zh-CN" }
        Chinese Simplified (简体中文)
      %option{ :value => "zh-TW" }
        Chinese Traditional (繁體中文)
      %option{ :value => "hr" }
        Croatian (Hrvatski jezik)
      %option{ :value => "cs" }
        Czech (&#269;e&#353;tina)
      %option{ :value => "da" }
        Danish (Dansk)
      %option{ :value => "nl" }
        Dutch (Nederlands)
      %option{ :value => "eo" }
        Esperanto
      %option{ :value => "fa" }
        Farsi/Persian (‫(فارسی
      %option{ :value => "fi" }
        Finnish (suomi)
      %option{ :selected => "selected", :value => "fr" }
        French (Fran&ccedil;ais)
      %option{ :value => "de" }
        German (Deutsch)
      %option{ :value => "el" }
        Greek (Ελληνικά)
      %option{ :value => "he" }
        Hebrew (‫(עברית
      %option{ :value => "hu" }
        Hungarian (Magyar)
      %option{ :value => "is" }
        Icelandic (&Otilde;slenska)
      %option{ :value => "id" }
        Indonesian (Bahasa Indonesia)
      %option{ :value => "it" }
        Italian (Italiano)
      %option{ :value => "ja" }
        Japanese (日本語)
      %option{ :value => "ko" }
        Korean (한국어)
      %option{ :value => "lv" }
        Latvian (Latvie&ouml;u Valoda)
      %option{ :value => "lt" }
        Lithuanian (lietuviu kalba)
      %option{ :value => "ms" }
        Malaysian (Bahasa Malaysia)
      %option{ :value => "no" }
        Norwegian (Norsk)
      %option{ :value => "pl" }
        Polish (Polski)
      %option{ :value => "pt-BR" }
        Portuguese/Brazilian (Portugu&ecirc;s)
      %option{ :value => "ro" }
        Romanian (Rom&acirc;nă)
      %option{ :value => "ru" }
        Russian (Русский)
      %option{ :value => "sr" }
        Serbian (српски језик)
      %option{ :value => "sr-SR" }
        Serbian (srpski jezik)
      %option{ :value => "sk" }
        Slovak (Slovencina)
      %option{ :value => "sl" }
        Slovenian (Slovenski Jezik)
      %option{ :value => "es" }
        Spanish (Espa&ntilde;ol)
      %option{ :value => "sv" }
        Swedish (Svenska)
      %option{ :value => "th" }
        Thai (ภาษาไทย)
      %option{ :value => "tr" }
        Turkish (T&uuml;rk&ccedil;e)
      %option{ :value => "uk" }
        Ukranian (Українська)
/ End demo
.demo-description
  %p
    Localize the datepicker calendar language and format (English / Western formatting is the default).  The datepicker includes built-in support for languages that read right-to-left, such as Arabic and Hebrew.
/ End demo-description
