-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.photo-manager')}"

- content_for :content_head do
  = render(:partial => "photo_manager.js.haml", :format => :js)

.demo
  %h3
    =@title
    .demo.ui-widget.ui-helper-clearfix
  %ul#gallery.gallery.ui-helper-reset.ui-helper-clearfix
    %li.ui-widget-content.ui-corner-tr
      %h5.ui-widget-header
        High Tatras
      %img{ :src => "/images/demo/photo_manager/high_tatras_min.jpg", :height => "72", :alt => "The peaks of High Tatras", :width => "96" }
      %a.ui-icon.ui-icon-zoomin{ :href => "/images/demo/photo_manager/high_tatras.jpg", :title => "View larger image" }
        View larger
      %a.ui-icon.ui-icon-trash{ :href => "link/to/trash/script/when/we/have/js/off", :title => "Delete this image" }
        Delete image
    %li.ui-widget-content.ui-corner-tr
      %h5.ui-widget-header
        High Tatras 2
      %img{ :src => "/images/demo/photo_manager/high_tatras2_min.jpg", :height => "72", :alt => "The chalet at the Green mountain lake", :width => "96" }
      %a.ui-icon.ui-icon-zoomin{ :href => "/images/demo/photo_manager/high_tatras2.jpg", :title => "View larger image" }
        View larger
      %a.ui-icon.ui-icon-trash{ :href => "link/to/trash/script/when/we/have/js/off", :title => "Delete this image" }
        Delete image
    %li.ui-widget-content.ui-corner-tr
      %h5.ui-widget-header
        High Tatras 3
      %img{ :src => "/images/demo/photo_manager/high_tatras3_min.jpg", :height => "72", :alt => "Planning the ascent", :width => "96" }
      %a.ui-icon.ui-icon-zoomin{ :href => "/images/demo/photo_manager/high_tatras3.jpg", :title => "View larger image" }
        View larger
      %a.ui-icon.ui-icon-trash{ :href => "link/to/trash/script/when/we/have/js/off", :title => "Delete this image" }
        Delete image
    %li.ui-widget-content.ui-corner-tr
      %h5.ui-widget-header
        High Tatras 4
      %img{ :src => "/images/demo/photo_manager/high_tatras4_min.jpg", :height => "72", :alt => "On top of Kozi kopka", :width => "96" }
      %a.ui-icon.ui-icon-zoomin{ :href => "/images/demo/photo_manager/high_tatras4.jpg", :title => "View larger image" }
        View larger
      %a.ui-icon.ui-icon-trash{ :href => "link/to/trash/script/when/we/have/js/off", :title => "Delete this image" }
        Delete image
  #trash.ui-widget-content.ui-state-default
    %h4.ui-widget-header
      %span.ui-icon.ui-icon-trash
        Trash
      Trash
/ End demo
.demo-description
  %p
    You can delete an image either by dragging it to the Trash or by clicking the trash icon.
  %p
    You can "recycle" an image by dragging it back to the gallery or by clicking the recycle icon.
  %p
    You can view larger image by clicking the zoom icon. #{t('txt.ui.name')} dialog widget is used for the modal window.
/ End demo-description
