-@title = "jQuery Mobile Docs - Navbar"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Navbar
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Simple navbar
      %p
        jQuery Mobile has a very basic navbar widget that is useful for providing up to 5 buttons with optional icons in a bar, typically within a header or footer. There is also a
        %a{:href => "/mobile/docs/toolbars/footer_persist_a"} persistent nav bar
        variation that works more like a tab bar that stays fixed as you navigate across pages.
      %p
        A navbar is coded as an unordered list of links wrapped in a container element that has the
        %code data-role="navbar"
        attribute. To set one of links to the active (selected) state, add
        %code class="ui-btn-active"
        to the anchor. In this example, we have a two-button navbar in the footer with the "One" item set to active:
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;navbar&quot;&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;a.html&quot; class=&quot;ui-btn-active&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;b.html&quot;&gt;Two&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;&lt;!-- /navbar --&gt;
      %p The navbar items are set to divide the space evenly so in this case, each button is 1/2 the width of the browser window:
      %div{"data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
          %li
            %a{:href => "#"} Two
      / /navbar
      %p Adding a third item will automatically make each button 1/3 the width of the browser window:
      %div{"data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
          %li
            %a{:href => "#"} Two
          %li
            %a{:href => "#"} Three
      / /navbar
      %p Adding a fourth more item will automatically make each button 1/4 the width of the browser window:
      %div{"data-grid" => "c", "data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
          %li
            %a{:href => "#"} Two
          %li
            %a{:href => "#"} Three
          %li
            %a{:href => "#"} Four
      / /navbar
      %p The navbar maxes out with 5 items, each 1/5 the width of the browser window:
      %div{"data-grid" => "d", "data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
          %li
            %a{:href => "#"} Two
          %li
            %a{:href => "#"} Three
          %li
            %a{:href => "#"} Four
          %li
            %a{:href => "#"} Five
      / /navbar
      %p If more than 5 items are added, the navbar will simply wrap to multiple lines:
      %div{"data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
          %li
            %a{:href => "#"} Two
          %li
            %a{:href => "#"} Three
          %li
            %a{:href => "#"} Four
          %li
            %a{:href => "#"} Five
          %li
            %a{:href => "#"} Six
          %li
            %a{:href => "#"} Seven
          %li
            %a{:href => "#"} Eight
          %li
            %a{:href => "#"} Nine
          %li
            %a{:href => "#"} Ten
      / /navbar
      %p As a fallback, navbars with 1 item will simply render as 100%.
      %div{"data-role" => "navbar"}
        %ul
          %li
            %a.ui-btn-active{:href => "#"} One
      / /navbar
      %h2 Navbars in headers
      %p If you want to add a navbar to the top of the page, you can still have a page title and buttons. Just add the navbar container inside the header block, right after the title and buttons in the source order.
      %div{"data-role" => "header"}
        %h1 I'm a header
        %a.ui-btn-right{"data-icon" => "gear", :href => "/mobile/docs/toolbars"} Options
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{:href => "#"} One
            %li
              %a{:href => "#"} Two
            %li
              %a{:href => "#"} Three
        / /navbar
      / /header
      %h2 Navbars in footers
      %p
        If you want to add a navbar to the bottom of the page so it acts more like a tab bar, simply wrap the navbar in a container with a
        %code data-role="footer"
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;footer&quot;&gt;
              &lt;div data-role=&quot;navbar&quot;&gt;
                &lt;ul&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Two&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Three&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;&lt;!-- /navbar --&gt;
            &lt;/div&gt;&lt;!-- /footer --&gt;
      %div{"data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{:href => "#"} One
            %li
              %a{:href => "#"} Two
            %li
              %a{:href => "#"} Three
        / /navbar
      / /footer
      %h2 Icons in navbars
      %p
        Icons can be added to navbar items by adding the
        %code data-icon
        attribute specifying a
        %a{:href => "/mobile/docs/buttons/buttons_icons"} standard mobile icon
        to each anchor. By default icons are added above the text (
        %code> data-iconpos="top"
        ). The following examples add icons to a navbar in a footer.
      %div{"data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} Summary
            %li
              %a.ui-btn-active{"data-icon" => "star", :href => "#"} Favs
            %li
              %a{"data-icon" => "gear", :href => "#"} Setup
        / /navbar
      / /footer
      %p
        The icon position is set
        %em on the navbar container
        instead of for individual links within for visual consistency. For example, to place the icons below the labels, add the
        %code data-iconpos="bottom"
        attribute to navbar container.
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;navbar&quot; data-iconpos=&quot;bottom&quot;&gt;
      %p This will result in a bottom icon alignment:
      %div{"data-role" => "footer"}
        %div{"data-iconpos" => "bottom", "data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} Summary
            %li
              %a.ui-btn-active{"data-icon" => "star", :href => "#"} Favs
            %li
              %a{"data-icon" => "gear", :href => "#"} Setup
        / /navbar
      / /footer
      %p
        The icon position can be set to
        = succeed ":" do
          %code data-iconpos="left"
      %div{"data-role" => "footer"}
        %div{"data-iconpos" => "left", "data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} Summary
            %li
              %a.ui-btn-active{"data-icon" => "star", :href => "#"} Favs
            %li
              %a{"data-icon" => "gear", :href => "#"} Setup
        / /navbar
      / /footer
      %p
        Or the icon position can be set to
        = succeed ":" do
          %code data-iconpos="right"
      %div{"data-role" => "footer"}
        %div{"data-iconpos" => "right", "data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} Summary
            %li
              %a.ui-btn-active{"data-icon" => "star", :href => "#"} Favs
            %li
              %a{"data-icon" => "gear", :href => "#"} Setup
        / /navbar
      / /footer
      %h2 Using 3rd party icon sets
      %p
        You can add any of the popular icon libraries like
        %a{:href => "http://glyphish.com/"} Glyphish
        to achieve the iOS style tab tab that has large icons stacked on top of text labels. All that is required is a bit of custom styles to link to the icons and position them in the navbar. Here is an example using Glyphish icons and custom styles (view page source for styles) in our navbar:
      :css
        .nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
        .nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
        #chat .ui-icon { background:  url(glyphish-icons/09-chat2.png) 50% 50% no-repeat; background-size: 24px 22px; }
        #email .ui-icon { background:  url(glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
        #login .ui-icon { background:  url(glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
        #beer .ui-icon { background:  url(glyphish-icons/88-beermug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
        #coffee .ui-icon { background:  url(glyphish-icons/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
        #skull .ui-icon { background:  url(glyphish-icons/21-skull.png) 50% 50% no-repeat;  background-size: 22px 24px; }
        .nav-glyphish-example{"data-role" => "footer"}
        .nav-glyphish-example{"data-grid" => "d", "data-role" => "navbar"}
          %ul
            %li
              %a#chat{"data-icon" => "custom", :href => "#"} Chat
            %li
              %a#email{"data-icon" => "custom", :href => "#"} Email
            %li
              %a#skull{"data-icon" => "custom", :href => "#"} Danger
            %li
              %a#beer{"data-icon" => "custom", :href => "#"} Beer
            %li
              %a#coffee{"data-icon" => "custom", :href => "#"} Coffee
      %p
        Icons by Joseph Wain /
        = succeed "." do
          %a{:href => "http://glyphish.com/"} glyphish.com
        Licensed under the
        = succeed "." do
          %a{:href => "http://creativecommons.org/licenses/by/3.0/us/"} Creative Commons Attribution 3.0 United States License
      %h2 Theming navbars
      %p Navbars inherit the theme swatch from their parent container, just like buttons. If a navbar is placed in header or footer toolbar, it will inherit the default toolbar swatch (A) for bars unless you set this in the markup.
      %p
        Here are a few examples of navbars in various container swatches automatically inheriting their parent's swatch letter. Note that in these examples, instead of using a
        %code data-theme
        attribute, we're manually adding the swatch classes to apply the body swatch (
        %code> ui-body-a
        ) and the class to add the standard body padding (ui-body), but the inheritance works the same way:
      .ui-body-a.ui-body
        %h3 Swatch A
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} A
            %li
              %a{"data-icon" => "star", :href => "#"} B
            %li
              %a{"data-icon" => "gear", :href => "#"} C
            %li
              %a{"data-icon" => "arrow-l", :href => "#"} D
            %li
              %a{"data-icon" => "arrow-r", :href => "#"} E
        / /navbar
      / /container
      .ui-body-d.ui-body
        %h3 Swatch B
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", :href => "#"} A
            %li
              %a{"data-icon" => "star", :href => "#"} B
            %li
              %a{"data-icon" => "gear", :href => "#"} C
            %li
              %a{"data-icon" => "arrow-l", :href => "#"} D
            %li
              %a{"data-icon" => "arrow-r", :href => "#"} E
        / /navbar
      / /container
      %p
        To set to the theme color for a navbar item, add the
        %code data-theme
        attribute to the individual links and specify a theme swatch. Note that applying a theme swatch at the navbar container is
        %em not
        supported.
      %div{"data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "grid", "data-theme" => "a", :href => "#"} A
            %li
              %a{"data-icon" => "star", "data-theme" => "b", :href => "#"} B
            %li
              %a{"data-icon" => "gear", "data-theme" => "c", :href => "#"} C
            %li
              %a{"data-icon" => "arrow-l", "data-theme" => "d", :href => "#"} D
            %li
              %a{"data-icon" => "arrow-r", "data-theme" => "e", :href => "#"} E
        / /navbar
      / /footer
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Toolbars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_bars"} Toolbar basics
            %li
              %a{:href => "/mobile/docs/toolbars/docs_headers"} Header bars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_footers"} Footer bars
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/toolbars/docs_navbar"} Navbars
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fixed"} Fixed positioning
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fullscreen"} Fullscreen positioning
            %li
              %a{:href => "/mobile/docs/toolbars/footer_persist_a"} Persistent footer nav bar
            %li
              %a{:href => "/mobile/docs/toolbars/bars_themes"} Theming toolbars
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
