-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.selectmenu.name')} - #{t('txt.ui.widgets.selectmenu.without-id')}"

- content_for :content_head do
  = render(:partial => "without_id.js.haml", :format => :js)

.demo
  %h3
    = raw @title
  %form{:action => "#"}
    %fieldset#withoutID
      %select
        %option{:value => "Slower" } Slower
        %option{:value => "Slow", :selected => "selected"} Slow
        %option{:value => "Medium" } Medium
        %option{:value => "Fast" } Fast
        %option{:value => "Faster" } Fast
/ End demo
.demo-description
  %p
    Selectmenu demo.
/ End demo-description
