:css
  form.myform { height:100px; }

- form_for(@secret, :url => widgets_jqgrid_secrets_url, :html => { :class => :myform }) do |f|
  = f.error_messages
  %p.span-24
    = f.label :name
    = f.text_field :name
  %p.span-24
    = f.label :cogs
    = f.text_field :cogs
