- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid
  = stylesheet_link_tag :secret_sauce

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  = javascript_include_tag :secret_sauce
  = ui_grid_for :secrets, :url => '/widgets/jqgrid/secrets', :actions => {:update => "/edit", :create => "/new", :destroy => "/destroy"}

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"