-@title = "#{t('txt.jst.name')} - #{t('txt.jst.hotkeys')}"
= render :partial => "hotkeys.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  .span-11
    %h4
      Using the hotkeys plugin
    #demo1.ui-widget-content.ui-corner-all
      %ul
        %li#phtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#phtml_2
              %a{:href => "#"} Child node 1
            %li#phtml_3
              %a{:href => "#"} Child node 2
        %li#phtml_4
          %a{:href => "#"} Root node 2
    %br
    %p
      Try pressing
      %code 
        up/down/left/right/space/f2/del
/ End demo
.demo-description
  %p
    The
    %b
      hotkeys plugin
    enables keyboard navigation and shortcuts. Depends on the
    = link_to raw("jquery.hotkeys plugin."), "http://github.com/jeresig/jquery.hotkeys/"
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/hotkeys"  
/ End demo-description
