- content_for :head_stylesheets do
  :css
    body {
      background:#EEE url("/images/demo/markitup/body.png") repeat-x;
      font: 13px "Trebuchet MS", Arial, Verdana;
      padding:20px;
    }
    a {
      text-decoration:none;
      color:#3C769D;
    }
    h1 a,
    p em a {
      display:block;
      overflow:hidden;
      text-indent:-9999px;
    }
    h1 a {
      width:700px;
      height:200px;
      background:transparent url("/images/demo/markitup/markitup.png") no-repeat center center;
    }
    p em a {
      background:transparent url("/images/demo/markitup/jaysalvat.png") no-repeat 10% 50%;
      width:120px; height:28px;
      left:30px;
      position:absolute;
      top:0px;
    }
  = stylesheet_link_tag :markitup, :media => 'screen, projection'
  = stylesheet_link_tag :markitup_default, :media => 'screen, projection'

- content_for :head_scripts do
  = javascript_include_tag :markitup
  = javascript_include_tag :markitup_default
  :javascript
    $(function()	{
      // Add markItUp! to your textarea in one line
      // $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );
      $('#markItUp').markItUp(mySettings);

      // You can add content from anywhere in your page
      // $.markItUp( { Settings } );
      $('.add').click(function() {
        $.markItUp( { 	openWith:'<opening tag>',
                closeWith:'<\/closing tag>',
                placeHolder:"New content"
              }
            );
        return false;
      });

      // And you can add/remove markItUp! whenever you want
      // $(textarea).markItUpRemove();
      $('.toggle').click(function() {
        if ($("#markItUp.markItUpEditor").length === 1) {
          $("#markItUp").markItUpRemove();
          $("span", this).text("get markItUp! back");
        } else {
          $('#markItUp').markItUp(mySettings);
          $("span", this).text("remove markItUp!");
        }
        return false;
      });
    });  

- content_for :license do
  = render :partial =>  "widgets/mark_it_up/license"
