= render :partial => "examples.js.haml", :format => :js

.demo
  %p
    %em
      %a{:href => "http://www.jaysalvat.com"} By Jay Salvat

  #markitup_skins
    %ul
      %li
        %a{ :href => "show?example=#{@example}&skin=markitup" }
          Default skin
      %li
        %a{ :href => "show?example=#{@example}&skin=simple" }
          Simple skin
      %li
        %a{ :href => "show?example=#{@example}&skin=aqua" }
          Aqua skin
      %li
        %a{ :href => "show?example=#{@example}&skin=live" }
          Live skin
      %li
        %a{ :href => "show?example=#{@example}&skin=jtag" }
          jTagEditor skin
/ End demo

- content_for :license do
  = render :partial =>  "widgets/mark_it_up/license"