-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.panel.name')} - #{t('txt.ui.widgets.panel.cookie')}"

- content_for :content_head do
  = render(:partial => "cookie.js.haml", :format => :js)

.demo
  %h3
    = raw @title
  .box
    #panel5.panel{:style => "width:25%;"}
      %h3 Panel state in a cookie
      %div
        %p
          The state of this panel is stored in a cookie.
        %p
          %b
            Note:
          Uses jQuery cookie Plugin –
          %a{:href => "http://plugins.jquery.com/project/cookie"} http://plugins.jquery.com/project/cookie  
          
/ End demo
.demo-description
  %p
    This is jQuery UI Draft
    %b
      Content grouping / Panel
    advanced demonstration.
  %p
    Latest source at
    = succeed "," do
      %a{:href => "http://github.com/idlesign/ist-ui-panel/"} http://github.com/idlesign/ist-ui-panel/
    also available at jQuery UI Labs:
    %a{:href => "http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel/"} http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel
/ End demo description
