-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.panel.name')} - #{t('txt.ui.widgets.panel.right1')}"

- content_for :content_head do
  = render(:partial => "right1.js.haml", :format => :js)

.demo
  %h3
    = raw @title
  .box{:style => "float:right;"}
    #panel1.panel{:style => "width:80%; float:right;"}
      %h3 Slide right example #1
      %div
        %p
          Slide right panel
          %i
            example
          with controls from 'cntrl' hidden div.
        %p
          = succeed "You can" do
            %br/
          = succeed "." do
            %span{:onClick => "$('#panel1').panel('disable');$('#pan_enable').show()", :style => "color:navy;cursor:pointer;"} disable this panel
  #cntrl{:style => "display:none"}  
    %a{:href => "#", :style => "font-size:10px;color:blue;"}
      Edit
  %p
    #pan_enable{:onClick => "$('#panel1').panel('enable');$(this).hide();", :style => "display:none;color:navy;cursor:pointer;"} Enable panel above.
     
/ End demo
.demo-description
  %p
    This is jQuery UI Draft
    %b
      Content grouping / Panel
    advanced demonstration.
  %p
    Latest source at
    = succeed "," do
      %a{:href => "http://github.com/idlesign/ist-ui-panel/"} http://github.com/idlesign/ist-ui-panel/
    also available at jQuery UI Labs:
    %a{:href => "http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel/"} http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel
/ End demo description
