-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.panel.name')} - #{t('txt.ui.widgets.panel.simple')}"

- content_for :content_head do
  = render(:partial => "simple.js.haml", :format => :js)

.demo
  %h3
    = raw @title
  .box
    #panel4.panel{:style => "width:32%;"}
      %h3 Simple panel example
      %div
        %p
          This is a simple panel example width collapsibility turned off.
        %p
          %b
            Note:
          This panel uses controls from 'cntrl' hidden div (that is 'Edit' text).
          %br/
          %div{:onClick => "$('#panel4').panel('content', $('#fake_container').html());", :style => "margin:.5em 0 0 1em;color:navy;cursor:pointer;"} Change this content.   
/ End demo
.demo-description
  %p
    This is jQuery UI Draft
    %b
      Content grouping / Panel
    advanced demonstration.
  %p
    Latest source at
    = succeed "," do
      %a{:href => "http://github.com/idlesign/ist-ui-panel/"} http://github.com/idlesign/ist-ui-panel/
    also available at jQuery UI Labs:
    %a{:href => "http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel/"} http://code.google.com/p/jquery-ui/source/browse/#svn/branches/labs/panel
/ End demo description
