-@jquery_partial = 'hello.js.haml'

.welcome
  %h4.ui-widget-header.ui-corner-all
    compass-jquery-plugin
  %p
    A Sass-based Meta-Framework for Compass that allows you to mix and match any of the following:
    %ul
      %li
        %p
          = link_to "<b>jRails</b>", "http://github.com/aaronchi/jrails"
          with
          = link_to "<b>jQuery 1.4.2</b>", "http://jquery.com"
          and
          = link_to "<b>jQuery UI 1.8.1</b>", "http://jqueryui.com"
          or
          = link_to "<b>jQuery 1.3.2</b>", "http://jquery.com"
          and
          = link_to "<b>jQuery UI 1.7.3</b>", "http://jqueryui.com"
          including themes
      %li
        %p
          Dynamic Tree widget plugin
          = link_to "<b>jquery.dynatree.js</b>", "http://github.com/kosmas58/jquery.dynatree.js" 
      %li
        %p
          Ribbon widget plugin
          = link_to "<b>jquery.ribbon.js</b>", "http://jqueryribbon.codeplex.com/" 
      %li
        %p
          Grid widget plugin
          = link_to "<b>jquery.jqGrid.js</b>", "http://github.com/tonytomov/jqGrid"
      %li
        %p
          jQTouch plugin  for the iPhone and iPod touch
          = link_to "<b>jquery.jqTouch.js</b>", "http://www.jqtouch.com"
          
  %h5.ui-widget-header.ui-corner-all
    Requirements
  %ul
    %li
      %p
        This library requires 
        = link_to "<b>Compass</b" , "http://wiki.github.com/chriseppstein/compass"
        \.        
    %li
      %p
        Get gem from 
        = link_to "<b>Gemcutter</b>", "http://gemcutter.org/gems/compass-jquery-plugin"
        \.      
    %li
      %p
        Get source from 
        = link_to "<b>github</b>", "http://github.com/kosmas58/compass-jquery-plugin"
        \.
    