= render :partial => "hello.js.haml", :format => :js

#widgetsAccordion
  %h3
    %a{ :href => "#" }
      compass-jquery-plugin
  %div
    %p
      A Sass-based Meta-Framework for Compass that allows you to mix and match any of the following:
  %h3
    %a{ :href => "#" }
      jQuery
  %div
    %ul
      %li
        %p
          = link_to "jquery-rails", "http://github.com/indirect/jquery-rails", :class=> :greybox
          with
          = link_to "jQuery 1.6.1", "http://jquery.com", :class=> :greybox
          and
          = link_to "jQuery UI 1.8.14", "http://jqueryui.com", :class=> :greybox
          including themes
  %h3
    %a{ :href => "#" }
      jQuery widget plugins
  %div
    %ul
      %li
        %p
          2 editor widget plugins:
        %ul
          %li
            %p
              = link_to "markItUp!", "http://markitup.jaysalvat.com/home/", :class=> :greybox
              javascript WYSIWYG editor plugin
          %li
            %p
              = link_to "TinyMCE", "http://tinymce.moxiecode.com/index.php", :class=> :greybox
              javascript WYSIWYG editor plugin
      %li
        %p
          iCalendar functionalities with:
        %ul
          %li
            = link_to raw("Any+Time&trade;"), "http://www.ama3.com/anytime/", :class=> :greybox
          %br
          %li
            = link_to "FullCalendar", "http://arshaw.com/fullcalendar/", :class=> :greybox
          %br
      %li
        %p
          = link_to "jQuery Grid", "http://github.com/tonytomov/jqGrid", :class=> :greybox
          widget plugin
      %li
        %p
          = link_to "jQuery Ribbon", "http://jqueryribbon.codeplex.com/", :class=> :greybox
          widget plugin
      %li
        %p
          = link_to "jQuery TOOLS", "http://github.com/jquerytools/jquerytools", :class=> :greybox
      %li
        %p
          2 tree widget plugins:
        %ul
          %li
            %p
              = link_to "Dynamic Tree", "http://code.google.com/p/dynatree/", :class=> :greybox
              widget plugin
          %li
            %p
              = link_to "jsTree", "http://jstree.com", :class=> :greybox
              widget plugin
  %h3
    %a{ :href => "#" }
      jQuery graphics plugins
  %div
    %ul
      %li
        %p
          = link_to "GanttView", "http://github.com/thegrubbsian/jquery.ganttView", :class=> :greybox
          plugin
      %li
        %p
          = link_to "Highcharts", "http://www.highcharts.com", :class=> :greybox
          plugin
      %li
        %p
          = link_to "Sparklines", "http://omnipotent.net/jquery.sparkline/", :class=> :greybox
          plugin
  %h3
    %a{ :href => "#" }
      jQuery on mobile devices
      %em
        (using pure haml/sass without compass)
  %div
    %ul
      %li
        %p
          = link_to "jQuery Mobile", "http://www.jquerymobile.com", :class=> :greybox
          framework for the mobile devices
      %li
        %p
          = link_to "jQTouch", "http://www.jqtouch.com", :class=> :greybox
          plugin for the iPhone and iPod touch
  %h3
    %a{ :href => "#" }
      Requirements
  %div
    %ul
      %li
        %p
          This library requires
          = link_to "Compass.", "http://wiki.github.com/chriseppstein/compass", :class=> :greybox
      %li
        %p
          Get gem from
          = link_to "Gemcutter.", "http://gemcutter.org/gems/compass-jquery-plugin", :class=> :greybox
      %li
        %p
          Get source from
          = link_to "github.", "http://github.com/kosmas58/compass-jquery-plugin", :class=> :greybox
#greybox
