%fieldset
  = fields.label :summary, 'What'
  = fields.text_field :summary
  = fields.label :start_date, 'Start Date'
  = fields.text_field :start_date
  = fields.label :start_time, 'Start Time'
  = fields.text_field :start_time
  = fields.label :end_date, 'End Date'
  = fields.text_field :end_date
  = fields.label :end_time, 'End Time'
  = fields.text_field :end_time