- form_for(@event, :url => events_url) do |f|
  = f.error_messages
  %fieldse
    .formrow.clearfix
      .span-4
        = f.label :summary
      .span-12
        = f.text_field :summary
    %br
    .formrow.clearfix
      .span-4
        = f.label :location
      .span-12
        = f.text_field :location
    %br
    .formrow.clearfix
      .span-4
        = f.label :start_date
      .span-4
        = f.text_field :start_date
      .span-4
        = f.label :start_time
      .span-4
        = f.text_field :start_time
    %br
    .formrow.clearfix
      .span-4
        = f.label :end_date
      .span-4
        = f.text_field :end_date
      .span-4
        = f.label :end_time
      .span-4
        = f.text_field :end_time
    %br
    .formrow.clearfix
      .span-4
        = f.label :description
      .span-12
        = f.text_area :description
  = f.submit "Save"

  
  