-@title = "#{t('txt.tools.name')} - #{t('txt.tools.ui.overlay.name')} - #{t('txt.tools.ui.overlay.demo08')}"
= render :partial => "demo08.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  %p
    Here you can see a customized "drop" overlay effect. We set up things similarly as in the
    basic setup, but we have modified the loading effect with our own:
  #triggers
    %img{:rel => "#mies1", :src => "/images/demo/tools/img/3445879840_7ca4b491e9_m.jpg"}
    %img{:rel => "#mies2", :src => "/images/demo/tools/img/3449388113_71a06b8548_m.jpg"}
  #mies1.simple_overlay
    %a.close
    %img{:src => "/images/demo/tools/img/3445879840_7ca4b491e9.jpg"}
      .details
        %h3
          The Barcelona Pavilion
        %h4
          Barcelona, Spain
        %p
          The Barcelona Pavilion, designed by Ludwig Mies van der Rohe, was the German Pavilion for the
          1929 International Exposition in Barcelona, Spain. It was an important building in the history
          of modern architecture.
        %p
          Several critics, historians and modernists have declared it "the most beautiful building of
          the century"
  #mies2.simple_overlay
    %a.close
    %img{:src => "/images/demo/tools/img/3449388113_71a06b8548.jpg"}
      .details
        %h3
          The Barcelona Pavilion
        %h4
          Barcelona, Spain
        %p
          Another unique feature of this building is the
          = succeed "." do
            %em
              exotic materials Mies chose to use
        %p
          Plates of high-grade stone materials like veneers of Tinos verde antico marble and golden
          onyx as well as tinted glass of grey, green, white, in addition to translucent glass, perform
          exclusively as spatial dividers.
/ End demo

.demo-description 
  #greybox
/ End demo-description
