:css
  .ui-state-error {
    min-width: 420px;
  }
  .ui-state-error .errorExplanation h2, .ui-state-error .errorExplanation p {
    font-size: normal;
    font-weight: bold;
  }
  .ui-state-error .errorExplanation ul li {
    font-size: normal;
  }
  
- form_for(@event, :url => widgets_ical_calendar_events_url) do |f|

  - if !flash[:error].blank?
    .ui-widget
      .ui-state-error.ui-corner-all{ :style => "padding: 0pt 0.7em;" }
        %p
          %span.ui-icon.ui-icon-alert{ :style => "float: left; margin-right: 0.3em" }
          = flash[:errore]
          
  - elsif !flash[:notice].blank?
    .ui-widget
      .ui-state-highlight.ui-corner-all{ :style => "padding: 0pt 0.7em;" }
        %p
          %span.ui-icon.ui-icon-info{ :style => "float: left; margin-right: 0.3em" }
          = flash[:notice]
  %p
    .span-4
      = f.label :summary
    .span-12
      %strong
        = @event.summary
  %br
  %p
    .span-4
      = f.label :location
    .span-12
      %strong
        = @event.location
  %br
  %p
    .span-4
      = f.label :start_date
    .span-4
      %strong
        = @event.start_date
    .span-4
      = f.label :start_time
    .span-4
      %strong
        = @event.start_time
  %br
  %p
    .span-4
      = f.label :end_date
    .span-4
      %strong
        = @event.end_date
    .span-4
      = f.label :end_time
    .span-4
      %strong
        = @event.end_time
  %br
  %p
    .span-4
      = f.label :description
    .span-12
      %strong
        = @event.description
  