:javascript
  function toogleStatus(){
    if ($("#event_all_day").is(':checked')) {
      $("#event_start_time").attr('disabled', true);
      $("#event_end_time").attr('disabled', true);
    } else {
      $("#event_start_time").removeAttr('disabled');
      $("#event_end_time").removeAttr('disabled');
    }  
  };    

  function initForm() {
    $('#event_all_day').live('change', function(){
      toogleStatus();
    }); 
  
    if (I18n.locale == "de") {
      var fmt1 = '%d.%m.%Y';
      var fmt2 = '%H:%i';
    } else {
      var fmt1 = '%m/%d/%Y';
      var fmt2 = '%H:%i';
    }
    
    //var conv1 = new AnyTime.Converter({format:fmt1});               
    //var conv2 = new AnyTime.Converter({format:fmt2});
    //var now = new Date();               
    //$('#event_start_date')[0].value = conv1.format( now );
    //$('#event_start_time')[0].value = conv2.format( now );
    $("#event_start_date").AnyTime_picker({ format: fmt1 });
    $("#event_start_time").AnyTime_picker({ format: fmt2 }); 
    $("#event_end_date").AnyTime_picker({ format: fmt1 });
    $("#event_end_time").AnyTime_picker({ format: fmt2 });
    
    toogleStatus(); 
  };
  
  $(document).ready(function() {    
    initForm();
  });

- form_for(@current_object, :url => jqical_calendar_events_url) do |f|
  = f.error_messages
  .formrow.clearfix
    %label.span-6{:for => :summary}
      = t('txt.jqical.event.summary')
      = t('txt.layout.colon')
    .span-17
      = f.text_field :summary, :size => 60
  %br
  .formrow.clearfix
    %label.span-6{:for => :location}
      = t('txt.jqical.event.location')
      = t('txt.layout.colon')
    .span-17
      = f.text_field :location, :size => 60
  %br
  .formrow.clearfix
    %label.span-6{:for => :starts_at}
      = t('txt.jqical.event.starts_at')
      = t('txt.layout.colon')
    .span-5
      = f.text_field :start_date, :size => 11
    .span-5
      = f.text_field :start_time, :size => 11
    .span-6
      = f.check_box :all_day
      %label{:for => :allday}
        = t('txt.jqical.event.all_day')
  %br
  .formrow.clearfix
    %label.span-6{:for => :ends_at}
      = t('txt.jqical.event.ends_at')
      = t('txt.layout.colon')
    .span-5
      = f.text_field :end_date, :size => 11
    .span-5
      = f.text_field :end_time, :size => 11
  %br
  .formrow.clearfix
    %label.span-6{:for => :description}
      = t('txt.jqical.event.description')
      = t('txt.layout.colon')
    .span-17
      = f.text_area :description, :cols => 60
  = f.submit "Save"
