-@title = "jQuery Mobile Docs - Events"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Events
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %p
        jQuery Mobile offers several custom events that build upon native events to create useful hooks for development. Note that these events employ various touch, mouse, and window events, depending on event existence, so you can bind to them for use in both handheld and desktop environments. You can bind to these events like you would with other jQuery events, using
        %code live()
        or
        = succeed "." do
          %code bind()
      %h2 Touch events
      %dl
        %dt
          %code tap
        %dd Triggers after a quick, complete touch event.
        %dt
          %code taphold
        %dd Triggers after a held complete touch event (close to one second).
        %dt
          %code swipe
        %dd Triggers when a horizontal drag of 30px or more (and less than 20px vertically) occurs within 1 second duration.
        %dt
          %code swipeleft
        %dd Triggers when a swipe event occurred moving in the left direction.
        %dt
          %code swiperight
        %dd Triggers when a swipe event occurred moving in the right direction.
      %h2 Orientation change event
      %dl
        %dt
          %code orientationchange
        %dd
          Triggers when a device orientation changes (by turning it vertically or horizontally). When bound to this event, your callback function can leverage a second argument, which contains an
          %code orientation
          property equal to either "portrait" or "landscape". These values are also added as classes to the HTML element, allowing you to leverage them in your CSS selectors. Note that we currently bind to the resize event when orientationChange is not natively supported.
      %h2 Scroll events
      %dl
        %dt
          %code scrollstart
        %dd Triggers when a scroll begins. Note that iOS devices freeze DOM manipulation during scroll, queuing them to apply when the scroll finishes. We're currently investigating ways to allow DOM manipulations to apply before a scroll starts.
      %dl
        %dt
          %code scrollstop
        %dd Triggers when a scroll finishes.
      %h2 Page show/hide events
      %p Whenever a page is shown or hidden in jQuery Mobile, two events are triggered on that page. The events triggered depend on whether that page is being shown or hidden, so when a page transition occurs, there are actually 4 events triggered: 2 for each page.
      %dl
        %dt
          %code pagebeforeshow
        %dd Triggered on the page being shown, before its transition begins.
        %dt
          %code pagebeforehide
        %dd Triggered on the page being hidden, before its transition begins.
        %dt
          %code pageshow
        %dd Triggered on the page being shown, after its transition completes.
        %dt
          %code pagehide
        %dd Triggered on the page being hidden, after its transition completes.
      %p
        Note that all four of these events expose a reference to either the next page (
        %code> nextPage
        ) or previous page (
        %code> prevPage
        ), depending on whether the page is being shown or hidden, and whether that next or previous page exists (the first ever page shown does not have a previous page to reference, but an empty jQuery object is provided just the same). You can access this reference via the second argument of a bound callback function. For example:
      %pre
        %code
          :preserve

            $('div').live('pageshow',function(event, ui){
              alert('This page was just hidden: '+ ui.prevPage);
            });

            $('div').live('pagehide',function(event, ui){
              alert('This page was just shown: '+ ui.nextPage);
            });
      %p
        Also, for these handlers to be invoked during the initial page load, you must bind them before jQuery Mobile executes.  This can be done in the
        %code mobileinit
        handler, as described on the
        %a{:href => "/mobile/docs/api/globalconfig"} global config
        page.
        %h2 Page initialization events
        %p
          Internally, jQuery Mobile auto-initializes plugins based on the markup conventions found in a given "page". For example, an
          %code input
          element with a
          %code type
          of
          %code range
          will automatically generate a custom slider control.
        %p This auto-initialization is controlled by the "page" plugin, which dispatches events before and after it executes, allowing you to manipulate a page either pre-or-post initialization, or even provide your own intialization behavior and prevent the auto-initializations from occuring. Note that these events will only fire once per "page", as opposed to the show/hide events, which fire every time a page is shown and hidden.
        %dl
          %dt
            %code pagebeforecreate
          %dd Triggered on the page being initialized, before initialization occurs.
          %dt
            %code pagecreate
          %dd Triggered on the page being initialized, after initialization occurs.
        %pre
          %code
            :preserve

              $('#aboutPage').live('pagebeforecreate',function(event){
                alert('This page was just inserted into the dom!');
              });

              $('#aboutPage').live('pagecreate',function(event){
                alert('This page was just enhanced by jQuery Mobile!');
              });
        %p
          Note that by binding to
          %code pagebeforecreate
          and returning
          = succeed "," do
            %code false
          you can prevent the page plugin from making its manipulations.
        %pre
          %code
            :preserve

              $('#aboutPage').live('pagebeforecreate',function(event){
                //run your own enhancement scripting here...
                return false;
              });

        .ui-body.ui-body-e
          %p
            %strong
              Note on Page IDs in Alpha 2 release (
              %em> no longer an issue
              ):
            In jQuery Mobile Alpha 2 and older, page elements utilized the
            %code ID
            attribute for storing the location from which they came. When you place an
            %code ID
            attribute on a page that is brought into jQuery Mobile's single-page environment through Ajax, jQuery Mobile wraps that page with a new "page"
            %code div
            element, preserving any CSS references to your
            = succeed "." do
              %code ID
            However, this means that your
            %code ID
            attribute is no longer on the "page" element, so you must keep this in mind when binding to page events (
            %code> pagebeforecreate
            ,
            = succeed "," do
              %code pagecreate
            etc). To avoid issues, try using a class if possible.
        %h2 Animation Events
        %p
          jQuery Mobile exposes the
          %code animationComplete
          plugin, which you can utilize after adding or removing a class that applies a CSS transition.
    / /content-secondary
    .content-secondary
      %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
        %h3 More in this section
        %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} API
          %li
            %a{:href => "/mobile/docs/api/globalconfig"} Configuring defaults
          %li{"data-theme" => "a"}
            %a{:href => "/mobile/docs/api/events"} Events
          %li
            %a{:href => "/mobile/docs/api/methods"} Methods &amp; Utilities
          %li
            %a{:href => "/mobile/docs/api/mediahelpers"} Responsive Layout
          %li
            %a{:href => "/mobile/docs/api/themes"} Theme framework
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
