-@title = "jQuery Mobile Docs - Methods"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Methods
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %p jQuery Mobile exposes several methods and properties on the $.mobile object for use in your applications.
      %dl
        %dt
          %code $.mobile.changePage
          (
          %em> method
          )
        %dd Programmatically change from one page to another. This method is used internally for the page loading and transitioning that occurs as a result of clicking a link or submitting a form, when those features are enabled.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code to
              (
              %em> string or object
              , required)
              %ul
                %li String: Absolute or relative URL. (&quot;about/us.html&quot;)
                %li
                  Object: jQuery collection object. (
                  %code> $("#about")
                  )
            %dd
              %code options
              (
              %em> object
              , optional)
              %ul
                %li
                  Properties:
                  %ul
                    %li
                      %code allowSamePageTransition
                      (
                      %em> boolean
                      ,	default:	false) By default, changePage() ignores requests to change to the current active page. Setting this option to true, allows the request to execute. Developers should note that some of the page transitions assume that the fromPage and toPage of a changePage request are different, so they may not animate as expected. Developers are responsible for either providing a proper transition, or turning it off for this specific case.
                    %li
                      %code changeHash
                      (
                      %em> boolean
                      ,	default:	true) Decides if the hash in the location bar should be updated.
                    %li
                      %code data
                      (
                      %em object
                      or	string,	default: undefined) The data to send with an Ajax page request.
                      %ul
                        %li Used only when the 'to' argument of changePage() is a URL.
                    %li
                      %code data-url
                      (string,	default: undefined) The URL to use when updating the browser location upon changePage completion.
                      If not specified, the value of the data-url attribute of the page element is used.
                    %li
                      %code pageContainer
                      (jQuery collection,	default:	$.mobile.pageContainer) Specifies the element that should contain the page.
                    %li
                      %code reloadPage
                      (
                      %em> boolean
                      , default: false) Forces a reload of a page, even if it is already in the DOM of the page container.
                      %ul
                        %li Used only when the 'to' argument of changePage() is a URL.
                    %li
                      %code reverse
                      (
                      %em> boolean
                      ,	default:	false) Decides what direction the transition will run when showing the page.
                    %li
                      %code showLoadMsg
                      (
                      %em> boolean
                      ,	default:	true) Decides whether or not to show the loading message when loading external pages.
                    %li
                      %code role
                      (
                      %em> string
                      ,	default:	undefined) The data-role value to be used when displaying the page. By default this is undefined which means rely on the value of the @data-role attribute defined on the element.
                    %li
                      %code transition
                      (
                      %em> string
                      ,	default:	$.mobile.defaultPageTransition)	The transition to use when showing the page.
                    %li
                      %code type
                      (
                      %em> string
                      , default: &quot;get&quot;) Specifies the method ("get" or "post") to use when making a page request.
                      %ul
                        %li Used only when the 'to' argument of changePage() is a URL.
        %dd
          Examples:
          %pre
            %code
              :preserve
                //transition to the "about us" page with a slideup transition
                $.mobile.changePage( "about/us.html", { transition: "slideup"} );
                //transition to the "search results" page, using data from a form with an ID of "search""
                $.mobile.changePage( "searchresults.php", {
                  type: "post",
                  data: $("form#search").serialize()
                });
                //transition to the "confirm" page with a "pop" transition without tracking it in history
                $.mobile.changePage( "../alerts/confirm.html", {
                  transition: "pop",
                  reverse: false,
                  changeHash: false
                });
        %dt
          %code $.mobile.loadPage
          (
          %em> method
          )
        %dd Load an external page, enhance its content, and insert it into the DOM. This method is called internally by the changePage() function when its first argument is a URL. This function does not affect the current active page so it can be used to load pages in the background. The function returns a deferred promise object that gets resolved after the page has been enhanced and inserted into the document.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code url
              (
              %em> string or object
              , required) A relative or absolute URL.
            %dd
              %code options
              (
              %em> object
              , optional)
              %ul
                %li
                  Properties:
                  %ul
                    %li
                      %code data
                      (
                      %em object
                      or	string,	default: undefined) The data to send with an Ajax page request.
                    %li
                      %code loadMsgDelay
                      (
                      %em> number (in ms)
                      , default: 50) Forced delay before the loading message is shown. This is meant to allow time for a page that has already been visited to be fetched from cache without a loading message.
                    %li
                      %code pageContainer
                      (jQuery collection,	default:	$.mobile.pageContainer) Specifies the element that should contain the page after it is loaded.
                    %li
                      %code reloadPage
                      (
                      %em> boolean
                      , default: false) Forces a reload of a page, even if it is already in the DOM of the page container.
                    %li
                      %code role
                      (
                      %em> string
                      ,	default:	undefined) The data-role value to be used when displaying the page. By default this is undefined which means rely on the value of the @data-role attribute defined on the element.
                    %li
                      %code type
                      (
                      %em> string
                      , default: &quot;get&quot;) Specifies the method ("get" or "post") to use when making a page request.
        %dd
          Examples:
          %pre
            %code
              :preserve
                //load the "about us" page into the DOM
                $.mobile.loadPage( "about/us.html" );
                //load a "search results" page, using data from a form with an ID of "search""
                $.mobile.loadPage( "searchresults.php", {
                  type: "post",
                  data: $("form#search").serialize()
                });
        %dt
          %code jqmData(), jqmRemoveData()
          (
          %em> method
          )
        %dd
          When working with jQuery Mobile,
          %code jqmData
          and
          %code jqmRemoveData
          should be used in place of jQuery core's
          %code data
          and
          %code removeData
          methods (note that this includes $.fn.data, $.fn.removeData, and the $.data, $.removeData, and $.hasData utilities), as they automatically incorporate getting and setting of namespaced data attributes (even if no namespace is currently in use).
        %dd
          %dl
            %dt
              %code ·
              Arguments:
            %dd
              See jQuery's
              %a{:href => "http://api.jquery.com/jQuery.data/"} data
              and
              %a{:href => "http://api.jquery.com/jQuery.removeData/"} removeData
              methods
            = succeed "Calling" do
              %strong Note:
            jqmData() with no argument will return
            = succeed "." do
              %code undefined
            This behavior is subject to change in future versions.
            %dt
              %code ·
              Also:
            %dd
              When finding elements by their jQuery Mobile data attribute, please use the custom selector
              = succeed "," do
                %code :jqmData()
              as it automatically incorporates namespaced data attributes into the lookup when they are in use. For example, instead of calling
              = succeed "," do
                %code $("div[data-role='page']")
              you should use
              = succeed "," do
                %code $("div:jqmData(role='page')")
              which internally maps to
              %code $("div[data-"+ $.mobile.ns +"role='page']")
              without forcing you to concatenate a namespace into your selectors manually.
        %dt
          %code $.mobile.showPageLoadingMsg
          (
          %em>
          )
        %dd Show the page loading message, which is configurable via $.mobile.loadingMessage.
        %dd
          Example:
          %pre
            %code
              :preserve
                //cue the page loader
                $.mobile.showPageLoadingMsg();
        %dt
          %code $.mobile.hidePageLoadingMsg
          (
          %em>
          )
        %dd Hide the page loading message, which is configurable via $.mobile.loadingMessage.
        %dd
          Example:
          %pre
            %code
              :preserve
                //cue the page loader
                $.mobile.hidePageLoadingMsg();
        %dt
          %code $.mobile.fixedToolbars.show
          (
          %em> method
          )
        %dd Utility method for displaying the fixed header and/or footer of the current active page within the viewport. Note that fixed headers/footers are never really hidden. Toggling the show/hide state of a toolbar is really toggling whether or not they are inline within the page content, or displayed within the viewport as if they were fixed.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code immediately
              (
              %em> boolean
              , optional) If true, any fixed header or footer for the current active page is displayed immediately within the viewport. If false or unspecified, the fixed header/footer will fade-in after a 100 millisecond delay. Note that other events such as a document resize or scroll event can result in an additional delay before the start of the header/footer display animation.
        %dd
          Example:
          %pre
            %code
              :preserve
                // Show fixed header/footer with a fade animation.
                $.mobile.fixedToolbars.show();
                // Show fixed header/footer immediately.
                $.mobile.fixedToolbars.show(true);
        %dt
          %code $.mobile.fixedToolbars.hide
          (
          %em> method
          )
        %dd Utility method for hiding the fixed header and/or footer of the current active page.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code immediately
              (
              %em> boolean
              , optional) If true, any fixed header or footer for the current active page is immediately placed inline (back in flow) with the page content, which means it will scroll along with the content and will only be visible when viewing the top or bottom of the page within the viewport. If false or unspecified, the fixed header/footer will fade-out after a 100 millisecond delay. Note that other events such as a document resize or scroll event can result in the header/footer being immediately hidden.
        %dd
          Example:
          %pre
            %code
              :preserve
                // Hide fixed header/footer with a fade animation.
                $.mobile.fixedToolbars.hide();
                // Hide fixed header/footer immediately.
                $.mobile.fixedToolbars.hide(true);
        %dt
          %code $.mobile.path.parseUrl
          (
          %em> method
          )
        %dd Utility method for parsing a URL and its relative variants into an object that makes accessing the components of the URL easy. When parsing relative variants, the resulting object will contain empty string values for missing components (like protocol, host, etc). Also, when parsing URLs that have no authority, such as tel: urls, the pathname property of the object will contain the data after the protocol/scheme colon.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code url
              (
              %em> string
              , required) A relative or absolute URL.
            %dt
              %code ·
              Return Value
            %dd
              %p This function returns an object that contains the various components of the URL as strings. The properties on the object mimic the browser's location object:
              %dl
                %dt
                  %code hash
                %dd The fragment conponent of the URL, including the leading '#' character.
                %dt
                  %code host
                %dd The host and port number of the URL.
                %dt
                  %code hostname
                %dd The name of the host within the URL.
                %dt
                  %code href
                %dd The original URL that was parsed.
                %dt
                  %code pathname
                %dd The path of the file or directory referenced by the URL.
                %dt
                  %code port
                %dd The port specified within the URL. Most URLs rely on the default port for the protocol used, so this may be an empty string most of the time.
                %dt
                  %code protocol
                %dd The protocol for the URL including the trailing ':' character.
                %dt
                  %code search
                %dd The query component of the URL including the leading '?' character.
              %p But it also contains additional properties that provide access to additional components as well as some common forms of the URL developers access:
              %dl
                %dt
                  %code authority
                %dd The username, password, and host components of the URL
                %dt
                  %code directory
                %dd The directory component of the pathname, minus any filename.
                %dt
                  %code domain
                %dd The protocol and authority components of the URL.
                %dt
                  %code filename
                %dd The filename within the pathname component, minus the directory.
                %dt
                  %code hrefNoHash
                %dd The original URL minus the fragment (hash) components.
                %dt
                  %code hrefNoSearch
                %dd The original URL minus the query (search) and fragment (hash) components.
                %dt
                  %code password
                %dd The password contained within the authority component.
                %dt
                  %code username
                %dd The username contained within the authority component.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Parsing the Url below results an object that is returned with the
                // following properties:
                //
                //  obj.href:         http://jblas:password@mycompany.com:8080/mail/inbox?msg=1234&amp;type=unread#msg-content
                //  obj.hrefNoHash:   http://jblas:password@mycompany.com:8080/mail/inbox?msg=1234&amp;type=unread
                //  obj.hrefNoSearch: http://jblas:password@mycompany.com:8080/mail/inbox
                //  obj.domain:       http://jblas:password@mycompany.com:8080
                //  obj.protocol:     http:
                //  obj.authority:    jblas:password@mycompany.com:8080
                //  obj.username:     jblas
                //  obj.password:     password
                //  obj.host:         mycompany.com:8080
                //  obj.hostname:     mycompany.com
                //  obj.port:         8080
                //  obj.pathname:     /mail/inbox
                //  obj.directory:    /mail/
                //  obj.filename:     inbox
                //  obj.search:       ?msg=1234&amp;type=unread
                //  obj.hash:         #msg-content
                var obj = $.mobile.path.parseUrl("http://jblas:password@mycompany.com:8080/mail/inbox?msg=1234");
        %dt
          %code $.mobile.path.makePathAbsolute
          (
          %em> method
          )
        %dd Utility method for converting a relative file or directory path into an absolute path.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code relPath
              (
              %em> string
              , required) A relative file or directory path.
            %dd
              %code absPath
              (
              %em> string
              , required) An absolute file or relative path to resolve against.
            %dt
              %code ·
              Return Value
            %dd This function returns a string that is an absolute version of the relative path passed in.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Returns: /a/b/c/file.html
                var absPath = $.mobile.path.makePathAbsolute("file.html", "/a/b/c/bar.html");
                // Returns: /a/foo/file.html
                var absPath = $.mobile.path.makePathAbsolute("../../foo/file.html", "/a/b/c/bar.html");
        %dt
          %code $.mobile.path.makeUrlAbsolute
          (
          %em> method
          )
        %dd Utility method for converting a relative URL to an absolute URL.
        %dd
          %dl
            %dt Arguments
            %dd
              %code relUrl
              (
              %em> string
              , required) A relative URL.
            %dd
              %code absUrl
              (
              %em> string
              , required) An absolute URL to resolve against.
            %dt Return Value
            %dd This function returns a string that is an absolute version of the relative URL passed in.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Returns: http://foo.com/a/b/c/file.html
                var absUrl = $.mobile.path.makeUrlAbsolute("file.html", "http://foo.com/a/b/c/test.html");
                // Returns: http://foo.com/a/foo/file.html
                var absUrl = $.mobile.path.makeUrlAbsolute("../../foo/file.html", "http://foo.com/a/b/c/test.html");
                // Returns: http://foo.com/bar/file.html
                var absUrl = $.mobile.path.makeUrlAbsolute("//foo.com/bar/file.html", "http://foo.com/a/b/c/test.html");
                // Returns: http://foo.com/a/b/c/test.html?a=1&amp;b=2
                var absUrl = $.mobile.path.makeUrlAbsolute("?a=1&amp;b=2", "http://foo.com/a/b/c/test.html");
                // Returns: http://foo.com/a/b/c/test.html#bar
                var absUrl = $.mobile.path.makeUrlAbsolute("#bar", "http://foo.com/a/b/c/test.html");
        %dt
          %code $.mobile.path.isSameDomain
          (
          %em> method
          )
        %dd Utility method for comparing the domain of 2 URLs.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code url1
              (
              %em> string
              , required) A relative URL.
            %dd
              %code url2
              (
              %em> string
              , required) An absolute URL to resolve against.
            %dt Return Value
            %dd This function returns a boolean true if the domains match, false if they don't.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Returns: true
                var same = $.mobile.path.isSameDomain("http://foo.com/a/file.html", "http://foo.com/a/b/c/test.html");
                // Returns: false
                var same = $.mobile.path.isSameDomain("file://foo.com/a/file.html", "http://foo.com/a/b/c/test.html");
                // Returns: false
                var same = $.mobile.path.isSameDomain("https://foo.com/a/file.html", "http://foo.com/a/b/c/test.html");
                // Returns: false
                var same = $.mobile.path.isSameDomain("http://foo.com/a/file.html", "http://bar.com/a/b/c/test.html");
        %dt
          %code $.mobile.path.isRelativeUrl
          (
          %em> method
          )
        %dd Utility method for determining if a URL is a relative variant.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code url
              (
              %em> string
              , required) A relative or absolute URL.
            %dt
              %code ·
              Return Value
            %dd This function returns a boolean true if the URL is relative, false if it is absolute.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Returns: false
                var isRel = $.mobile.path.isRelativeUrl("http://foo.com/a/file.html");
                // Returns: true
                var isRel = $.mobile.path.isRelativeUrl("//foo.com/a/file.html");
                // Returns: true
                var isRel = $.mobile.path.isRelativeUrl("/a/file.html");
                // Returns: true
                var isRel = $.mobile.path.isRelativeUrl("file.html");
                // Returns: true
                var isRel = $.mobile.path.isRelativeUrl("?a=1&amp;b=2");
                // Returns: true
                var isRel = $.mobile.path.isRelativeUrl("#foo");
        %dt
          %code $.mobile.path.isAbsoluteUrl
          (
          %em> method
          )
        %dd Utility method for determining if a URL is absolute.
        %dd
          %dl
            %dt
              %code ·
              Arguments
            %dd
              %code url
              (
              %em> string
              , required) A relative or absolute URL.
            %dt
              %code ·
              Return Value
            %dd This function returns a boolean true if the URL is absolute, false if it is absolute.
        %dd
          Examples:
          %pre
            %code
              :preserve
                // Returns: true
                var isAbs = $.mobile.path.isAbsoluteUrl("http://foo.com/a/file.html");
                // Returns: false
                var isAbs = $.mobile.path.isAbsoluteUrl("//foo.com/a/file.html");
                // Returns: false
                var isAbs = $.mobile.path.isAbsoluteUrl("/a/file.html");
                // Returns: false
                var isAbs = $.mobile.path.isAbsoluteUrl("file.html");
                // Returns: false
                var isAbs = $.mobile.path.isAbsoluteUrl("?a=1&amp;b=2");
                // Returns: false
                var isAbs = $.mobile.path.isAbsoluteUrl("#foo");
        %dt
          %code $.mobile.base
          (
          %em> methods, properties
          )
        %dd Utilities for working with generated base element. TODO: document as public API is finalized.
        %dt
          %code $.mobile.silentScroll
          (
          %em> method
          )
        %dd Scroll to a particular Y position without triggering scroll event listeners.
        %dd
          %dl
            %dt
              %code ·
              Arguments:
            %dd
              %code yPos
              (
              %em> number
              , defaults to 0). Pass any number to scroll to that Y location.
        %dd
          Examples:
          %pre
            %code
              :preserve
                //scroll to Y 100px
                $.mobile.silentScroll(100);
        %dt
          %code $.mobile.activePage
          (
          %em> property
          )
        %dd Reference to the page currently in view.
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} API
            %li
              %a{:href => "/mobile/docs/api/globalconfig"} Configuring defaults
            %li
              %a{:href => "/mobile/docs/api/events"} Events
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/api/methods"} Methods &amp; Utilities
            %li
              %a{:href => "/mobile/docs/api/themes"} Theme framework
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
