-@title = "jQuery Mobile Docs - Methods"
= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header"}
    %h1 Methods
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  %div{"data-role" => "content"}
    %p jQuery Mobile exposes several methods and properties on the $.mobile object for use in your applications.
    %dl
      %dt
        %code $.mobile.changePage
        (
        %em> method
        )
      %dd Programmatically change from one page to another. This method is used internally for the page loading and transitioning that occurs as a result of clicking a link or submitting a form, when those features are enabled.
      %dd
        %dl
          %dt Arguments
          %dd
            %code to
            (
            %em> string or object
            , required)
            %ul
              %li String: Absolute or relative URL. (&quot;about/us.html&quot;)
              %li
                Object: jQuery collection object. (
                %code> $("#about")
                )
          %dd
            %code options
            (
            %em> object
            , optional)
            %ul
              %li
                Properties:
                %ul
                  %li
                    %code transition
                    (
                    %em> string
                    ,	default:	$.mobile.defaultPageTransition)	The transition to use when showing the page.
                  %li
                    %code reverse
                    (
                    %em> boolean
                    ,	default:	false) Decides what direction the transition will run when showing the page.
                  %li
                    %code changeHash
                    (
                    %em> boolean
                    ,	default:	true) Decides if the hash in the location bar should be updated.
                  %li
                    %code role
                    (
                    %em> string
                    ,	default:	undefined) The data-role value to be used when displaying the page. By default this is undefined which means rely on the value of the @data-role attribute defined on the element.
                  %li
                    %code pageContainer
                    (jQuery collection,	default:	$.mobile.pageContainer) Specifies the element that should contain the page.
                  %li
                    %code type
                    (
                    %em> string
                    , default: &quot;get&quot;) Specifies the method ("get" or "post") to use when making a page request.
                    %ul
                      %li Used only when the 'to' argument of changePage() is a URL.
                  %li
                    %code data
                    (
                    %em object
                    or	string,	default: undefined) The data to send with an Ajax page request.
                    %ul
                      %li Used only when the 'to' argument of changePage() is a URL.
                  %li
                    %code reloadPage
                    (
                    %em> boolean
                    , default: false) Forces a reload of a page, even if it is already in the DOM of the page container.
                    %ul
                      %li Used only when the 'to' argument of changePage() is a URL.
      %dd
        Examples:
        %pre
          %code
            %strong //transition to the "about us" page with a slideup transition
            $.mobile.changePage( "about/us.html", { transition: "slideup"} );
            %strong //transition to the "search results" page, using data from a form with an ID of "search""
            $.mobile.changePage( "searchresults.php", {
            type: "post",
            data: $("form#search").serialize()
            });
            %strong //transition to the "confirm" page with a "pop" transition without tracking it in history
            $.mobile.changePage( "../alerts/confirm.html", {
            transition: "pop",
            reverse: false,
            changeHash: false
            });
      %dt
        %code $.mobile.loadPage
        (
        %em> method
        )
      %dd Load an external page, enhance its content, and insert it into the DOM. This method is called internally by the changePage() function when its first argument is a URL. This function does not affect the current active page so it can be used to load pages in the background. The function returns a deferred promise object that gets resolved after the page has been enhanced and inserted into the document.
      %dd
        %dl
          %dt Arguments
          %dd
            %code url
            (
            %em> string or object
            , required) A relative or absolute URL.
          %dd
            %code options
            (
            %em> object
            , optional)
            %ul
              %li
                Properties:
                %ul
                  %li
                    %code role
                    (
                    %em> string
                    ,	default:	undefined) The data-role value to be used when displaying the page. By default this is undefined which means rely on the value of the @data-role attribute defined on the element.
                  %li
                    %code pageContainer
                    (jQuery collection,	default:	$.mobile.pageContainer) Specifies the element that should contain the page after it is loaded.
                  %li
                    %code type
                    (
                    %em> string
                    , default: &quot;get&quot;) Specifies the method ("get" or "post") to use when making a page request.
                  %li
                    %code data
                    (
                    %em object
                    or	string,	default: undefined) The data to send with an Ajax page request.
                  %li
                    %code reloadPage
                    (
                    %em> boolean
                    , default: false) Forces a reload of a page, even if it is already in the DOM of the page container.
      %dd
        Examples:
        %pre
          %code
            %strong //load the "about us" page into the DOM
            $.mobile.loadPage( "about/us.html" );
            %strong //load a "search results" page, using data from a form with an ID of "search""
            $.mobile.loadPage( "searchresults.php", {
            type: "post",
            data: $("form#search").serialize()
            });
      %dt
        %code jqmData(), jqmRemoveData(), and jqmHasData()
        (
        %em> method
        )
      %dd
        When working with jQuery Mobile,
        %code jqmData
        and
        %code jqmRemoveData
        should be used in place of jQuery core's
        %code data
        and
        %code removeData
        methods (note that this includes $.fn.data, $.fn.removeData, and the $.data, $.removeData, and $.hasData utilities), as they automatically incorporate getting and setting of namespaced data attributes (even if no namespace is currently in use).
      %dd
        %dl
          %dt Arguments:
          %dd
            See jQuery's
            %a{:href => "http://api.jquery.com/jQuery.data/"} data
            and
            %a{:href => "http://api.jquery.com/jQuery.removeData/"} removeData
            methods
          %dt Also:
          %dd
            When finding elements by their jQuery Mobile data attribute, please use the custom selector
            = succeed "," do
              %code :jqmData()
            as it automatically incorporates namespaced data attributes into the lookup when they are in use. For example, instead of calling
            = succeed "," do
              %code $("div[data-role='page']")
            you should use
            = succeed "," do
              %code $("div:jqmData(role='page')")
            which internally maps to
            %code $("div[data-"+ $.mobile.ns +"role='page']")
            without forcing you to concatenate a namespace into your selectors manually.
      %dt
        %code $.mobile.showPageLoadingMsg
        (
        %em>
        )
      %dd Show the page loading message, which is configurable via $.mobile.loadingMessage.
      %dd
        Example:
        %pre
          %code
            %strong //cue the page loader
            $.mobile.showPageLoadingMsg();
      %dt
        %code $.mobile.hidePageLoadingMsg
        (
        %em>
        )
      %dd Hide the page loading message, which is configurable via $.mobile.loadingMessage.
      %dd
        Example:
        %pre
          %code
            %strong //cue the page loader
            $.mobile.hidePageLoadingMsg();
      %dt
        %code $.mobile.path
        (
        %em> methods, properties
        )
      %dd Utilities for getting, setting, and manipulating url paths. TODO: document as public API is finalized.
      %dt
        %code $.mobile.base
        (
        %em> methods, properties
        )
      %dd Utilities for working with generated base element. TODO: document as public API is finalized.
      %dt
        %code $.mobile.silentScroll
        (
        %em> method
        )
      %dd Scroll to a particular Y position without triggering scroll event listeners.
      %dd
        %dl
          %dt Arguments:
          %dd
            %code yPos
            (
            %em> number
            , defaults to 0). Pass any number to scroll to that Y location.
      %dd
        Examples:
        %pre
          %code
            %strong //scroll to Y 100px
            $.mobile.silentScroll(100);
      %dt
        %code $.mobile.addResolutionBreakpoints
        (
        %em> method
        )
      %dd Add width breakpoints to the min/max width classes that are added to the HTML element.
      %dd
        %dl
          %dt Arguments:
          %dd
            %code values
            (
            %em> number or array
            ). Pass any number or array of numbers to add to the resolution classes. Read more about this feature here:
            = succeed "." do
              %a{:href => "/mobile/docs/api/mediahelpers"} Orientation &amp; resolution targeting
      %dd
        Examples:
        %pre
          %code
            %strong //add a 400px breakpoint
            $.mobile.addResolutionBreakpoints(400);
            %strong //add 2 more breakpoints
            $.mobile.addResolutionBreakpoints([600,800]);
      %dt
        %code $.mobile.activePage
        (
        %em> property
        )
      %dd Reference to the page currently in view.
  / /content
/ /page
