%input{:style => "height:22px;width:20px;", :type => "button", :value => "E", :onclick => "$('##{demo}').jqGrid('editRow','#{id}');"}
%input{:style => "height:22px;width:20px;", :type => "button", :value => "S", :onclick => "$('##{demo}').jqGrid('saveRow','#{id}');"}
%input{:style => "height:22px;width:20px;", :type => "button", :value => "C", :onclick => "$('##{demo}').jqGrid('restoreRow','#{id}');"}
