%a{:onclick => "$('##{demo}').jqGrid('editRow','#{id}');"}
  %img{:alt => 'Edit row', :border =>'0', :src => '/images/icons/16x16/edit.png', :title => 'Edit row'}
%a{:onclick => "$('##{demo}').jqGrid('saveRow','#{id}');"}
  %img{:alt => 'Save row', :border =>'0', :src => '/images/icons/16x16/save.png', :title => 'Save row'}
%a{:onclick => "$('##{demo}').jqGrid('restoreRow','#{id}');"}
  %img{:alt => 'Restore row', :border =>'0', :src => '/images/icons/16x16/restore.png', :title => 'Restore row'}
  
