<table id='<%= name %>_grid' class="scroll sauceGrid" gridOptions='<%= options.to_json %>' navOptions='<%= nav.to_json %>'></table>
<div id="<%= name %>_grid_pager" class="scroll" style="text-align:center;"></div>
<% if actions %>
  <% if actions.include?(:destroy)%>
    <div id="<%= name %>_destroy_dialog" class="sauceGridDialog" action="delete" authenticity_token="<%= form_authenticity_token %>"></div>
  <% end %>
  <% if actions.include?(:update) %>
    <div id="<%= name %>_update_dialog" class="sauceGridDialog" action="edit" style="display: none;"></div>
  <% end %>
  <% if actions.include?(:create) %>
    <div id="<%= name %>_create_dialog" class="sauceGridDialog" action="new" style="display: none;"></div>
  <% end %>
<% end %>
<% if associations %>
  <% associations.each do |k,v| %>
    <div id="<%= k.to_s %>_table_dialog"></div>
  <% end %>
<% end %>