-@title = "jQuery Mobile: Demos and Documentation"

- content_for :content_custom_scripts do
  = render(:partial => "/mobile/experiments/scrollview.css.js.haml", :format => :js)
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)
  = render(:partial => "direction.js.haml", :format => :js)
  = render(:partial => "/mobile/experiments/scrollview.js.haml", :format => :js)

#jqm{"data-role" => "page"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Scroll View Direction Locking
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/scrollview", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %h4 Scrollview
    %p To turn an element into a scrollview, simply add a data-scroll="true" to the element. By default, a scrollview can scroll in both the horizontal and vertical directions. If the user drags the view horizontally (left or right), or vertically (up or down), scrolling will be locked so that it only scrolls in that one dimension. If the user drags the view diagonally, he will be able to scroll in both directions at the same time.
    .threeByThree{"data-scroll" => "true"}
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
    %p When there are nested scrollviews, if the user drags in a single dimension and hits either end of the view, the drag will be propagated up to the next outer scrollview that can handle a drag in that dimension. So for example, if you drag the scrollview above so that it reaches the top of its view, the entire page will start to scroll upward if you continue dragging. This is because the drag was propagated from the scrollview with the letters in it, out to the scrollview containing the entire content for the page.
    %h4 Horizontal Scrollview
    %p A scrollview can be set up so that it only scrolls in the horizontal direction. Simply place a data-scroll=&quot;x&quot; on the element you want to scroll:
    .threeByThree{"data-scroll" => "x"}
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
    %h4 Vertical Scrollview
    %p A scrollview can be set up so that it only scrolls in the vertical direction. Simply place a data-scroll=&quot;y&quot; on the element you want to scroll:
    .threeByThree{"data-scroll" => "y"}
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
    %h4 Scrollview Paging
    %p A scrollview can be set up so that it scrolls by pages. This feature is only enabled for horizontal or vertical scrollviews. Use data-scroll=&quot;xp&quot; or data-scroll=&quot;yp&quot; to turn on paging. The following scrollview pages horizontally.
    #ex4.threeByThree{"data-scroll" => "xp"}
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
      .square z
      .square 0
      .square 1
      .square 2
      .square 3
      .square 4
      .square 5
      .square 6
      .square 7
      .square 8
      .square 9
      .square a
      .square b
      .square c
      .square d
      .square e
      .square f
      .square g
      .square h
      .square i
      .square j
      .square k
      .square l
      .square m
      .square n
      .square o
      .square p
      .square q
      .square r
      .square s
      .square t
      .square u
      .square v
      .square w
      .square x
      .square y
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p &nbsp;
    %p
  / /content
/ /page
