-@title = "jQuery Mobile: Demos and Documentation"

= render :partial => "/mobile/experiments/scrollview.css.haml"
= render :partial => "/mobile/docs/docs.html.haml"
= render :partial => "nested.css.haml"
= render :partial => "/mobile/experiments/scrollview.js.haml", :format => :js

#jqm{"data-role" => "page"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Nested Scroll Views
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/scrollview", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %h4 Example 1
    %p In the following example the #4 is actually a vertical scrollview embedded within a horizontal scrollview.
    .double-block-view-h{"data-scroll" => "x"}
      .view
        .square 1
        .square 2
        .square 3
        .square.single-block-view-v{"data-scroll" => "y"}
          .view
            .square 4
            .square A
            .square B
            .single-block-view-h{"data-scroll" => "x"}
              .view
                .square C
                .square @
                .square #
                .square $
                .square %
                .square &amp;
                .square *
            .square D
            .square E
            .square F
        .square 5
        .square 6
        .square 7
    %h4 Example 2
    %p In the following example the #4 is actually a nested horizontal scrollview embedded within a horizontal scrollview. The idea here is that if you drag-scroll the nested scrollview, once it reaches either end of its view, it should start scrolling the outer view.
    .double-block-view-h{"data-scroll" => "x"}
      .view
        .square 1
        .square 2
        .square 3
        .square.single-block-view-h{"data-scroll" => "x"}
          .view
            .square 4
            .square A
            .square B
            .square C
            .square D
            .square E
            .square F
        .square 5
        .square 6
        .square 7
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
    %p &nbsp;
    %p
  / /content
/ /page
