-@title = "Scrollview Test 02 - Scrollview Events Test"

- content_for :content_head do
  = render(:partial => "scrollview1.js.haml", :format => :js)
  :css
    #evtCatcher {
      border: solid 1px black;
      background-color: #FF9;
      padding: 10px;	
      height: 300px;
    }
    #evtCatcher .ui-scrollview-view {
      padding: 10px;
    }
    }
  = render(:partial => "scrollview2.js.haml", :format => :js)
  :javascript
    $("[data-role=page]").live("pageshow", function(event) {
      var $page = $(this);
      $page.find("[data-scroll]:not(.ui-scrollview-clip)").each(function(){
          var $this = $(this);
          // XXX: Remove this check for ui-scrolllistview once we've
          //      integrated list divider support into the main scrollview class.
          if ($this.hasClass("ui-scrolllistview"))
              $this.scrolllistview();
          else
          {
              var st = $this.data("scroll") + "";
              var paging = st && st.search(/^[xy]p$/) != -1;
              var dir = st && st.search(/^[xy]/) != -1 ? st.charAt(0) : null;
    
              var opts = {};
              if (dir)
                  opts.direction = dir;
              if (paging)
                  opts.pagingEnabled = true;
    
              $this.scrollview(opts);
          }
      });
    });
    
    var cb_hd_pd,
        cb_hd_sp,
        cb_hm_pd,
        cb_hm_sp,
        cb_hu_pd,
        cb_hu_sp;
    
    var hd = $.mobile.scrollview.prototype._handleDragStart;
    var hm = $.mobile.scrollview.prototype._handleDragMove;
    var hu = $.mobile.scrollview.prototype._handleDragStop;
    
    function getDummyEvent(o)
    {
    /*
      var obj = new Object;
      for (var k in o)
          obj[k] = o[k];
      return obj;
    */
      return { _pd: false, _sp: false, preventDefault: function(){ this._pd = true; }, stopPropagation: function(){ this._sp = true; }};
    }
    
    function updateEvent(e, cb_pd, cb_sp)
    {
      if (cb_pd.checked)
          e.preventDefault();
      if (cb_sp.checked)
          e.stopPropagation();
    }
    
    $.mobile.scrollview.prototype._handleDragStart = function(e,x,y)
    {
      hd.call(this, getDummyEvent(e), x, y);
      updateEvent(e, cb_hd_pd, cb_hd_sp);
    };
    
    $.mobile.scrollview.prototype._handleDragMove = function(e,x,y)
    {
      hm.call(this, getDummyEvent(e), x, y);
      updateEvent(e, cb_hm_pd, cb_hm_sp);
    };
    
    $.mobile.scrollview.prototype._handleDragStop = function(e)
    {
      hu.call(this, getDummyEvent(e));
      updateEvent(e, cb_hu_pd, cb_hu_sp);
    };
    
    $(function(){
      cb_hd_pd = $("#cb_hd_pd")[0];
      cb_hd_sp = $("#cb_hd_sp")[0];
      cb_hm_pd = $("#cb_hm_pd")[0];
      cb_hm_sp = $("#cb_hm_sp")[0];
      cb_hu_pd = $("#cb_hu_pd")[0];
      cb_hu_sp = $("#cb_hu_sp")[0];
    });

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Scroll View Events Test
  / /header
  %div{"data-role" => "content"}
    %h3 Test
    %p This page wraps the _handleDragStart, _handleDragMove, and _handleDragStop events of the scrollview widget so that the checkboxes below can determine how the native event is treated. You can use this page to figure out what events need to be caught and what special treatment is necessary to prevent native scrolling. You can also test the effect of that treatment on form elements within the sample scrollview.
    %div{"data-role" => "fieldcontain"}
      %fieldset{"data-role" => "controlgroup"}
        %input#cb_hd_pd{:name => "cb_hd_pd", :type => "checkbox"}/
        %label{:for => "cb_hd_pd"} touchstart - Prevent Default
        %input#cb_hd_sp{:name => "cb_hd_sp", :type => "checkbox"}/
        %label{:for => "cb_hd_sp"} touchstart - Stop Propagation
        %input#cb_hm_pd{:name => "cb_hm_pd", :type => "checkbox"}/
        %label{:for => "cb_hm_pd"} touchmove - Prevent Default
        %input#cb_hm_sp{:name => "cb_hm_sp", :type => "checkbox"}/
        %label{:for => "cb_hm_sp"} touchmove - Stop Propagation
        %input#cb_hu_pd{:name => "cb_hu_pd", :type => "checkbox"}/
        %label{:for => "cb_hu_pd"} touchstop - Prevent Default
        %input#cb_hu_sp{:name => "cb_hu_sp", :type => "checkbox"}/
        %label{:for => "cb_hu_sp"} touchstop - Stop Propagation
    #evtCatcher{"data-scroll" => "y"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "tf1"} Textfield
        %input#tf1{:name => "tf1", :type => "textfield"}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "ta1"} Textarea
        %textarea#ta1{:cols => "10", :name => "ta1", :rows => "5"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "ta1"} Select
        %select#s1{:name => "s1", :value => "1"}
          %option{:value => "1"} Option 1
          %option{:value => "2"} Option 2
          %option{:value => "3"} Option 3
          %option{:value => "4"} Option 4
          %option{:value => "5"} Option 5
      %div{"data-role" => "fieldcontain"}
        %label{:for => "ta1"} Button
        %input#b1{:name => "b1", :type => "button", :value => "Button"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %input#cb1{:name => "cb1", :type => "checkbox"}/
          %label{:for => "cb1"} Checkbox 1
          %input#cb2{:name => "cb2", :type => "checkbox"}/
          %label{:for => "cb2"} Checkbox 2
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p &nbsp;
      %p
    %h3 Disabling Native Scrolling
    %p
      In order to get faux scrolling to work, we need to prevent the native viewport scrolling from happening. Unfortunately the way you prevent this from happening differs on some mobile webkit platforms. Below is a table that shows what event needs to be caught, and what methods (preventDefault() and/or stopPropagation()) need to be called on that event to prevent native scrolling.
      %table{:border => "1"}
        %tr
          %th Device/OS
          %th D-PD
          %th D-SP
          %th M-PD
          %th M-SP
          %th U-PD
          %th U-SP
        %tr
          %th iOS 3.2
          %th
          %th
          %th X
          %th
          %th
          %th
        %tr
          %th DroidX/Android 2.2
          %th X
          %th
          %th
          %th
          %th
          %th
        %tr
          %th HTC Incredible/Android 2.1
          %th X
          %th X
          %th
          %th
          %th
          %th
        %tr
          %th BB Torch/OS 6
          %th
          %th
          %th X
          %th
          %th
          %th
      %h4 Notes
      %ul
        %li The HTC Incredible seems to have a bug that triggers occassionally, where timers will be suspended until the viewport is scrolled.
        %li On Android devices, calling preventDefault() on the touchstart event, prevents form elements from getting click events and focus.
        %li On iOS, clicking and dragging within a form element (like textfield/textarea) will always cause the viewport to scroll, event if preventDefault() and stopPropagation() are called on both touchstart and touchmove events.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        %em Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
        = succeed "," do
          %code commodo vitae
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.Donec non enim in turpis pulvinar facilisis. Ut felis.
      %p &nbsp;
      %p
  / /content
/ /page
