-@title = "#{t('txt.dt.name')} - #{t('txt.dt.select')}"

- content_for :content_head do
  = render(:partial => "select.js.haml", :format => :js)
  = render(:partial => "skin.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render(:partial => "skin_form")
  
  #tabs
    %ul
      %li
        %a{ :href => "#tabs-1" }
          Single-selection
      %li
        %a{ :href => "#tabs-2" }
          Multi-selection
      %li
        %a{ :href => "#tabs-3" }
          Hierarchical multi-selection
      %li
        %a{ :href => "#tabs-4" }
          No checkboxes
    #tabs-1
      .demo
        #tree1
        %div
          Active node:
          %span#echoActive1
            -
        %div
          Selection:
          %span#echoSelection1
            -
      .demo-description
        %p
          This tree has
          %b
            checkoxes and selectMode 1 (single-selection) enabled.
          %br
          A double-click handler selects a
          %i
            document
          node (not folders).
          %br
          A keydown handler selects on [space].
          %br
          The
          %code
            checkbox
          class name was customized, to display radio buttons.
          %br
          Note: the initialization data contains multiple selected nodes. This is considered bad input data and
          %b
            not
          fixed automatically (only on the first click).
      / End demo-description
    #tabs-2
      .demo
        .toolbar.ui-widget-header.ui-corner-all
          %button#btnSelectAll{ :href => "#" }
            Select all
          %button#btnDeselectAll{ :href => "#" }
            Deselect all
          %button#btnToggleSelect{ :href => "#" }
            Toggle select
        #tree2
        %div
          Selected keys:
          %span#echoSelection2
      .demo-description
        %p
          This tree has
          %b
            selectMode 2 (multi-selection)
          enabled.
          %br
          A single-click handler selects the node.
          %br
          A keydown handler selects on [space].
      / End demo-description
    #tabs-3
      .demo
        #tree3
        %div
          Selected keys:
          %span#echoSelection3
            -
        %div
          Selected root keys:
          %span#echoSelectionRootKeys3
            -
        %div
          Selected root nodes:
          %span#echoSelectionRoots3
            -
      
      .demo-description
        This tree has
        %b
          checkoxes and selectMode 3 (hierarchical multi-selection)
        enabled.
        %br
        A double-click handler selects the node.
        %br
        A keydown handler selects on [space].
      / End demo-description
    #tabs-4
      .demo
        #tree4
        %div
          Selected keys:
          %span#echoSelection4
            -
      
      .demo-description
        %p
          This tree has selectMode 2 (multi-selection) enabled, but
          %b
            no checkboxes.   
          %br
          A single-click handler selects the node.
          %br
          A keydown handler selects on [space].
          %br
          A double-click handler expands documents.
          %br
          A onQuerySelect handler prevents selection of folders.
      / End demo-description
