%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 :parent Selector
  #parent1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name parent
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.0/"} 1.0
        jQuery(':parent')
      %p.desc
        %strong> Description:
        Select all elements that are the parent of another element, including text nodes.
      .longdesc
        %p
          This is the inverse of
          = succeed "." do
            %code :empty
        %p
          One important thing to note regarding the use of
          %code :parent
          (and
          = succeed ")" do
            %code :empty
          is that child elements include text nodes.
        %p
          The W3C recommends that the
          %code &lt;p&gt;
          element have at least one child node, even if that child is merely text (see
          = succeed ")." do
            %a{:href => "http://www.w3.org/TR/html401/struct/text.html#edef-P"} http://www.w3.org/TR/html401/struct/text.html#edef-P
          Some other elements, on the other hand, are empty (i.e. have no children) by definition:
          %code> &lt;input&gt;
          ,
          = succeed "," do
            %code &lt;img&gt;
          = succeed "," do
            %code &lt;br&gt;
          and
          = succeed "," do
            %code &lt;hr&gt;
          for example.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Finds all tds with children, including text.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  td { width:40px; background:green; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;table border="1"&gt;
                
                  &lt;tr&gt;&lt;td&gt;Value 1&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;
                  &lt;tr&gt;&lt;td&gt;Value 2&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;
                
                &lt;/table&gt;
                &lt;script&gt;$("td:parent").fadeTo(1500, 0.3);&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
