-@title = "jQuery Mobile Docs - Theming Pages"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Theming pages
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %ul.localnav{"data-role" => "controlgroup", "data-type" => "horizontal"}
        %li
          %a.ui-btn-active{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/themes"}
            Theme
            Overview
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/theme/a"} A&nbsp;
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/theme/b"} B&nbsp;
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/theme/c"} C&nbsp;
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/theme/d"} D&nbsp;
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/pages/theme/e"} E&nbsp;
      %h2 Page Theming
      %p
        jQuery Mobile has a rich
        %a{:href => "/mobile/docs/api/themes"} theming system
        that gives you full control of
        how pages are styled. There is detailed theming documentation within each page widget, but let's look at
        a few high-level examples of how theming is applied.
      %p
        The
        %code data-theme
        attribute can be applied to the header and footer containers to apply any of
        the lettered theme color swatches. While the
        %code data-theme
        attribute could be added to the
        content container, we recommend adding it instead to
        %code div
        or container that has been
        assigned the
        %code data-role="page"
        attribute to ensure that the background color is applied to
        the full page.
      %p
        The default Theme mixes styles from multiple swatches to create visual texture and present the various
        elements in optimal contrast to one another:
      %div{"data-role" => "header"}
        %h1 Default Theme
      .ui-body.ui-body-c
        %h3 Default Theme Content Header
        %p
          This is the default content color swatch and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
      %p
        And each of the five "swatches" applies its style consistently across all page elements, as shown
        below:
      %h2 Swatch A
      %div{"data-position" => "inline", "data-role" => "header"}
        %h1 Header A
      .ui-body.ui-body-a
        %h3 Header
        %p
          This is content color swatch "A" and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
      %h2 Swatch B
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Header B
      .ui-body.ui-body-b
        %h3 Header
        %p
          This is content color swatch "B" and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
      %h2 Swatch C
      %div{"data-role" => "header", "data-theme" => "c"}
        %h1 Header C
      .ui-body.ui-body-c
        %h3 Header
        %p
          This is content color swatch "C" and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
      %h2 Swatch D
      %div{"data-role" => "header", "data-theme" => "d"}
        %h1 Header D
      .ui-body.ui-body-d
        %h3 Header
        %p
          This is content color swatch "D" and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
      %h2 Swatch E
      %div{"data-role" => "header", "data-theme" => "e"}
        %h1 Header E
      .ui-body.ui-body-e
        %h3 Header
        %p
          This is content color swatch "E" and a preview of a
          = succeed "." do
            %a.ui-link{:href => "#"} link
        %a{"data-inline" => "true", "data-role" => "button", :href => "#"} Button
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Pages &amp; Dialogs
            %li
              %a{:href => "/mobile/docs/pages/anatomy"} Anatomy of a page
            %li
              %a{"data-ajax" => "false", :href => "/mobile/docs/pages/template"} Single page template
            %li
              %a{"data-ajax" => "false", :href => "/mobile/docs/pages/multipage_template"} Multi-page template
            %li
              %a{:href => "/mobile/docs/pages/titles"} Page titles
            %li
              %a{:href => "/mobile/docs/pages/links"} Linking pages
            %li
              %a{"data-ajax" => "false", :href => "/mobile/docs/pages/transitions"} Page transitions
            %li
              %a{:href => "/mobile/docs/pages/dialogs"} Dialogs
            %li
              %a{:href => "/mobile/docs/pages/cache"} Prefetching &amp; caching pages
            %li
              %a{:href => "/mobile/docs/pages/navmodel"} Ajax, hashes &amp; history
            %li
              %a{:href => "/mobile/docs/pages/dynamics"} Dynamically injecting Pages
            %li
              %a{:href => "/mobile/docs/pages/scripting"} Scripting pages
            %li
              %a{:href => "/mobile/docs/pages/phonegap"} PhoneGap apps
            %li
              %a{:href => "/mobile/docs/pages/touchoverflow"} touchOverflow feature
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/pages/themes"} Theming pages
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
  / /page
