:css
  .ui-state-error {
    min-width: 420px;
  }
  .ui-state-error .errorExplanation h2, .ui-state-error .errorExplanation p {
    font-size: normal;
    font-weight: bold;
  }
  .ui-state-error .errorExplanation ul li {
    font-size: normal;
  }

:javascript
  function toogleStatus(){
    if ($("#event_all_day").is(':checked')) {
      $("#event_start_time").attr('disabled', true);
      $("#event_end_time").attr('disabled', true);
    } else {
      $("#event_start_time").removeAttr('disabled');
      $("#event_end_time").removeAttr('disabled');
    }  
  };    

  function resetForm() {
    $("#event_start_date").AnyTime_noPicker();
    $("#event_start_time").AnyTime_noPicker(); 
    $("#event_end_date").AnyTime_noPicker();
    $("#event_end_time").AnyTime_noPicker();
  };

  function initForm() {
    $('#event_all_day').live('change', function(){
      toogleStatus();
    }); 
  
    if (I18n.locale == "de") {
      var fmt1 = '%d.%m.%Y';
      var fmt2 = '%H:%i';
    } else {
      var fmt1 = '%Y-%m-%d';
      var fmt2 = '%H:%i';
    }
    
    $("#event_start_date").AnyTime_picker({ format: fmt1 });
    $("#event_end_date").AnyTime_picker({ format: fmt1 });        
    $("#event_start_time").AnyTime_picker({ format: fmt2 });
    $("#event_end_time").AnyTime_picker({ format: fmt2 });        
    toogleStatus(); 
  };
  
  $(document).ready(function() {
    resetForm();
    initForm();
  });  

- form_for(@event, :url => ical_calendar_events_url) do |f|

  = f.error_messages
              
  - if !flash[:notice].blank?
    .ui-widget
      .ui-state-highlight.ui-corner-all{ :style => "padding: 0pt 0.7em;" }
        %p
          %span.ui-icon.ui-icon-info{ :style => "float: left; margin-right: 0.3em" }
          = flash[:notice]

  .formrow.clearfix
    %label.span-6{:for => :summary}
      = t('txt.ical.event.summary')
      = t('txt.layout.colon')
    .span-17
      = f.text_field :summary, :size => 60
  %br
  .formrow.clearfix
    %label.span-6{:for => :location}
      = t('txt.ical.event.location')
      = t('txt.layout.colon')
    .span-17
      = f.text_field :location, :size => 60
  %br
  .formrow.clearfix
    %label.span-6{:for => :starts_at}
      = t('txt.ical.event.starts_at')
      = t('txt.layout.colon')
    .span-5
      = f.text_field :start_date, :size => 11
    .span-5
      = f.text_field :start_time, :size => 11
    .span-6
      = f.check_box :all_day
      %label
        = t('txt.ical.event.all_day')
  %br
  .formrow.clearfix
    %label.span-6{:for => :ends_at}
      = t('txt.ical.event.ends_at')
      = t('txt.layout.colon')
    .span-5
      = f.text_field :end_date, :size => 11
    .span-5
      = f.text_field :end_time, :size => 11
  %br
  .formrow.clearfix
    %label.span-6{:for => :description}
      = t('txt.ical.event.description')
      = t('txt.layout.colon')
    .span-17
      = f.text_area :description
