-@title = "#{t('txt.tools.name')} - #{t('txt.tools.toolbox.expose.name')} - #{t('txt.tools.toolbox.expose.demo05')}"
= render :partial => "demo05.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  %p
    Exposed elements are simple
    = succeed "s" do
      %samp
        DIV
    that are styled with CSS:
  #e1.exposed
    Click on this element # 1 to expose it.
  #e2.exposed
    Click on this element # 2 to expose it.
/ End demo

.demo-description 
  #greybox
/ End demo-description
