= render :partial => "converter.css.haml"
= render :partial => "/mobile/mobile_init.js.haml", :format => :js
- content_for :head_scripts_after_mobile do
  = javascript_include_tag :tmpl
= render :partial => "storage.js.haml", :format => :js
= render :partial => "application.js.haml", :format => :js

- content_for :head_scripts_after_mobile do
  :css
    .field { padding: 15px; }
  %script#conversion-field{:type => "text/x-jquery-tmpl"}
    %li
      %p.currency-from
        ${$item.symbols[from]}
        %span.unit ${from}
      %p.currency-to.ui-li-aside
        ${$item.symbols[to]}
        %span.rate{:id => "${from}${to}"} NaN
        %span.unit ${to}
  %script#conversion-edit-field{:type => "text/x-jquery-tmpl"}
    %li
      %label.ui-input-text{:class => "conversion-${type}", :for => "${from}${to}", :title => "From ${from} to ${to}"} ${$item.symbols[from]} to ${$item.symbols[to]}
    %a.deletebutton.ui-aux{:href => "#"} Delete

