!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    .ui-page
      %div{"data-role" => "header"}
        %h1 .animate()
      #animate1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .animate( properties, [ duration ], [ easing ], [ callback ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Perform a custom animation of a set of CSS properties.
          %ul.signatures
            %li#animate-properties-duration-easing-callback.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.animate( properties, [ duration ], [ easing ], [ callback ] )
              %p.arguement
                %strong> properties
                A map of CSS properties that the animation will move toward.
              %p.arguement
                %strong> duration
                A string or number determining how long the animation will run.
              %p.arguement
                %strong> easing
                A string indicating which easing function to use for the transition.
              %p.arguement
                %strong> callback
                A function to call once the animation is complete.
            %li#animate-properties-options.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.animate( properties, options )
              %p.arguement
                %strong> properties
                A map of CSS properties that the animation will move toward.
              %p.arguement
                %strong> options
                A map of additional options to pass to the method. Supported keys:
              %ul
                %li
                  %code> duration
                  \: A string or number determining how long the animation will run.
                %li
                  %code> easing
                  \: A string indicating which easing function to use for the transition.
                %li
                  %code> complete
                  \: A function to call once the animation is complete.
                %li
                  %code> step
                  \: A function to be called after each step of the animation.
                %li
                  %code> queue
                  \: A Boolean indicating whether to place the animation in the effects queue. If
                  = succeed "," do
                    %code false
                  the animation will begin immediately.
                %li
                  %code> specialEasing
                  \: A map of one or more of the CSS properties defined by the properties argument and their corresponding easing functions (added 1.4).
          .longdesc
            %p
              The
              %code .animate()
              method allows us to create animation effects on any numeric CSS property. The only required parameter is a map of CSS properties. This map is similar to the one that can be sent to the
              %code .css()
              method, except that the range of properties is more restrictive.
            %p
              All animated properties should be numeric (except as noted below); properties that are non-numeric cannot be animated using basic jQuery functionality. (For example,
              = succeed "," do
                %code width
              = succeed "," do
                %code height
              or
              %code left
              can be animated but
              %code background-color
              cannot be.) Property values are treated as a number of pixels unless otherwise specified. The units
              %code em
              and
              %code %
              can be specified where applicable.
            %p
              In addition to numeric values, each property can take the strings
              = succeed "," do
                %code 'show'
              = succeed "," do
                %code 'hide'
              and
              = succeed "." do
                %code 'toggle'
              These shortcuts allow for custom hiding and showing animations that take into account the display type of the element.
            %p
              Animated properties can also be relative. If a value is supplied with a leading
              %code +=
              or
              %code -=
              sequence of characters, then the target value is computed by adding or subtracting the given number from the current value of the property.
            %h4#duration Duration
            %p
              Durations are given in milliseconds; higher values indicate slower animations, not faster ones. The strings
              %code 'fast'
              and
              %code 'slow'
              can be supplied to indicate durations of
              %code 200
              and
              %code 600
              milliseconds, respectively.
            %h4#callback Callback Function
            %p
              If supplied, the callback is fired once the animation is complete. This can be useful for stringing different animations together in sequence. The callback is not sent any arguments, but
              %code this
              is set to the DOM element being animated. If multiple elements are animated, it is important to note that the callback is executed once per matched element, not once for the animation as a whole.
            %p We can animate any element, such as a simple image:
            %pre
              :preserve
                &lt;div id="clickme"&gt;
                  Click here
                &lt;/div&gt;
                &lt;img id="book" src="book.png" alt="" width="100" height="123" 
                  style="position: relative; left: 10px;" /&gt;            %p We can animate the opacity, left offset, and height of the image simultaneously:
            %pre
              :preserve
                $('#clickme').click(function() {
                  $('#book').animate({
                    opacity: 0.25,
                    left: '+=50',
                    height: 'toggle'
                  }, 5000, function() {
                    // Animation complete.
                  });
                });
            %p.image
              %img{:alt => "", :src => "http://api.jquery.com/images/animate-1.jpg"}/
            %p
              Note that we have specified
              %code toggle
              as the target value of the
              %code height
              property. Since the image was visible before, the animation shrinks the height to 0 to hide it. A second click then reverses this transition:
            %p.image
              %img{:alt => "", :src => "http://api.jquery.com/images/animate-2.jpg"}/
            %p
              The
              %code opacity
              of the image is already at its target value, so this property is not animated by the second click. Since we specified the target value for
              %code left
              as a relative value, the image moves even farther to the right during this second animation.
            %p
              The
              %code position
              attribute of the element must not be
              %code static
              if we wish to animate the
              %code left
              property as we do in the example.
            %blockquote
              %p
                The
                %a{:href => "http://jqueryui.com"} jQuery UI
                project extends the
                %code .animate()
                method by allowing some non-numeric styles such as colors to be animated. The project also includes mechanisms for specifying animations through CSS classes rather than individual attributes.
            %h4#easing Easing
            %p
              The remaining parameter of
              %code .animate()
              is a string naming an easing function to use. An easing function specifies the speed at which the animation progresses at different points within the animation. The only easing implementations in the jQuery library are the default, called
              = succeed "," do
                %code swing
              and one that progresses at a constant pace, called
              = succeed "." do
                %code linear
              More easing functions are available with the use of plug-ins, most notably the
              = succeed "." do
                %a{:href => "http://jqueryui.com/"} jQuery UI suite
            %h4#per-property-easing Per-property Easing
            %p
              As of jQuery version 1.4, we can set per-property easing functions within a single
              %code .animate()
              call. In the first version of
              = succeed "," do
                %code .animate()
              each property can take an array as its value: The first member of the array is the CSS property and the second member is an easing function.  If a per-property easing function is not defined for a particular property, it uses the value of the
              %code .animate()
              method's optional easing argument. If the easing argument is not defined, the default
              %code swing
              function is used.
            %p
              We can, for example, simultaneously animate the width and height with the
              %code swing
              easing function and the opacity with the
              %code linear
              easing function:
            %pre
              :preserve
                $('#clickme').click(function() {
                  $('#book').animate({
                    width: ['toggle', 'swing'],
                    height: ['toggle', 'swing'],
                    opacity: 'toggle'
                  }, 5000, 'linear', function() {
                      $(this).after('&lt;div&gt;Animation complete.&lt;/div&gt;');
                  });
                });            %p
              In the second version of
              = succeed "," do
                %code .animate()
              the options map can include the
              %code specialEasing
              property, which is itself a map of CSS properties and their corresponding easing functions.  We can simultaneously animate the width using the
              %code linear
              easing function and the height using the
              %code easeOutBounce
              easing function.
            %pre
              :preserve
                $('#clickme').click(function() {
                  $('#book').animate({
                    width: 'toggle',
                    height: 'toggle'
                  }, {
                    duration: 5000, 
                    specialEasing: {
                      width: 'linear',
                      height: 'easeOutBounce'
                    }, 
                    complete: function() {
                      $(this).after('&lt;div&gt;Animation complete.&lt;/div&gt;');
                    }
                  });
                });            %p
              As previously noted, a plug-in is required for the
              %code easeOutBounce
              function.
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Click the button to animate the div with a number of different properties.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                    div { 
                    background-color:#bca; 
                    width:100px; 
                    border:1px solid green;
                    }
                    &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button id="go"&gt;&amp;raquo; Run&lt;/button&gt;
                    
                    &lt;div id="block"&gt;Hello!&lt;/div&gt;
                    &lt;script&gt;
                    
                    // Using multiple unit types within one animation.
                    $("#go").click(function(){
                      $("#block").animate({ 
                        width: "70%",
                        opacity: 0.4,
                        marginLeft: "0.6in",
                        fontSize: "3em", 
                        borderWidth: "10px"
                      }, 1500 );
                    });
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Shows a div animate with a relative move.  Click several times on the buttons to see the relative animations queued up.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                    div { 
                    position:absolute; 
                    background-color:#abc; 
                    left:50px;
                    width:90px; 
                    height:90px;
                    margin:5px; 
                    }
                    &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button id="left"&gt;&amp;laquo;&lt;/button&gt; &lt;button id="right"&gt;&amp;raquo;&lt;/button&gt;
                    &lt;div class="block"&gt;&lt;/div&gt;
                    
                    &lt;script&gt;
                    $("#right").click(function(){
                      $(".block").animate({"left": "+=50px"}, "slow");
                    });
                    
                    $("#left").click(function(){
                      $(".block").animate({"left": "-=50px"}, "slow");
                    });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-2
              %h4
                Example:
                %span.desc Animates all paragraphs to toggle both height and opacity, completing the animation within 600 milliseconds.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                      "height": "toggle", "opacity": "toggle"
                    
                    }, "slow");            #example-3
              %h4
                Example:
                %span.desc Animates all paragraph to a left style of 50 and opacity of 1 (opaque, visible), completing the animation within 500 milliseconds.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                      "left": "50", "opacity": 1
                    }, 500);
            #example-4
              %h4
                Example:
                %span.desc An example of using an 'easing' function to provide a different style of animation. This will only work if you have a plugin that provides this easing function.  Note, this code will do nothing unless the paragraph element is hidden.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                      "opacity": "show"
                    
                    }, "slow", "easein");            #example-5
              %h4
                Example:
                %span.desc
                  The first button shows how an unqueued animation works.  It expands the div out to 90% width while the font-size is increasing. Once the font-size change is complete, the border animation will begin.
                  
                  The second button starts a traditional chained animation, where each animation will start once the previous animation on the element has completed.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;div { 
                      background-color:#bca; 
                      width:200px;
                      height:1.1em;
                      text-align:center;
                      border:2px solid green;
                      margin:3px;
                      font-size:14px;
                    }
                    button {
                      font-size:14px;
                    }
                    &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button id="go1"&gt;&amp;raquo; Animate Block1&lt;/button&gt;
                    &lt;button id="go2"&gt;&amp;raquo; Animate Block2&lt;/button&gt;
                    &lt;button id="go3"&gt;&amp;raquo; Animate Both&lt;/button&gt;
                    
                    &lt;button id="go4"&gt;&amp;raquo; Reset&lt;/button&gt;
                    &lt;div id="block1"&gt;Block1&lt;/div&gt;
                    &lt;div id="block2"&gt;Block2&lt;/div&gt;
                    &lt;script&gt;
                    
                    $("#go1").click(function(){
                      $("#block1").animate( { width:"90%" }, { queue:false, duration:3000 } )
                         .animate( { fontSize:"24px" }, 1500 )
                         .animate( { borderRightWidth:"15px" }, 1500);
                    });
                    
                    $("#go2").click(function(){
                      $("#block2").animate( { width:"90%"}, 1000 )
                         .animate( { fontSize:"24px" } , 1000 )
                         .animate( { borderLeftWidth:"15px" }, 1000);
                    });
                    
                    $("#go3").click(function(){
                      $("#go1").add("#go2").click();
                    });
                    
                    $("#go4").click(function(){
                      $("div").css({width:"", fontSize:"", borderWidth:""});
                    });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-6
              %h4
                Example:
                %span.desc Animates all paragraphs to toggle both height and opacity, completing the animation within 600 milliseconds.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                    "height": "toggle", "opacity": "toggle"
                    
                    }, { duration: "slow" });            #example-7
              %h4
                Example:
                %span.desc Animates all paragraph to a left style of 50 and opacity of 1 (opaque, visible), completing the animation within 500 milliseconds.  It also will do it outside the queue, meaning it will automatically start without waiting for its turn.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                    left: "50px", opacity: 1
                    }, { duration: 500, queue: false });            #example-8
              %h4
                Example:
                %span.desc An example of using an 'easing' function to provide a different style of animation. This will only work if you have a plugin that provides this easing function.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                    "opacity": "show"
                    
                    }, { "duration": "slow", "easing": "easein" });            #example-9
              %h4
                Example:
                %span.desc An example of using a callback function.  The first argument is an array of CSS properties, the second specifies that the animation should take 1000 milliseconds to complete, the third states the easing type, and the fourth argument is an anonymous callback function.
              %pre
                %code.example
                  :preserve
                    $("p").animate({
                    height:200, width:400, opacity: .5
                    }, 1000, "linear", function(){alert("all done");} );
                    
