= javascript_include_tag "i18n/jquery.ui/datepicker-af.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ar.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ar-DZ.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-az.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-bg.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-bs.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ca.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-cs.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-da.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-de.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-el.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-en-AU.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-en-GB.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-en-NZ.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-eo.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-es.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-et.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-eu.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fa.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fi.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fo.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fr.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fr-CH.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-gl.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-he.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hr.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hu.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hy.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-id.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-is.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-it.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ja.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ko.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-kz.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-lt.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-lv.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ml.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ms.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-nl.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-no.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-pl.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-pt.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-pt-BR.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-rm.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ro.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ru.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sk.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sl.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sq.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sr.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sr-SR.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sv.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ta.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-th.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-tr.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-uk.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-vi.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-zh-CN.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-zh-HR.min.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-zh-TW.min.js"