= javascript_include_tag "i18n/jquery.ui/datepicker-ar.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-bg.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ca.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-cs.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-da.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-de.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-el.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-eo.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-es.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fa.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fi.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-fr.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-he.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hr.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hu.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-hy.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-id.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-is.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-it.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ja.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ko.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-lt.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-lv.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ms.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-nl.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-no.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-pl.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-pt-BR.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ro.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-ru.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sk.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sl.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sq.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sr.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sr-SR.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-sv.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-th.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-tr.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-uk.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-zh-CN.js"
= javascript_include_tag "i18n/jquery.ui/datepicker-zh-TW.js"