#header.ui-widget-header.ui-corner-all   
  #headline
    .span-7
      = link_to image_tag('logos/logo.png', :border => 0, :title => "compass"), "http://wiki.github.com/kosmas58/compass-jquery-plugin", :popup => true  
    .span-12
      %h2.ui-widget-header
        Adding jQuery to compass 
          
  #site   
    #site-actions
      %ul
        %li
          = t('txt.layout.language')
        %li
          - form_tag('', :method => :get) do
            %div
              = select_tag("locale", options_for_select(LOCALES_AVAILABLE, I18n.locale.to_s))  
        %li
          = t('txt.layout.theme')
        %li
          - form_tag('', :method => :get) do
            %div
              = select_tag("theme", options_for_select(Theme.themes, Theme.current))
  