#header.ui-widget-header.ui-corner-all   
  #headline
    .span-9
      = link_to image_tag('logos/logo.png', :border => 0, :title => "compass"), "http://wiki.github.com/kosmas58/compass-jquery-plugin", :popup => true  
    .span-10
      %h2.ui-widget-header
        Adding jQuery to compass 
          
  #site   
    #site-actions
      %ul
        %li{ :style => "padding-top: 3px;" }
          = t('txt.layout.language')
        %li
          - form_tag('', :method => :get) do
            .flagicons
              = select_tag("locale", options_for_select_with_class(LOCALES_AVAILABLE, I18n.locale.to_s))  
        %li
          %div#switcher
        %li
          %a#configure_ppi #{t('txt.layout.ppi.tooltip')} #{session[:ppi]} PPI
  