%h3
  %a.accordionMenuItem2
    = t('txt.dt.name')
    %b
      (NEEDS FIXES)
%div
  .tree
    %ul
      %li#dynatree01{:data => "url: '/dynatree/quick', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.quick')
      %li#dynatree02{:data => "url: '/dynatree/ul', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.ul')
      %li#dynatree03{:data => "url: '/dynatree/default', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.default')
      %li#dynatree04{:data => "url: '/dynatree/api', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.api')
      %li#dynatree05{:data => "url: '/dynatree/select', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.select')
      %li#dynatree06{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.theming.name')
        %ul
          %li#dynatree061{:data => "url: '/dynatree/theming_aero', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.aero')
          %li#dynatree062{:data => "url: '/dynatree/theming_aqua', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.aqua')
          %li#dynatree063{:data => "url: '/dynatree/theming_crystal', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.crystal')
          %li#dynatree064{:data => "url: '/dynatree/theming_xp', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.xp')
      %li#dynatree07{:data => "url: '/dynatree/persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.persist')
      %li#dynatree08{:data => "url: '/dynatree/events', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.events')
      %li#dynatree09{:data => "url: '/dynatree/dnd', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.dnd')
        %b
          (NEEDS FIXES)
      %li#dynatree10{:data => "url: '/dynatree/contextmenu', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.contextmenu')

      %li#dynatree11{:data => "url: '/dynatree/minexpand', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.minexpand')
      %li#dynatree12{:data => "url: '/dynatree/lazy_persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.lazy')
        %b
          (NEEDS FIXES)
      %li#dynatree13{:data => "url: '/dynatree/iframe', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.iframe')
        