%h3
  %a.accordionMenuItem5
    iCalendar
    %b
      (W.I.P.)
%div
  .tree
    %ul
      %li#cal1{:data => "icon: '../../jqical/alarmclock.png'" }
        Any+Time&trade;
        %ul
          %li#cal11{:data => "url: '/jqical/anytime/default', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.default')
          %li#cal12{:data => "url: '/jqical/anytime/inline', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.inline')
          %li#cal13{:data => "url: '/jqical/anytime/separate', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.separate')
          %li#cal14{:data => "url: '/jqical/anytime/css', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.css')
          %li#cal15{:data => "url: '/jqical/anytime/ajax', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.ajax')
          %li#cal16{:data => "url: '/jqical/anytime/convert', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.convert')
          %li#cal17{:data => "url: '/jqical/anytime/extend', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.extend')
      %li#cal2{:data => "url: '/jqical/calendars', icon: '../../jqical/view_calendar_month.png'" }
        = t('txt.jqical.calendar.listing')
                