%h3
  %a.accordionMenuItem4
    = t('txt.jqgrid.name')
    %b
      (W.I.P.)
%div
  .tree
    %ul
      %li#gridify01{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.gridify')
        %b
          (W.I.P.)
        %ul
          %li#gridify011{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %b
              (W.I.P.)
            %ul
              %li#gridify0111{:data => "url: '/jqgrid/players?example=01', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#gridify0112{:data => "url: '/jqgrid/players?example=02', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#gridify0113{:data => "url: '/jqgrid/players?example=03', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#gridify0114{:data => "url: '/jqgrid/players?example=04', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#gridify0115{:data => "url: '/jqgrid/players?example=05', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
                %b
                  (W.I.P.)
                %br
                %i
                  (Restrict detail search on childs of master)
          %li#gridify012{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.manipulation.name')
            %ul
              %li#gridify0121{:data => "url: '/jqgrid/players?example=06', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.inline')
              %li#gridify0122{:data => "url: '/jqgrid/players?example=07', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.modal')
              %li#gridify0123{:data => "url: '/jqgrid/players?example=08', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.input')
              %li#gridify0124{:data => "url: '/jqgrid/players?example=09', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.datepicker')
          %li#gridify013{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.subgrids.name')
            %ul
              %li#gridify0131{:data => "url: '/jqgrid/players?example=10', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.default')
              %li#gridify0132{:data => "url: '/jqgrid/players?example=11', icon: '../../demo/dynatree.custom/grid.png'" }
                %i
                  = t('txt.jqgrid.subgrids.crud')
              %li#gridify0133{:data => "url: '/jqgrid/players?example=12', icon: '../../demo/dynatree.custom/grid.png'" }
                %i
                  = t('txt.jqgrid.subgrids.selection')
          %li#gridify014{:data => "url: '/jqgrid/players?example=13', icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.improvements.name')
      %li#jqgrid0{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.default')
        %b
          (W.I.P.)
        %ul
          %li#jqgrid01{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.20loading')
            %ul
              %li#jqgrid0101{:data => "url: '/jqgrid/demo?demo=0101;model=invheader;datatype=xml', icon: '../../demo/dynatree.custom/grid.png'" }                
                = t('txt.jqgrid.demo.20xml_data')
              %li#jqgrid0102{:data => "url: '/jqgrid/demo?demo=0102;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.20json_data')
              %li#jqgrid0103{:data => "url: '/jqgrid/demo?demo=0103;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.20once')
              %li#jqgrid0104{:data => "url: '/jqgrid/demo?demo=0104;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.20array')
          %li#jqgrid02{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.20manipulating')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0201{:data => "url: '/jqgrid/demo?demo=0201;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.20data')
              %li#jqgrid0202{:data => "url: '/jqgrid/demo?demo=0202;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20get')
                %b
                  (W.I.P.)
              %li#jqgrid0203{:data => "url: '/jqgrid/demo?demo=0203;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20set')
                %b
                  (W.I.P.)
          %li#jqgrid03{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.20advanced')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0301{:data => "url: '/jqgrid/demo?demo=0301;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20multi')
              %li#jqgrid0302{:data => "url: '/jqgrid/demo?demo=0302;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20master')
                %b
                  (W.I.P.)
              %li#jqgrid0303{:data => "url: '/jqgrid/demo?demo=0303;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20subgrid')
              %li#jqgrid0304{:data => "url: '/jqgrid/demo?demo=0304;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                %i   
                  = t('txt.jqgrid.demo.20as_subgrid')
              %li#jqgrid0305{:data => "url: '/jqgrid/demo?demo=0305;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20resizing')
              %li#jqgrid0306{:data => "url: '/jqgrid/demo?demo=0306;model=item', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.20big_sets')
          %li#jqgrid04{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.30v')
            %ul
              %li#jqgrid0401{:data => "url: '/jqgrid/demo?demo=0401;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30cmulti')
              %li#jqgrid0402{:data => "url: '/jqgrid/demo?demo=0402;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30json_subgrid')
              %li#jqgrid0403{:data => "url: '/jqgrid/demo?demo=0403;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30after_load')
              %li#jqgrid0404{:data => "url: '/jqgrid/demo?demo=0404;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30resizable')
              %li#jqgrid0405{:data => "url: '/jqgrid/demo?demo=0405;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30hide')
          %li#jqgrid05{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.30row')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0501{:data => "url: '/jqgrid/demo?demo=0501;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30basic')
              %li#jqgrid0502{:data => "url: '/jqgrid/demo?demo=0502;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30cedit')
                %b
                  (W.I.P.)
              %li#jqgrid0503{:data => "url: '/jqgrid/demo?demo=0503;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30events')
              %li#jqgrid0504{:data => "url: '/jqgrid/demo?demo=0504;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30full')
              %li#jqgrid0505{:data => "url: '/jqgrid/demo?demo=0505;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30types')
          %li#jqgrid06{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.30mapping')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0601{:data => "url: '/jqgrid/demo?demo=0601;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30xml_map')
              %li#jqgrid0602{:data => "url: '/jqgrid/demo?demo=0602;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30json_map')
                %b
                  (W.I.P.)
              %li#jqgrid0603{:data => "url: '/jqgrid/demo?demo=0603;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30optimize')
                %b
                  (W.I.P.)
          %li#jqgrid07{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.30integrations')
            %ul
              %li#jqgrid0701{:data => "url: '/jqgrid/demo?demo=0701;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30datepicker')
          %li#jqgrid08{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.30live')
            %ul
              %li#jqgrid0801{:data => "url: '/jqgrid/demo?demo=0801;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30searching')
              %li#jqgrid0802{:data => "url: '/jqgrid/demo?demo=0802;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30edit_row')
              %li#jqgrid0803{:data => "url: '/jqgrid/demo?demo=0803;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30add_row')
              %li#jqgrid0804{:data => "url: '/jqgrid/demo?demo=0804;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30delete_row')
              %li#jqgrid0805{:data => "url: '/jqgrid/demo?demo=0805;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.30navigator')
          %li#jqgrid09{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.31v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0901{:data => "url: '/jqgrid/demo?demo=0901;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.31toolbar')
              %li#jqgrid0902{:data => "url: '/jqgrid/demo?demo=0902;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.31userdata')
                %b
                  (W.I.P.)
              %li#jqgrid0903{:data => "url: '/jqgrid/demo?demo=0903;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.31new_methods')
              %li#jqgrid0904{:data => "url: '/jqgrid/demo?demo=0904;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.31post_data')
              %li#jqgrid0905{:data => "url: '/jqgrid/demo?demo=0905;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.31cparams')
                %b
                  (W.I.P.)
          %li#jqgrid10{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.32v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1001{:data => "url: '/jqgrid/demo?demo=1001;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32new_methods')
              %li#jqgrid1002{:data => "url: '/jqgrid/demo?demo=1002;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32initial')
                %b
                  (W.I.P.)
              %li#jqgrid1003{:data => "url: '/jqgrid/demo?demo=1003;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32insert')
                %b
                  (W.I.P.)
              %li#jqgrid1004{:data => "url: '/jqgrid/demo?demo=1004;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32server_errors')
              %li#jqgrid1005{:data => "url: '/jqgrid/demo?demo=1005;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32hide')
              %li#jqgrid1006{:data => "url: '/jqgrid/demo?demo=1006;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32cbutton')
              %li#jqgrid1007{:data => "url: '/jqgrid/demo?demo=1007;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.32client')
          %li#jqgrid11{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.33v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1101{:data => "url: '/jqgrid/demo?demo=1101;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.33dynamic')
              %li#jqgrid1102{:data => "url: '/jqgrid/demo?demo=1102;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33tree')
                %b
                  (W.I.P.)
              %li#jqgrid1103{:data => "url: '/jqgrid/demo?demo=1103;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33cell')
              %li#jqgrid1104{:data => "url: '/jqgrid/demo?demo=1104;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33visible')
              %li#jqgrid1105{:data => "url: '/jqgrid/demo?demo=1105;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33html')
              %li#jqgrid1106{:data => "url: '/jqgrid/demo?demo=1106;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33mtoolbar')
                %b
                  (W.I.P.)
              %li#jqgrid1107{:data => "url: '/jqgrid/demo?demo=1107;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33mform')
                %b
                  (W.I.P.)
              %li#jqgrid1108{:data => "url: '/jqgrid/demo?demo=1108;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33function')
                %b
                  (W.I.P.)
              %li#jqgrid1109{:data => "url: '/jqgrid/demo?demo=1109;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.33rdnd')
          %li#jqgrid12{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.34v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1201{:data => "url: '/jqgrid/demo?demo=1201;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34format')
              %li#jqgrid1202{:data => "url: '/jqgrid/demo?demo=1202;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34cformat')
              %li#jqgrid1203{:data => "url: '/jqgrid/demo?demo=1203;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34import')
                %b
                  (W.I.P.)
              %li#jqgrid1204{:data => "url: '/jqgrid/demo?demo=1204;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34autoscroll')
                %b
                  (W.I.P.)
              %li#jqgrid1205{:data => "url: '/jqgrid/demo?demo=1205;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34scroll')
                %b
                  (W.I.P.)
              %li#jqgrid1206{:data => "url: '/jqgrid/demo?demo=1206;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.34adjacency')
                %b
                  (W.I.P.)
          %li#jqgrid13{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.35v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1301{:data => "url: '/jqgrid/demo?demo=1301;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35number')
              %li#jqgrid1302{:data => "url: '/jqgrid/demo?demo=1302;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35view')
              %li#jqgrid1303{:data => "url: '/jqgrid/demo?demo=1303;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35stoolbar')
                %b
                  (W.I.P.)
              %li#jqgrid1304{:data => "url: '/jqgrid/demo?demo=1304;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35asearch')
              %li#jqgrid1305{:data => "url: '/jqgrid/demo?demo=1305;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35improvements')
                %b
                  (W.I.P.)
              %li#jqgrid1306{:data => "url: '/jqgrid/demo?demo=1306;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35real')
                %b
                  (W.I.P.)
              %li#jqgrid1307{:data => "url: '/jqgrid/demo?demo=1307;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35navigation')
                %b
                  (W.I.P.)
              %li#jqgrid1308{:data => "url: '/jqgrid/demo?demo=1308;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35summary')
                %b
                  (W.I.P.)
              %li#jqgrid1309{:data => "url: '/jqgrid/demo?demo=1309;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.35sortable')
          %li#jqgrid14{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.36v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1401{:data => "url: '/jqgrid/demo?demo=1401;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36api')
              %li#jqgrid1402{:data => "url: '/jqgrid/demo?demo=1402;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36rtl')
                %b
                  (W.I.P.)
              %li#jqgrid1403{:data => "url: '/jqgrid/demo?demo=1403;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36reordering')
              %li#jqgrid1404{:data => "url: '/jqgrid/demo?demo=1404;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36chooser')
              %li#jqgrid1405{:data => "url: '/jqgrid/demo?demo=1405;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36validation')
              %li#jqgrid1406{:data => "url: '/jqgrid/demo?demo=1406;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36cinput')
                %b
                  (W.I.P.)
              %li#jqgrid1407{:data => "url: '/jqgrid/demo?demo=1407;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36ajax')
                %b
                  (W.I.P.)
              %li#jqgrid1408{:data => "url: '/jqgrid/demo?demo=1408;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36tscroll')
              %li#jqgrid1409{:data => "url: '/jqgrid/demo?demo=1409;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36srows')
                %b
                  (W.I.P.)
              %li#jqgrid1410{:data => "url: '/jqgrid/demo?demo=1410;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36rdnd')
              %li#jqgrid1411{:data => "url: '/jqgrid/demo?demo=1411;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.36resizing')
          %li#jqgrid15{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.37v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1501{:data => "url: '/jqgrid/demo?demo=1501;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37array')
              %li#jqgrid1502{:data => "url: '/jqgrid/demo?demo=1502;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37server')
                %b
                  (W.I.P.)
              %li#jqgrid1503{:data => "url: '/jqgrid/demo?demo=1503;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37single')
                %b
                  (W.I.P.)
              %li#jqgrid1504{:data => "url: '/jqgrid/demo?demo=1504;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37multiple')
                %b
                  (W.I.P.)
              %li#jqgrid1505{:data => "url: '/jqgrid/demo?demo=1505;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37scroll')
                %b
                  (W.I.P.)
              %li#jqgrid1506{:data => "url: '/jqgrid/demo?demo=1506;model=item', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37toolbar')
                %b
                  (W.I.P.)
              %li#jqgrid1507{:data => "url: '/jqgrid/demo?demo=1507;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.37crud')
          %li#jqgrid16{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.38v')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1601{:data => "url: '/jqgrid/demo?demo=1601;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array1')
              %li#jqgrid1602{:data => "url: '/jqgrid/demo?demo=1602;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array2')
              %li#jqgrid1603{:data => "url: '/jqgrid/demo?demo=1603;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array3')
              %li#jqgrid1604{:data => "url: '/jqgrid/demo?demo=1604;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array4')
              %li#jqgrid1605{:data => "url: '/jqgrid/demo?demo=1605;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array5')
              %li#jqgrid1606{:data => "url: '/jqgrid/demo?demo=1606;datatype=local', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38array6')
                %b
                  (W.I.P.)
              %li#jqgrid1607{:data => "url: '/jqgrid/demo?demo=1607;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38remote1')
              %li#jqgrid1608{:data => "url: '/jqgrid/demo?demo=1608;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38remote2')
              %li#jqgrid1609{:data => "url: '/jqgrid/demo?demo=1609;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38remote3')
              %li#jqgrid1610{:data => "url: '/jqgrid/demo?demo=1610;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38remote4')
              %li#jqgrid1611{:data => "url: '/jqgrid/demo?demo=1611;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.38xml1')
      %li#jqgrid20{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        %i
          = t('txt.jqgrid.demo.2dc')
          \-
          = t('txt.jqgrid.subgrids.name')
        %ul
          %li#jqgrid201{:data => "url: '/jqgrid/users?example=10', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.default')
          %li#jqgrid202{:data => "url: '/jqgrid/users?example=11', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.crud')
          %li#jqgrid203{:data => "url: '/jqgrid/users?example=12', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.selection')
      %li#jqgrid21{:data => "url: '/jqgrid/widgets', icon: '../../demo/dynatree.custom/grid.png'" }                   
        Secret Sauce jqGrid
     