%h3
  %a.accordionMenuItem2
    Trees
%div
  .tree
    %ul
      %li#thetrees0{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.name')      
        %ul        
          %li#thetrees001{:data => "url: '/dynatree/default', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.default')
          %li#thetrees002{:data => "url: '/dynatree/quick', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.quick')
          %li#thetrees003{:data => "url: '/dynatree/ul', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.ul')
          %li#thetrees004{:data => "url: '/dynatree/api', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.api')
          %li#thetrees005{:data => "url: '/dynatree/select', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.select')
          %li#thetrees006{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.name')
            %ul
              %li#thetrees0061{:data => "url: '/dynatree/theming_aero', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.aero')
              %li#thetrees0062{:data => "url: '/dynatree/theming_aqua', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.aqua')
              %li#thetrees0063{:data => "url: '/dynatree/theming_crystal', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.crystal')
              %li#thetrees0064{:data => "url: '/dynatree/theming_xp', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.xp')
          %li#thetrees007{:data => "url: '/dynatree/persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.persist')
          %li#thetrees008{:data => "url: '/dynatree/events', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.events')
          %li#thetrees009{:data => "url: '/dynatree/effects', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.effects')
          %li#thetrees010{:data => "url: '/dynatree/dnd', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.dnd')
          %li#thetrees011{:data => "url: '/dynatree/dnd2', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.dnd2')
          %li#thetrees012{:data => "url: '/dynatree/contextmenu', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.contextmenu')
          %li#thetrees013{:data => "url: '/dynatree/minexpand', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.minexpand')
          %li#thetrees014{:data => "url: '/dynatree/lazy_persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.lazy')
          %li#thetrees015{:data => "url: '/dynatree/iframe', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.iframe')
          %li#thetrees016{:data => "url: '/dynatree/test_bench', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.benchmark')
          %li#thetrees017{:data => "url: '/dynatree/form', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.form')
          %li#thetrees018{:data => "url: '/dynatree/multiline', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.multiline')
      %li#thetrees1{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.jst.name')     
        %ul        
          %li#thetrees11{:data => "url: '/jstree/demo', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.jst.demo')     
          %li#thetrees12{:data => "url: '/jstree/core', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.jst.core')    
          %li#thetrees13{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.jst.plugins')
            %ul
              %li#thetrees1301{:data => "url: '/jstree/html', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.html')
              %li#thetrees1302{:data => "url: '/jstree/json', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.json')
              %li#thetrees1303{:data => "url: '/jstree/xml', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.xml')
              %li#thetrees1304{:data => "url: '/jstree/themes', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.themes')
                %b
                  (W.I.P.)
              %li#thetrees1305{:data => "url: '/jstree/ui', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.ui')
              %li#thetrees1306{:data => "url: '/jstree/crrm', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.crrm')
              %li#thetrees1307{:data => "url: '/jstree/hotkeys', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.hotkeys')
              %li#thetrees1308{:data => "url: '/jstree/languages', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.lang')
              %li#thetrees1309{:data => "url: '/jstree/cookies', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.cookies')
              %li#thetrees1310{:data => "url: '/jstree/sort', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.sort')
              %li#thetrees1311{:data => "url: '/jstree/dnd', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.dnd')
              %li#thetrees1312{:data => "url: '/jstree/checkbox', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.checkbox')
              %li#thetrees1313{:data => "url: '/jstree/searching', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.search')
              %li#thetrees1314{:data => "url: '/jstree/contextmenu', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.contextmenu')
              %li#thetrees1315{:data => "url: '/jstree/types', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.types')
              %li#thetrees1316{:data => "url: '/jstree/themeroller', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.themeroller')
              %li#thetrees1317{:data => "url: '/jstree/unique', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.unique')
                                