%h3
  %a.accordionMenuItem3
    = t('txt.jqgrid.name')
%div
  .tree
    %ul
      %li#jqgrid101{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.loading')
        %ul
          %li#jqgrid1011{:data => "url: '/jqgrid/demo?demo=01;model=invheader', icon: '../dynatree.custom/grid.png'" }                
            = t('txt.jqgrid.demo.xml_data')
          %li#jqgrid1012{:data => "icon: '../dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.json_data')
          %li#jqgrid1013{:data => "icon: '../dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.once')
          %li#jqgrid1014{:data => "icon: '../dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.array')
      %li#jqgrid102{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.manipulating')
        %ul
          %li#jqgrid1021{:data => "icon: '../dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.data')
          %li#jqgrid1022{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.get')
          %li#jqgrid1023{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.set')
      %li#jqgrid103{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.advanced')
        %ul
          %li#jqgrid1031{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.multi')
          %li#jqgrid1032{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.master')
          %li#jqgrid1033{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.subgrid')
          %li#jqgrid1034{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.as_subgrid')
          %li#jqgrid1035{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.resizing')
          %li#jqgrid1036{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.big_sets')
      %li#jqgrid104{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.b30')
        %ul
          %li#jqgrid1041{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.cmulti')
          %li#jqgrid1042{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.json_subgrid')
          %li#jqgrid1043{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.after_load')
          %li#jqgrid1044{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.resizable')
          %li#jqgrid1045{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.hide')
      %li#jqgrid105{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.row')
        %ul
          %li#jqgrid1051{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.basic')
          %li#jqgrid1052{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.cedit')
          %li#jqgrid1053{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.events')
          %li#jqgrid1054{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.full')
          %li#jqgrid1055{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.types')
      %li#jqgrid106{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.mapping')
        %ul
          %li#jqgrid1061{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.xml_map')
          %li#jqgrid1062{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.json_map')
          %li#jqgrid1063{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.optimize')
      %li#jqgrid107{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.integrations')
        %ul
          %li#jqgrid1071{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.datepicker')
      %li#jqgrid108{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.live')
        %ul
          %li#jqgrid1081{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.searching')
          %li#jqgrid1082{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.edit_row')
          %li#jqgrid1083{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.add_row')
          %li#jqgrid1084{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.delete_row')
          %li#jqgrid1085{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.navigator')
      %li#jqgrid109{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v31')
        %ul
          %li#jqgrid1091{:data => "icon: '../dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.toolbar')
          %li#jqgrid1092{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.new_methods')
          %li#jqgrid1093{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.post_data')
          %li#jqgrid1094{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.cparams')
      %li#jqgrid110{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v32')
        %ul
          %li#jqgrid1101{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.new_methods')
          %li#jqgrid1102{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.initial')
          %li#jqgrid1103{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.insert')
          %li#jqgrid1104{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.server_errors')
          %li#jqgrid1105{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.hide')
          %li#jqgrid1106{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.cbutton')
          %li#jqgrid1107{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.client')
      %li#jqgrid111{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v33')
        %ul
          %li#jqgrid1111{:data => "icon: '../dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.dynamic')
          %li#jqgrid1112{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.tree')
          %li#jqgrid1113{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cell')
          %li#jqgrid1114{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.visible')
          %li#jqgrid1115{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.html')
          %li#jqgrid1116{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.mtoolbar')
          %li#jqgrid1117{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.mform')
          %li#jqgrid1118{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.function')
          %li#jqgrid1119{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rdnd')
      %li#jqgrid112{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v34')
        %ul
          %li#jqgrid1121{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.format')
          %li#jqgrid1122{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cformat')
          %li#jqgrid1123{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.import')
          %li#jqgrid1124{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.autoscroll')
          %li#jqgrid1125{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.scroll')
          %li#jqgrid1126{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.adjacency')
      %li#jqgrid113{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v35')
        %ul
          %li#jqgrid1131{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.number')
          %li#jqgrid1132{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.view')
          %li#jqgrid1133{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.stoolbar')
          %li#jqgrid1134{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.asearch')
          %li#jqgrid1135{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.improvements')
          %li#jqgrid1136{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.real')
          %li#jqgrid1137{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.navigation')
          %li#jqgrid1138{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.summary')
          %li#jqgrid1139{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.sortable')
      %li#jqgrid114{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v36')
        %ul
          %li#jqgrid11401{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.api')
          %li#jqgrid11402{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rtl')
          %li#jqgrid11403{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.reordering')
          %li#jqgrid11404{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.chooser')
          %li#jqgrid11405{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.validation')
          %li#jqgrid11406{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cinput')
          %li#jqgrid11407{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.ajax')
          %li#jqgrid11408{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.tscroll')
          %li#jqgrid11409{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.srows')
          %li#jqgrid11410{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rdnd')
          %li#jqgrid11411{:data => "icon: '../dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.resizing')
    %ul
      %li#jqgrid2{:data => "icon: '../dynatree.custom/grid.png'" }
        = t('txt.jqgrid.name')
        %ul
          %li#jqgrid21{:data => "icon: '../dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %ul
              %li#jqgrid211{:data => "url: '/jqgrid/users?example=01', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#jqgrid212{:data => "url: '/jqgrid/users?example=02', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#jqgrid213{:data => "url: '/jqgrid/users?example=03', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#jqgrid214{:data => "url: '/jqgrid/users?example=04', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#jqgrid215{:data => "url: '/jqgrid/users?example=05', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
          %li#jqgrid22{:data => "icon: '../dynatree.custom/grid.png'" }
            = t('txt.jqgrid.manipulation.name')
            %ul
              %li#jqgrid221{:data => "url: '/jqgrid/users?example=06', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.inline')
              %li#jqgrid222{:data => "url: '/jqgrid/users?example=07', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.modal')
              %li#jqgrid223{:data => "url: '/jqgrid/users?example=08', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.input')
              %li#jqgrid224{:data => "url: '/jqgrid/users?example=09', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.datepicker')
          %li#jqgrid23{:data => "icon: '../dynatree.custom/grid.png'" }
            = t('txt.jqgrid.subgrids.name')
            %ul
              %li#jqgrid231{:data => "url: '/jqgrid/users?example=10', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.default')
              %li#jqgrid232{:data => "url: '/jqgrid/users?example=11', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.crud')
              %li#jqgrid233{:data => "url: '/jqgrid/users?example=12', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.selection')
          %li#jqgrid24{:data => "url: '/jqgrid/users?example=13', icon: '../dynatree.custom/grid.png'" }
            = t('txt.jqgrid.improvements.name')
    %ul
      %li#jqgrid3{:data => "icon: '../dynatree.custom/grid.png'" }
        gridify
        %ul
          %li#jqgrid31{:data => "icon: '../dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %ul
              %li#jqgrid311{:data => "url: '/jqgrid/players?example=01', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#jqgrid312{:data => "url: '/jqgrid/players?example=02', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#jqgrid313{:data => "url: '/jqgrid/players?example=03', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#jqgrid314{:data => "url: '/jqgrid/players?example=04', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#jqgrid315{:data => "url: '/jqgrid/players?example=05', icon: '../dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
      %li#jqgrid4{:data => "url: '/people', icon: '../dynatree.custom/grid.png'" }
        jqGrid for Rails
      %li#jqgrid5{:data => "url: '/widgets', icon: '../dynatree.custom/grid.png'" }
        Secret Sauce jqGrid
