%h3
  %a.accordionMenuItem5
    iCalendar
%div
  .tree
    %ul
      %li#cal1{:data => "icon: '../../jqical/alarmclock.png'" }
        Any+Time&trade;
        %ul
          %li#cal11{:data => "url: '/jqical/anytime/default', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.default')
          %li#cal12{:data => "url: '/jqical/anytime/inline', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.inline')
          %li#cal13{:data => "url: '/jqical/anytime/separate', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.separate')
          %li#cal14{:data => "url: '/jqical/anytime/css', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.css')
          %li#cal15{:data => "url: '/jqical/anytime/ajax', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.ajax')
          %li#cal16{:data => "url: '/jqical/anytime/convert', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.convert')
          %li#cal17{:data => "url: '/jqical/anytime/extend', icon: '../../jqical/alarmclock.png'" }
            = t('txt.jqical.anytime.extend')
      %li#cal71{:data => "url: '/jqical/calendars', icon: '../../jqical/view_calendar_month.png'" }
        Calendars
      %li#cal72{:data => "url: '/events/months', icon: '../../jqical/view_calendar_month.png'" }
        Month view
      %li#cal73{:data => "icon: '../../jqical/view_calendar_week.png'" }
        Week view
        %ul
          %li#cal81{:data => "url: '/events/weeks?example=01', icon: '../../jqical/view_calendar_week.png'" }
            Week view 1
          %li#cal82{:data => "url: '/events/weeks?example=02', icon: '../../jqical/view_calendar_week.png'" }
            Week view 2
          %li#cal83{:data => "url: '/events/weeks?example=03', icon: '../../jqical/view_calendar_week.png'" }
            Week view 3
          %li#cal84{:data => "url: '/events/weeks?example=04', icon: '../../jqical/view_calendar_week.png'" }
            Week view 4
                