%h3
  %a.accordionMenuItem{ :href => "#jqueryui" }
    = t('txt.ui.name')
%div
  .tree
    %ul
      %li#jqueryui1{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.interactions.default')
        %ul
          %li#jqueryui11{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.draggable.default')
            %ul
              %li#jqueryui1101{:data => "url: '/jqueryui/interactions/draggable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui1102{:data => "url: '/jqueryui/interactions/draggable/events', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.events')
              %li#jqueryui1103{:data => "url: '/jqueryui/interactions/draggable/constrain_movement', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.constrain-movement')
              %li#jqueryui1104{:data => "url: '/jqueryui/interactions/draggable/delay_start', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.delay-start')
              %li#jqueryui1105{:data => "url: '/jqueryui/interactions/draggable/snap_to', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.snap-to')
              %li#jqueryui1106{:data => "url: '/jqueryui/interactions/draggable/scroll', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.scroll')
              %li#jqueryui1107{:data => "url: '/jqueryui/interactions/draggable/revert', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.revert')
              %li#jqueryui1108{:data => "url: '/jqueryui/interactions/draggable/visual_feedback', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.visual-feedback')
              %li#jqueryui1109{:data => "url: '/jqueryui/interactions/draggable/handle', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.handle')
              %li#jqueryui1110{:data => "url: '/jqueryui/interactions/draggable/cursor_style', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.cursor-style')
              %li#jqueryui1111{:data => "url: '/jqueryui/interactions/draggable/sortable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.sortable')
          %li#jqueryui12{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.droppable.default')
            %ul
              %li#jqueryui121{:data => "url: '/jqueryui/interactions/droppable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui122{:data => "url: '/jqueryui/interactions/droppable/accepted_elements', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.accepted-elements')
              %li#jqueryui123{:data => "url: '/jqueryui/interactions/droppable/propagation', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.propagation')
              %li#jqueryui124{:data => "url: '/jqueryui/interactions/droppable/visual_feedback', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.visual-feedback')
              %li#jqueryui125{:data => "url: '/jqueryui/interactions/droppable/revert', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.revert')
              %li#jqueryui126{:data => "url: '/jqueryui/interactions/droppable/photo_manager', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.photo-manager')
          %li#jqueryui13{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.resizable.default')
            %ul
              %li#jqueryui131{:data => "url: '/jqueryui/interactions/resizable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui132{:data => "url: '/jqueryui/interactions/resizable/aspect_ratio', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.aspect-ratio')
              %li#jqueryui133{:data => "url: '/jqueryui/interactions/resizable/max_min', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.max-min')
              %li#jqueryui134{:data => "url: '/jqueryui/interactions/resizable/constrain_area', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.constrain-area')
              %li#jqueryui135{:data => "url: '/jqueryui/interactions/resizable/delay_start', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.delay-start')
              %li#jqueryui136{:data => "url: '/jqueryui/interactions/resizable/snap_to_grid', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.snap-to-grid')
              %li#jqueryui137{:data => "url: '/jqueryui/interactions/resizable/visual_feedback', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.visual-feedback')
              %li#jqueryui138{:data => "url: '/jqueryui/interactions/resizable/synchronous_resize', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.synchronous-resize')
              %li#jqueryui139{:data => "url: '/jqueryui/interactions/resizable/animate', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.animate')
          %li#jqueryui14{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.selectable.default')
            %ul
              %li#jqueryui1401{:data => "url: '/jqueryui/interactions/selectable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui1402{:data => "url: '/jqueryui/interactions/selectable/serialize', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.selectable.serialize')
              %li#jqueryui1402{:data => "url: '/jqueryui/interactions/selectable/display_grid', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.selectable.display-grid')
          %li#jqueryui15{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.sortable.default')
            %ul
              %li#jqueryui151{:data => "url: '/jqueryui/interactions/sortable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui152{:data => "url: '/jqueryui/interactions/sortable/placeholder', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.placeholder')
              %li#jqueryui153{:data => "url: '/jqueryui/interactions/sortable/connect_lists', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.connect-lists')
              %li#jqueryui154{:data => "url: '/jqueryui/interactions/sortable/connect_lists_through_tabs', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.connect-lists-through-tabs')
              %li#jqueryui155{:data => "url: '/jqueryui/interactions/sortable/empty_lists', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.empty-lists')
              %li#jqueryui156{:data => "url: '/jqueryui/interactions/sortable/items', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.items')
              %li#jqueryui157{:data => "url: '/jqueryui/interactions/sortable/delay_start', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.delay-start')
              %li#jqueryui158{:data => "url: '/jqueryui/interactions/sortable/display_grid', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.display-grid')
              %li#jqueryui159{:data => "url: '/jqueryui/interactions/sortable/portlets', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.portlets')
      %li#jqueryui2{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.widgets.default')
        %ul
          %li#jqueryui21{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.accordion.default')
            %ul
              %li#jqueryui211{:data => "url: '/jqueryui/widgets/accordion', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui212{:data => "url: '/jqueryui/widgets/accordion/fillspace', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.fillspace')
              %li#jqueryui213{:data => "url: '/jqueryui/widgets/accordion/no_auto_height', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.no-auto-height')
              %li#jqueryui214{:data => "url: '/jqueryui/widgets/accordion/collapsible', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.collapsible')
              %li#jqueryui215{:data => "url: '/jqueryui/widgets/accordion/mouseover', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.mouseover')
              %li#jqueryui216{:data => "url: '/jqueryui/widgets/accordion/custom_icons', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.custom-icons')
          %li#jqueryui22{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.datepicker.default')
            %ul
              %li#jqueryui2201{:data => "url: '/jqueryui/widgets/datepicker', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui2202{:data => "url: '/jqueryui/widgets/datepicker/date_formats', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.date-formats')
              %li#jqueryui2203{:data => "url: '/jqueryui/widgets/datepicker/min_max', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.min-max')
              %li#jqueryui2204{:data => "url: '/jqueryui/widgets/datepicker/localization', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.localization')
              %li#jqueryui2205{:data => "url: '/jqueryui/widgets/datepicker/alt_field', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.alt-field')
              %li#jqueryui2206{:data => "url: '/jqueryui/widgets/datepicker/inline', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.inline')
              %li#jqueryui2207{:data => "url: '/jqueryui/widgets/datepicker/buttonbar', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.buttonbar')
              %li#jqueryui2208{:data => "url: '/jqueryui/widgets/datepicker/dropdown_month_year', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.dropdown-month-year')
              %li#jqueryui2209{:data => "url: '/jqueryui/widgets/datepicker/multiple_calendars', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.multiple-calendars')
              %li#jqueryui2210{:data => "url: '/jqueryui/widgets/datepicker/icon_trigger', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.icon-trigger')
          %li#jqueryui23{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.dialog.default')
            %ul
              %li#jqueryui231{:data => "url: '/jqueryui/widgets/dialog', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui232{:data => "url: '/jqueryui/widgets/dialog/modal', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal')
              %li#jqueryui233{:data => "url: '/jqueryui/widgets/dialog/modal_message', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-message')
              %li#jqueryui234{:data => "url: '/jqueryui/widgets/dialog/modal_confirmation', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-confirmation')
              %li#jqueryui235{:data => "url: '/jqueryui/widgets/dialog/modal_form', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-form')
          %li#jqueryui24{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.progressbar.default')
            %ul
              %li#jqueryui241{:data => "url: '/jqueryui/widgets/progressbar', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui242{:data => "url: '/jqueryui/widgets/progressbar/animated', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.progressbar.animated')
              %li#jqueryui243{:data => "url: '/jqueryui/widgets/progressbar/resize', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.progressbar.resize')
          %li#jqueryui25{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.slider.default')
            %ul
              %li#jqueryui251{:data => "url: '/jqueryui/widgets/slider', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui252{:data => "url: '/jqueryui/widgets/slider/steps', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.steps')
              %li#jqueryui253{:data => "url: '/jqueryui/widgets/slider/range', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.range')
              %li#jqueryui254{:data => "url: '/jqueryui/widgets/slider/rangemin', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.rangemin')
              %li#jqueryui255{:data => "url: '/jqueryui/widgets/slider/rangemax', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.rangemax')
              %li#jqueryui256{:data => "url: '/jqueryui/widgets/slider/slider_vertical', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.slider-vertical')
              %li#jqueryui257{:data => "url: '/jqueryui/widgets/slider/range_vertical', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.range-vertical')
              %li#jqueryui258{:data => "url: '/jqueryui/widgets/slider/multiple_vertical', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.multiple-vertical')
              %li#jqueryui259{:data => "url: '/jqueryui/widgets/slider/colorpicker', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.colorpicker')
          %li#jqueryui26{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.tabs.default')
            %ul
              %li#jqueryui261{:data => "url: '/jqueryui/widgets/tabs', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui262{:data => "url: '/jqueryui/widgets/tabs/ajax', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.ajax')
              %li#jqueryui263{:data => "url: '/jqueryui/widgets/tabs/mouseover', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.mouseover')
              %li#jqueryui264{:data => "url: '/jqueryui/widgets/tabs/collapsible', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.collapsible')
              %li#jqueryui265{:data => "url: '/jqueryui/widgets/tabs/sortable', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.sortable')
      %li#jqueryui3{:data => "icon: '../dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.effects.default')
        %ul
          %li#jqueryui31{:data => "url: '/jqueryui/effects/add_class', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.add_class.default')
          %li#jqueryui32{:data => "url: '/jqueryui/effects/remove_class', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.remove_class.default')
          %li#jqueryui33{:data => "url: '/jqueryui/effects/switch_class', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.switch_class.default')
          %li#jqueryui34{:data => "url: '/jqueryui/effects/toggle_class', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.toggle_class.default')
          %li#jqueryui35{:data => "url: '/jqueryui/effects/show', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.show.default')
          %li#jqueryui36{:data => "url: '/jqueryui/effects/hide', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.hide.default')
          %li#jqueryui37{:data => "url: '/jqueryui/effects/toggle', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.toggle.default')
          %li#jqueryui38{:data => "url: '/jqueryui/effects/animate', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.animate.default')
          %li#jqueryui39{:data => "url: '/jqueryui/effects/effect', icon: '../dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.effect.default')
