%h3
  %a.accordionMenuItem4
    = t('txt.jqgrid.name')
    %b
      (W.I.P.)
%div
  .tree
    %ul
      %li#gridify01{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.gridify')
        %b
          (W.I.P.)
        %ul
          %li#gridify011{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %b
              (W.I.P.)
            %ul
              %li#gridify0111{:data => "url: '/jqgrid/players?example=01', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#gridify0112{:data => "url: '/jqgrid/players?example=02', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#gridify0113{:data => "url: '/jqgrid/players?example=03', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#gridify0114{:data => "url: '/jqgrid/players?example=04', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#gridify0115{:data => "url: '/jqgrid/players?example=05', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
                %b
                  (W.I.P.)
                %br
                %i
                  (Restrict detail search on childs of master)
          %li#gridify012{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.manipulation.name')
            %ul
              %li#gridify0121{:data => "url: '/jqgrid/players?example=06', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.inline')
              %li#gridify0122{:data => "url: '/jqgrid/players?example=07', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.modal')
              %li#gridify0123{:data => "url: '/jqgrid/players?example=08', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.input')
              %li#gridify0124{:data => "url: '/jqgrid/players?example=09', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.datepicker')
          %li#gridify013{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.name')
            %ul
              %li#gridify0131{:data => "url: '/jqgrid/players?example=10', icon: '../../demo/dynatree.custom/grid.png'" }
                %i
                  = t('txt.jqgrid.subgrids.default')
              %li#gridify0132{:data => "url: '/jqgrid/players?example=11', icon: '../../demo/dynatree.custom/grid.png'" }
                %i
                  = t('txt.jqgrid.subgrids.crud')
              %li#gridify0133{:data => "url: '/jqgrid/players?example=12', icon: '../../demo/dynatree.custom/grid.png'" }
                %i
                  = t('txt.jqgrid.subgrids.selection')
          %li#gridify014{:data => "url: '/jqgrid/players?example=13', icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.improvements.name')
      %li#jqgrid0{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.default')
        %b
          (W.I.P.)
        %ul
          %li#jqgrid01{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.loading')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid0101{:data => "url: '/jqgrid/demo?demo=0101;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }                
                = t('txt.jqgrid.demo.xml_data')
              %li#jqgrid0102{:data => "url: '/jqgrid/demo?demo=0102;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.json_data')
              %li#jqgrid0103{:data => "url: '/jqgrid/demo?demo=0103;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.once')
              %li#jqgrid0104{:data => "url: '/jqgrid/demo?demo=0104', icon: '../../demo/dynatree.custom/grid.png'" }      
                %i
                  = t('txt.jqgrid.demo.array')
          %li#jqgrid02{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.manipulating')
            %ul
              %li#jqgrid0201{:data => "icon: '../../demo/dynatree.custom/grid.png'" }      
                = t('txt.jqgrid.demo.data')
              %li#jqgrid0202{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.get')
              %li#jqgrid0203{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.set')
          %li#jqgrid03{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.advanced')
            %ul
              %li#jqgrid0301{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.multi')
              %li#jqgrid0302{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.master')
              %li#jqgrid0303{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.subgrid')
              %li#jqgrid0304{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.as_subgrid')
              %li#jqgrid0305{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.resizing')
              %li#jqgrid0306{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.big_sets')
          %li#jqgrid04{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.b30')
            %ul
              %li#jqgrid0401{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.cmulti')
              %li#jqgrid0402{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.json_subgrid')
              %li#jqgrid0403{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.after_load')
              %li#jqgrid0404{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.resizable')
              %li#jqgrid0405{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.hide')
          %li#jqgrid05{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.row')
            %ul
              %li#jqgrid0501{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.basic')
              %li#jqgrid0502{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.cedit')
              %li#jqgrid0503{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.events')
              %li#jqgrid0504{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.full')
              %li#jqgrid0505{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.types')
          %li#jqgrid06{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.mapping')
            %ul
              %li#jqgrid0601{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.xml_map')
              %li#jqgrid0602{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.json_map')
              %li#jqgrid0603{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.optimize')
          %li#jqgrid07{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.integrations')
            %ul
              %li#jqgrid0701{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.datepicker')
          %li#jqgrid08{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.live')
            %ul
              %li#jqgrid0801{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.searching')
              %li#jqgrid0802{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.edit_row')
              %li#jqgrid0803{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.add_row')
              %li#jqgrid0804{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.delete_row')
              %li#jqgrid0805{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.navigator')
          %li#jqgrid09{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.v31')
            %ul
              %li#jqgrid0901{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
                = t('txt.jqgrid.demo.toolbar')
              %li#jqgrid0902{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.new_methods')
              %li#jqgrid0903{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.post_data')
              %li#jqgrid0904{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.cparams')
          %li#jqgrid10{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.v32')
            %ul
              %li#jqgrid1001{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.new_methods')
              %li#jqgrid1002{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.initial')
              %li#jqgrid1003{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.insert')
              %li#jqgrid1004{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.server_errors')
              %li#jqgrid1005{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.hide')
              %li#jqgrid1006{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.cbutton')
              %li#jqgrid1007{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.client')
          %li#jqgrid11{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.v33')
            %ul
              %li#jqgrid1101{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
                = t('txt.jqgrid.demo.dynamic')
              %li#jqgrid1102{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.tree')
              %li#jqgrid1103{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.cell')
              %li#jqgrid1104{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.visible')
              %li#jqgrid1105{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.html')
              %li#jqgrid1106{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.mtoolbar')
              %li#jqgrid1107{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.mform')
              %li#jqgrid1108{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.function')
              %li#jqgrid1109{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.rdnd')
          %li#jqgrid12{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.v34')
            %ul
              %li#jqgrid1201{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.format')
              %li#jqgrid1202{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.cformat')
              %li#jqgrid1203{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.import')
              %li#jqgrid1204{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.autoscroll')
              %li#jqgrid1205{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.scroll')
              %li#jqgrid1206{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.adjacency')
          %li#jqgrid13{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.demo.v35')
            %ul
              %li#jqgrid1301{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.number')
              %li#jqgrid1302{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.view')
              %li#jqgrid1303{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.stoolbar')
              %li#jqgrid1304{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.asearch')
              %li#jqgrid1305{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.improvements')
              %li#jqgrid1306{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.real')
              %li#jqgrid1307{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.navigation')
              %li#jqgrid1308{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.summary')
              %li#jqgrid1309{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.sortable')
          %li#jqgrid14{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.demo.v36')
            %b
              (W.I.P.)
            %ul
              %li#jqgrid1401{:data => "url: '/jqgrid/demo?demo=1401;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.api')
              %li#jqgrid1402{:data => "url: '/jqgrid/demo?demo=1402;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.rtl')
                %b
                  (W.I.P.)
              %li#jqgrid1403{:data => "url: '/jqgrid/demo?demo=1403;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.reordering')
              %li#jqgrid1404{:data => "url: '/jqgrid/demo?demo=1404;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.chooser')
              %li#jqgrid1405{:data => "url: '/jqgrid/demo?demo=1405;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.validation')
              %li#jqgrid1406{:data => "url: '/jqgrid/demo?demo=1406;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.cinput')
              %li#jqgrid1407{:data => "url: '/jqgrid/demo?demo=1407;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                %i
                  = t('txt.jqgrid.demo.ajax')
              %li#jqgrid1408{:data => "url: '/jqgrid/demo?demo=1408;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                %i
                  = t('txt.jqgrid.demo.tscroll')
              %li#jqgrid1409{:data => "url: '/jqgrid/demo?demo=1409;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                %i
                  = t('txt.jqgrid.demo.srows')
              %li#jqgrid1410{:data => "url: '/jqgrid/demo?demo=1410;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                %i
                  = t('txt.jqgrid.demo.rdnd')
              %li#jqgrid1411{:data => "url: '/jqgrid/demo?demo=1411;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" } 
                = t('txt.jqgrid.demo.resizing')
      %li#jqgrid15{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        %i
          = t('txt.jqgrid.demo.2dc')
          \-
          = t('txt.jqgrid.subgrids.name')
        %ul
          %li#jqgrid151{:data => "url: '/jqgrid/users?example=10', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.default')
          %li#jqgrid152{:data => "url: '/jqgrid/users?example=11', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.crud')
          %li#jqgrid153{:data => "url: '/jqgrid/users?example=12', icon: '../../demo/dynatree.custom/grid.png'" }
            %i
              = t('txt.jqgrid.subgrids.selection')
      %li#jqgrid16{:data => "url: '/jqgrid/widgets', icon: '../../demo/dynatree.custom/grid.png'" }                   
        Secret Sauce jqGrid
     