%h3
  %a.accordionMenuItem3
    = t('txt.jqgrid.name')
    %b
      (NEEDS FIXES)
%div
  .tree
    %ul
      %li#jqgrid01{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.loading')
        %ul
          %li#jqgrid011{:data => "url: '/jqgrid/demo?demo=01;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }                
            = t('txt.jqgrid.demo.xml_data')
          %li#jqgrid012{:data => "url: '/jqgrid/demo?demo=02;model=invheader', icon: '../../demo/dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.json_data')
          %li#jqgrid013{:data => "icon: '../../demo/dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.once')
          %li#jqgrid014{:data => "icon: '../../demo/dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.array')
      %li#jqgrid02{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.manipulating')
        %ul
          %li#jqgrid021{:data => "icon: '../../demo/dynatree.custom/grid.png'" }      
            = t('txt.jqgrid.demo.data')
          %li#jqgrid022{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.get')
          %li#jqgrid023{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.set')
      %li#jqgrid03{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.advanced')
        %ul
          %li#jqgrid031{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.multi')
          %li#jqgrid032{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.master')
          %li#jqgrid033{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.subgrid')
          %li#jqgrid034{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.as_subgrid')
          %li#jqgrid035{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.resizing')
          %li#jqgrid036{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.big_sets')
      %li#jqgrid04{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.b30')
        %ul
          %li#jqgrid041{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.cmulti')
          %li#jqgrid042{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.json_subgrid')
          %li#jqgrid043{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.after_load')
          %li#jqgrid044{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.resizable')
          %li#jqgrid045{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.hide')
      %li#jqgrid05{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.row')
        %ul
          %li#jqgrid051{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.basic')
          %li#jqgrid052{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.cedit')
          %li#jqgrid053{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.events')
          %li#jqgrid054{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.full')
          %li#jqgrid055{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.types')
      %li#jqgrid06{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.mapping')
        %ul
          %li#jqgrid061{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.xml_map')
          %li#jqgrid062{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.json_map')
          %li#jqgrid063{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.optimize')
      %li#jqgrid07{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.integrations')
        %ul
          %li#jqgrid071{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.datepicker')
      %li#jqgrid08{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.live')
        %ul
          %li#jqgrid081{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.searching')
          %li#jqgrid082{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.edit_row')
          %li#jqgrid083{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.add_row')
          %li#jqgrid084{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.delete_row')
          %li#jqgrid085{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.navigator')
      %li#jqgrid09{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v31')
        %ul
          %li#jqgrid091{:data => "icon: '../../demo/dynatree.custom/grid.png'" }   
            = t('txt.jqgrid.demo.toolbar')
          %li#jqgrid092{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.new_methods')
          %li#jqgrid093{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.post_data')
          %li#jqgrid094{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.cparams')
      %li#jqgrid10{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v32')
        %ul
          %li#jqgrid101{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.new_methods')
          %li#jqgrid102{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.initial')
          %li#jqgrid103{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.insert')
          %li#jqgrid104{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.server_errors')
          %li#jqgrid105{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.hide')
          %li#jqgrid106{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.cbutton')
          %li#jqgrid107{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.client')
      %li#jqgrid11{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v33')
        %ul
          %li#jqgrid111{:data => "icon: '../../demo/dynatree.custom/grid.png'" }  
            = t('txt.jqgrid.demo.dynamic')
          %li#jqgrid112{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.tree')
          %li#jqgrid113{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cell')
          %li#jqgrid114{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.visible')
          %li#jqgrid115{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.html')
          %li#jqgrid116{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.mtoolbar')
          %li#jqgrid117{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.mform')
          %li#jqgrid118{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.function')
          %li#jqgrid119{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rdnd')
      %li#jqgrid12{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v34')
        %ul
          %li#jqgrid121{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.format')
          %li#jqgrid122{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cformat')
          %li#jqgrid123{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.import')
          %li#jqgrid124{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.autoscroll')
          %li#jqgrid125{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.scroll')
          %li#jqgrid126{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.adjacency')
      %li#jqgrid13{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v35')
        %ul
          %li#jqgrid131{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.number')
          %li#jqgrid132{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.view')
          %li#jqgrid133{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.stoolbar')
          %li#jqgrid134{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.asearch')
          %li#jqgrid135{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.improvements')
          %li#jqgrid136{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.real')
          %li#jqgrid137{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.navigation')
          %li#jqgrid138{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.summary')
          %li#jqgrid139{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.sortable')
      %li#jqgrid14{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.demo.v36')
        %ul
          %li#jqgrid1401{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.api')
          %li#jqgrid1402{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rtl')
          %li#jqgrid1403{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.reordering')
          %li#jqgrid1404{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.chooser')
          %li#jqgrid1405{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.validation')
          %li#jqgrid1406{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.cinput')
          %li#jqgrid1407{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.ajax')
          %li#jqgrid1408{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.tscroll')
          %li#jqgrid1409{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.srows')
          %li#jqgrid1410{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.rdnd')
          %li#jqgrid1411{:data => "icon: '../../demo/dynatree.custom/grid.png'" } 
            = t('txt.jqgrid.demo.resizing')
      %li#jqgrid15{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        = t('txt.jqgrid.name')
        %ul
          %li#jqgrid151{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %ul
              %li#jqgrid1511{:data => "url: '/jqgrid/users?example=01', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#jqgrid1512{:data => "url: '/jqgrid/users?example=02', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#jqgrid1513{:data => "url: '/jqgrid/users?example=03', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#jqgrid1514{:data => "url: '/jqgrid/users?example=04', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#jqgrid215{:data => "url: '/jqgrid/users?example=05', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
          %li#jqgrid152{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.manipulation.name')
            %ul
              %li#jqgrid1521{:data => "url: '/jqgrid/users?example=06', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.inline')
              %li#jqgrid1522{:data => "url: '/jqgrid/users?example=07', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.modal')
              %li#jqgrid1523{:data => "url: '/jqgrid/users?example=08', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.input')
              %li#jqgrid1524{:data => "url: '/jqgrid/users?example=09', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.manipulation.datepicker')
          %li#jqgrid153{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.subgrids.name')
            %ul
              %li#jqgrid1531{:data => "url: '/jqgrid/users?example=10', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.default')
              %li#jqgrid1532{:data => "url: '/jqgrid/users?example=11', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.crud')
              %li#jqgrid1533{:data => "url: '/jqgrid/users?example=12', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.subgrids.selection')
          %li#jqgrid154{:data => "url: '/jqgrid/users?example=13', icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.improvements.name')
      %li#jqgrid16{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
        gridify
        %ul
          %li#jqgrid161{:data => "icon: '../../demo/dynatree.custom/grid.png'" }
            = t('txt.jqgrid.simple.name')
            %ul
              %li#jqgrid1611{:data => "url: '/jqgrid/players?example=01', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.default')
              %li#jqgrid1612{:data => "url: '/jqgrid/players?example=02', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.selection')
              %li#jqgrid1613{:data => "url: '/jqgrid/players?example=03', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.direct')
              %li#jqgrid1614{:data => "url: '/jqgrid/players?example=04', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.multiple')
              %li#jqgrid1615{:data => "url: '/jqgrid/players?example=05', icon: '../../demo/dynatree.custom/grid.png'" }
                = t('txt.jqgrid.simple.master')
      %li#jqgrid17{:data => "url: '/people', icon: '../../demo/dynatree.custom/grid.png'" }
        jqGrid for Rails
      %li#jqgrid18{:data => "url: '/widgets', icon: '../../demo/dynatree.custom/grid.png'" }
        Secret Sauce jqGrid
