%h3
  %a.accordionMenuItem1
    = t('txt.ui.name')
    %b
      (NEEDS FIXES)
%div
  .tree
    %ul
      %li#jqueryui1{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.interactions.default')
        %b
          (NEEDS FIXES)
        %ul
          %li#jqueryui11{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.draggable.default')
            %b
              (NEEDS FIXES)
            %ul
              %li#jqueryui1101{:data => "url: '/jqueryui/interactions/draggable/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui1102{:data => "url: '/jqueryui/interactions/draggable/events', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.events')
              %li#jqueryui1103{:data => "url: '/jqueryui/interactions/draggable/constrain_movement', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.constrain-movement')
              %li#jqueryui1104{:data => "url: '/jqueryui/interactions/draggable/delay_start', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.delay-start')
              %li#jqueryui1105{:data => "url: '/jqueryui/interactions/draggable/snap_to', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.snap-to')
              %li#jqueryui1106{:data => "url: '/jqueryui/interactions/draggable/scroll', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.scroll')
              %li#jqueryui1107{:data => "url: '/jqueryui/interactions/draggable/revert', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.revert')
              %li#jqueryui1108{:data => "url: '/jqueryui/interactions/draggable/visual_feedback', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.visual-feedback')
                %b
                  (jQuery UI Bug)
              %li#jqueryui1109{:data => "url: '/jqueryui/interactions/draggable/handle', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.handle')
              %li#jqueryui1110{:data => "url: '/jqueryui/interactions/draggable/cursor_style', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.cursor-style')
              %li#jqueryui1111{:data => "url: '/jqueryui/interactions/draggable/sortable', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.draggable.sortable')
          %li#jqueryui12{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.droppable.default')
            %ul
              %li#jqueryui121{:data => "url: '/jqueryui/interactions/droppable/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui122{:data => "url: '/jqueryui/interactions/droppable/accepted_elements', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.accepted-elements')
              %li#jqueryui123{:data => "url: '/jqueryui/interactions/droppable/propagation', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.propagation')
              %li#jqueryui124{:data => "url: '/jqueryui/interactions/droppable/visual_feedback', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.visual-feedback')
              %li#jqueryui125{:data => "url: '/jqueryui/interactions/droppable/revert', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.revert')
              %li#jqueryui126{:data => "url: '/jqueryui/interactions/droppable/photo_manager', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.droppable.photo-manager')
          %li#jqueryui13{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.resizable.default')
            %ul
              %li#jqueryui13o1{:data => "url: '/jqueryui/interactions/resizable/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui13o2{:data => "url: '/jqueryui/interactions/resizable/aspect_ratio', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.aspect-ratio')
              %li#jqueryui13o3{:data => "url: '/jqueryui/interactions/resizable/max_min', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.max-min')
              %li#jqueryui13o4{:data => "url: '/jqueryui/interactions/resizable/constrain_area', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.constrain-area')
              %li#jqueryui13o5{:data => "url: '/jqueryui/interactions/resizable/delay_start', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.delay-start')
              %li#jqueryui13o6{:data => "url: '/jqueryui/interactions/resizable/snap_to_grid', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.snap-to-grid')
              %li#jqueryui13o7{:data => "url: '/jqueryui/interactions/resizable/visual_feedback', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.visual-feedback')
              %li#jqueryui13o8{:data => "url: '/jqueryui/interactions/resizable/synchronous_resize', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.synchronous-resize')
              %li#jqueryui13o9{:data => "url: '/jqueryui/interactions/resizable/animate', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.animate')
              %li#jqueryui1310{:data => "url: '/jqueryui/interactions/resizable/helper', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.helper')
              %li#jqueryui1311{:data => "url: '/jqueryui/interactions/resizable/textarea', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.resizable.textarea')
          %li#jqueryui14{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.selectable.default')
            %ul
              %li#jqueryui1401{:data => "url: '/jqueryui/interactions/selectable/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui1402{:data => "url: '/jqueryui/interactions/selectable/serialize', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.selectable.serialize')
              %li#jqueryui1402{:data => "url: '/jqueryui/interactions/selectable/display_grid', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.selectable.display-grid')
          %li#jqueryui15{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.interactions.sortable.default')
            %ul
              %li#jqueryui151{:data => "url: '/jqueryui/interactions/sortable/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui152{:data => "url: '/jqueryui/interactions/sortable/placeholder', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.placeholder')
              %li#jqueryui153{:data => "url: '/jqueryui/interactions/sortable/connect_lists', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.connect-lists')
              %li#jqueryui154{:data => "url: '/jqueryui/interactions/sortable/connect_lists_through_tabs', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.connect-lists-through-tabs')
              %li#jqueryui155{:data => "url: '/jqueryui/interactions/sortable/empty_lists', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.empty-lists')
              %li#jqueryui156{:data => "url: '/jqueryui/interactions/sortable/items', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.items')
              %li#jqueryui157{:data => "url: '/jqueryui/interactions/sortable/delay_start', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.delay-start')
              %li#jqueryui158{:data => "url: '/jqueryui/interactions/sortable/display_grid', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.display-grid')
              %li#jqueryui159{:data => "url: '/jqueryui/interactions/sortable/portlets', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.interactions.sortable.portlets')
      %li#jqueryui2{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.widgets.default')
        %b
          (NEEDS FIXES)
        %ul
          %li#jqueryui21{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.accordion.default')
            %ul
              %li#jqueryui211{:data => "url: '/jqueryui/widgets/accordion/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui212{:data => "url: '/jqueryui/widgets/accordion/fillspace', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.fillspace')
              %li#jqueryui213{:data => "url: '/jqueryui/widgets/accordion/no_auto_height', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.no-auto-height')
              %li#jqueryui214{:data => "url: '/jqueryui/widgets/accordion/collapsible', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.collapsible')
              %li#jqueryui215{:data => "url: '/jqueryui/widgets/accordion/mouseover', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.mouseover')
              %li#jqueryui216{:data => "url: '/jqueryui/widgets/accordion/custom_icons', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.custom-icons')
              %li#jqueryui217{:data => "url: '/jqueryui/widgets/accordion/sortable', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.accordion.sortable')
          %li#jqueryui22{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.autocomplete.default')
            %ul
              %li#jqueryui221{:data => "url: '/jqueryui/widgets/autocomplete/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui222{:data => "url: '/jqueryui/widgets/autocomplete/remote', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.remote')
              %li#jqueryui223{:data => "url: '/jqueryui/widgets/autocomplete/remote_with_cache', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.remote-with-cache')
              %li#jqueryui224{:data => "url: '/jqueryui/widgets/autocomplete/remote_jsonp', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.remote-jsonp')
              %li#jqueryui225{:data => "url: '/jqueryui/widgets/autocomplete/combobox', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.combobox')
              %li#jqueryui226{:data => "url: '/jqueryui/widgets/autocomplete/custom_data', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.custom-data')
              %li#jqueryui227{:data => "url: '/jqueryui/widgets/autocomplete/remote_xml', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.autocomplete.remote-xml')
          %li#jqueryui23{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.button.default')
            %ul
              %li#jqueryui231{:data => "url: '/jqueryui/widgets/button/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui232{:data => "url: '/jqueryui/widgets/button/radio', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.button.radio')
              %li#jqueryui233{:data => "url: '/jqueryui/widgets/button/checkbox', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.button.checkbox')
              %li#jqueryui234{:data => "url: '/jqueryui/widgets/button/icon', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.button.icon')
              %li#jqueryui235{:data => "url: '/jqueryui/widgets/button/toolbar', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.button.toolbar')
              %li#jqueryui236{:data => "url: '/jqueryui/widgets/button/splitbutton', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.button.splitbutton')
          %li#jqueryui24{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.datepicker.default')
            %ul
              %li#jqueryui2401{:data => "url: '/jqueryui/widgets/datepicker/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui2402{:data => "url: '/jqueryui/widgets/datepicker/date_formats', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.date-formats')
              %li#jqueryui2403{:data => "url: '/jqueryui/widgets/datepicker/min_max', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.min-max')
              %li#jqueryui2404{:data => "url: '/jqueryui/widgets/datepicker/localization', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.localization')
              %li#jqueryui2405{:data => "url: '/jqueryui/widgets/datepicker/alt_field', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.alt-field')
              %li#jqueryui2406{:data => "url: '/jqueryui/widgets/datepicker/inline', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.inline')
              %li#jqueryui2407{:data => "url: '/jqueryui/widgets/datepicker/buttonbar', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.buttonbar')
              %li#jqueryui2408{:data => "url: '/jqueryui/widgets/datepicker/dropdown_month_year', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.dropdown-month-year')                
              %li#jqueryui2409{:data => "url: '/jqueryui/widgets/datepicker/other_months', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.other-months')
              %li#jqueryui2410{:data => "url: '/jqueryui/widgets/datepicker/show_week', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.show-week')
              %li#jqueryui2411{:data => "url: '/jqueryui/widgets/datepicker/multiple_calendars', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.multiple-calendars')
              %li#jqueryui2412{:data => "url: '/jqueryui/widgets/datepicker/icon_trigger', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.icon-trigger')
              %li#jqueryui2413{:data => "url: '/jqueryui/widgets/datepicker/animation', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.animation')
              %li#jqueryui2414{:data => "url: '/jqueryui/widgets/datepicker/event_search', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.datepicker.event-search')
          %li#jqueryui25{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.dialog.default')
            %ul
              %li#jqueryui251{:data => "url: '/jqueryui/widgets/dialog/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui252{:data => "url: '/jqueryui/widgets/dialog/animated', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.animated')
              %li#jqueryui253{:data => "url: '/jqueryui/widgets/dialog/modal', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal')
              %li#jqueryui254{:data => "url: '/jqueryui/widgets/dialog/modal_message', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-message')
              %li#jqueryui255{:data => "url: '/jqueryui/widgets/dialog/modal_confirmation', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-confirmation')
              %li#jqueryui256{:data => "url: '/jqueryui/widgets/dialog/modal_form', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.dialog.modal-form')
          %li#jqueryui26{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.progressbar.default')
            %ul
              %li#jqueryui261{:data => "url: '/jqueryui/widgets/progressbar/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui262{:data => "url: '/jqueryui/widgets/progressbar/animated', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.progressbar.animated')
              %li#jqueryui263{:data => "url: '/jqueryui/widgets/progressbar/resize', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.progressbar.resize')
          %li#jqueryui27{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.slider.default')
            %ul
              %li#jqueryui2701{:data => "url: '/jqueryui/widgets/slider/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui2702{:data => "url: '/jqueryui/widgets/slider/steps', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.steps')
              %li#jqueryui2703{:data => "url: '/jqueryui/widgets/slider/range', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.range')
              %li#jqueryui2704{:data => "url: '/jqueryui/widgets/slider/rangemin', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.rangemin')
              %li#jqueryui2705{:data => "url: '/jqueryui/widgets/slider/hotelrooms', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.hotelrooms')
              %li#jqueryui2706{:data => "url: '/jqueryui/widgets/slider/rangemax', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.rangemax')
              %li#jqueryui2707{:data => "url: '/jqueryui/widgets/slider/slider_vertical', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.slider-vertical')
              %li#jqueryui2708{:data => "url: '/jqueryui/widgets/slider/range_vertical', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.range-vertical')
              %li#jqueryui2709{:data => "url: '/jqueryui/widgets/slider/multiple_vertical', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.multiple-vertical')
              %li#jqueryui2710{:data => "url: '/jqueryui/widgets/slider/colorpicker', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.colorpicker')
              %li#jqueryui2711{:data => "url: '/jqueryui/widgets/slider/side_scroll', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.side-scroll')
              %li#jqueryui2712{:data => "url: '/jqueryui/widgets/slider/tabs', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.slider.tabs')
          %li#jqueryui28{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.widgets.tabs.default')
            %b
              (NEEDS FIXES)
            %ul
              %li#jqueryui281{:data => "url: '/jqueryui/widgets/tabs/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
              %li#jqueryui282{:data => "url: '/jqueryui/widgets/tabs/ajax', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.ajax')
              %li#jqueryui283{:data => "url: '/jqueryui/widgets/tabs/mouseover', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.mouseover')
              %li#jqueryui284{:data => "url: '/jqueryui/widgets/tabs/collapsible', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.collapsible')
              %li#jqueryui285{:data => "url: '/jqueryui/widgets/tabs/sortable', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.sortable')
              %li#jqueryui286{:data => "url: '/jqueryui/widgets/tabs/manipulation', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.manipulation')
                %b
                  (jQuery UI BUG)
              %li#jqueryui287{:data => "url: '/jqueryui/widgets/tabs/bottom', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.widgets.tabs.bottom')
      %li#jqueryui3{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.effects.default')
        %ul
          %li#jqueryui31{:data => "url: '/jqueryui/effects/add_class', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.add_class.default')
          %li#jqueryui32{:data => "url: '/jqueryui/effects/remove_class', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.remove_class.default')
          %li#jqueryui33{:data => "url: '/jqueryui/effects/switch_class', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.switch_class.default')
          %li#jqueryui34{:data => "url: '/jqueryui/effects/toggle_class', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.toggle_class.default')
          %li#jqueryui35{:data => "url: '/jqueryui/effects/show', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.show.default')
          %li#jqueryui36{:data => "url: '/jqueryui/effects/hide', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.hide.default')
          %li#jqueryui37{:data => "url: '/jqueryui/effects/toggle', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.toggle.default')
          %li#jqueryui38{:data => "url: '/jqueryui/effects/animate', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.animate.default')
          %li#jqueryui39{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.effects.effect.default')
            %ul
              %li#jqueryui391{:data => "url: '/jqueryui/effects/effect/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.effects.effect.showcase')
              %li#jqueryui391{:data => "url: '/jqueryui/effects/effect/easing', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.effects.effect.easing')
      %li#jqueryui4{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
        = t('txt.ui.utilities.default')
        %b
          (NEEDS FIXES)
        %ul
          %li#jqueryui41{:data => "icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
            = t('txt.ui.utilities.position.default')
            %b
              (NEEDS FIXES)
            %ul
              %li#jqueryui411{:data => "url: '/jqueryui/utilities/position/default', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.default')
                %b
                  (jQuery UI Bug)
              %li#jqueryui412{:data => "url: '/jqueryui/utilities/position/cycler', icon: '../../demo/dynatree.custom/jquery-ui_16x16.png'" }
                = t('txt.ui.utilities.position.cycler')
                %b
                  (jQuery UI Bug)
