%h3
  %a.accordionMenuItem2
    Trees
%div
  .tree                                
    %ul
      %li#thetrees0{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.jst.name')     
        %ul        
          %li#thetrees01{:data => "url: '/jstree/demo', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.jst.demo')
          %li#thetrees03{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.jst.plugins')
            %ul     
              %li#thetrees0300{:data => "url: '/jstree/core', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.core')    
              %li#thetrees0301{:data => "url: '/jstree/html', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.html')
              %li#thetrees0302{:data => "url: '/jstree/json', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.json')
              %li#thetrees0303{:data => "url: '/jstree/xml', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.xml')
              %li#thetrees0304{:data => "url: '/jstree/themes', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.themes')
              %li#thetrees0305{:data => "url: '/jstree/ui', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.ui')
              %li#thetrees0306{:data => "url: '/jstree/crrm', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.crrm')
              %li#thetrees0307{:data => "url: '/jstree/hotkeys', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.hotkeys')
              %li#thetrees0308{:data => "url: '/jstree/languages', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.lang')
              %li#thetrees0309{:data => "url: '/jstree/cookies', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.cookies')
              %li#thetrees0310{:data => "url: '/jstree/sort', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.sort')
              %li#thetrees0311{:data => "url: '/jstree/dnd', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.dnd')
              %li#thetrees0312{:data => "url: '/jstree/checkbox', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.checkbox')
              %li#thetrees0313{:data => "url: '/jstree/radio', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.radio')
              %li#thetrees0314{:data => "url: '/jstree/searching', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.search')
              %li#thetrees0315{:data => "url: '/jstree/contextmenu', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.contextmenu')
              %li#thetrees0316{:data => "url: '/jstree/types', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.types')
              %li#thetrees0317{:data => "url: '/jstree/themeroller', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.themeroller')
              %li#thetrees0318{:data => "url: '/jstree/unique', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.jst.unique')
      %li#thetrees1{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.dt.name')      
        %ul        
          %li#thetrees101{:data => "url: '/dynatree/default', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.default')
          %li#thetrees102{:data => "url: '/dynatree/quick', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.quick')
          %li#thetrees103{:data => "url: '/dynatree/ul', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.ul')
          %li#thetrees104{:data => "url: '/dynatree/api', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.api')
          %li#thetrees105{:data => "url: '/dynatree/select', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.select')
          %li#thetrees106{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.theming.name')
            %ul
              %li#thetrees1061{:data => "url: '/dynatree/theming_aero', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.aero')
              %li#thetrees1062{:data => "url: '/dynatree/theming_aqua', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.aqua')
              %li#thetrees1063{:data => "url: '/dynatree/theming_crystal', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.crystal')
              %li#thetrees1064{:data => "url: '/dynatree/theming_xp', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
                = t('txt.dt.theming.xp')
          %li#thetrees107{:data => "url: '/dynatree/persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.persist')
          %li#thetrees108{:data => "url: '/dynatree/events', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.events')
          %li#thetrees109{:data => "url: '/dynatree/effects', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.effects')
          %li#thetrees110{:data => "url: '/dynatree/dnd', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.dnd')
          %li#thetrees111{:data => "url: '/dynatree/dnd2', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.dnd2')
          %li#thetrees112{:data => "url: '/dynatree/contextmenu', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.contextmenu')
          %li#thetrees113{:data => "url: '/dynatree/minexpand', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.minexpand')
          %li#thetrees114{:data => "url: '/dynatree/lazy_persist', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.lazy')
          %li#thetrees115{:data => "url: '/dynatree/iframe', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.iframe')
          %li#thetrees116{:data => "url: '/dynatree/test_bench', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.benchmark')
          %li#thetrees117{:data => "url: '/dynatree/form', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.form')
          %li#thetrees118{:data => "url: '/dynatree/multiline', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.dt.multiline')