!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = @browser_title || 'Default Browser Title'

    = stylesheet_link_tag 'compiled/screen.blueprint.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'compiled/jquery.ui/ui-lightness.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/jquery.ui/dynatree.aqua.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/jquery.ui/jqGrid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/jquery.ui/secret_sauce.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/jquery.ui/calendar.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/jqtouch/jqt.css', :media => 'screen, projection'

    = javascript_include_tag :defaults
    = jrails_javascripts I18n.locale
    = javascript_include_tag :dynatree
    = jqgrid_javascripts I18n.locale
    = javascript_include_tag :secret_sauce
    = javascript_include_tag :calendar
    = javascript_include_tag :jqtouch

    = javascript_include_tag 'locales'
    = javascript_include_tag 'common'
    = javascript_include_tag 'application'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

    = render(:partial => @jquery_partial, :format => :js) if @jquery_partial

  %body{body_attributes}
    .container
      = render :partial => "layouts/header.blueprint"
      = render :partial => "layouts/navigation.blueprint"
      #content
        %p{ :style => "color: green" }
          = flash[:notice]
        .ui-widget-content.ui-corner-all
          = yield
      = render :partial => "layouts/footer.blueprint"
