<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel=>"icon", :href=>"/favicon.ico", :type=>"image/ico"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico", :type=>"image/ico"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    
    = stylesheet_link_tag 'compiled/screen.emulators.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = javascript_include_tag 'jquery.pngFix'
    = stylesheet_link_tag "compiled/jquery/ui/#{session[:theme]}", :media => 'screen, projection'
    = stylesheet_link_tag 'demos.css', :media => 'screen, projection'
    = yield :head_stylesheets

    = javascript_include_tag :jquery_ui
    = javascript_include_tag :jrails
    = raw jquery_javascripts(I18n.locale)
    = javascript_include_tag :jstree
    = javascript_include_tag 'i18n', 'locales'
    = render :partial => "shared/locale.js.haml", :format => :js
    = csrf_meta_tag
    = javascript_include_tag 'common'
    = javascript_include_tag 'ajax'
    = yield :head_scripts

  %body{body_attributes, :onload => "set_mon(screen.width, screen.height);"}
    #content
      = yield
