<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
      = raw @browser_title || 'Compass jQTouch'

    = stylesheet_link_tag :jqt
    = stylesheet_link_tag :jqt_default
    = javascript_include_tag :jqtouch
    = javascript_include_tag :jrails
    = javascript_include_tag :jhaml
    = javascript_include_tag 'multitouch-fake'
    = javascript_include_tag 'i18n', 'locales'
    = render(:partial => "shared/locale.js.haml", :format => :js)
    = csrf_meta_tag
    = javascript_include_tag 'common'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    
    = yield :content_head

  %body
    = yield
 