<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
    -#%meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    %title
      = @title || 'jQuery Mobile Framework'
    = stylesheet_link_tag :mobile_default, :media => 'screen, projection'

    = javascript_include_tag :jquery
    = yield :content_custom_scripts
    = javascript_include_tag :mobile

    - # = javascript_include_tag 'multitouch-fake'
    = javascript_include_tag 'i18n', 'locales'
    = render(:partial => "shared/locale.js.haml", :format => :js)
    = csrf_meta_tag
    = javascript_include_tag 'common'

    = yield :content_head

  %body
    = yield
