<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
    %title
      = @title || 'jQuery Mobile Framework'
    = stylesheet_link_tag :mobile_default, :media => 'screen, projection'
    = javascript_include_tag :mobile
    = javascript_include_tag 'locales'
    = javascript_include_tag 'common'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

    = yield :content_head

  %body
    = yield
