<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel=>"icon", :href=>"/favicon.ico", :type=>"image/ico"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico", :type=>"image/ico"}
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}

    = stylesheet_link_tag 'compiled/screen.ribbon.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = javascript_include_tag 'jquery.pngFix'

    = stylesheet_link_tag "compiled/jquery/ui/#{@ribbon_theme}.css", :media => 'screen, projection'

    = javascript_include_tag :jquery_ui
    = javascript_include_tag :jrails
    = raw jquery_javascripts(I18n.locale)
    = javascript_include_tag :ribbon

    = javascript_include_tag 'i18n', 'locales'
    = render(:partial => "shared/locale.js.haml", :format => :js)
    = csrf_meta_tag
    = javascript_include_tag 'common'
    = javascript_include_tag 'content'
    = javascript_include_tag 'ajax'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

    = yield :content_head

  %body{body_attributes}
    = yield
    = render :partial => "widgets/ribbon/license"
