-@title = "#{t('txt.dt.name')} - #{t('txt.dt.dnd')}"
= render :partial => "dnd.js.haml", :format => :js
= render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  #tree
/ End demo

.demo-description
  %p
    This sample uses Dynatree's built-in drag-and-drop feature to move nodes.
    %br
    \- Nodes may only be dragged under it's original parent.
    %br
    \- When dropped, the node is moved to the target.
    %br
/ End demo-description
