-@title = "#{t('txt.dt.name')} - #{t('txt.dt.dnd2')}"
= render :partial => "dnd.js.haml", :format => :js
= render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  #tree
/ End demo

.demo-description
  %p
    This sample uses Dynatree's built-in drag-and-drop feature to move nodes.
/ End demo-description
