-@title = "#{t('txt.dt.name')} - #{t('txt.dt.dnd3')}"

- content_for :content_head do
  = render :partial => "dnd3.js.haml", :format => :js
  = render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  %table
    %thead
      %tr
        %th
          %p This tree allows dragging.
        %th
          %p This tree allows dropping.
    %tbody
      %tr
        %td
          #tree
        %td
          #tree2
      %tr
        %td
          %div
            Active node:
            %span#echoActive -
        %td
          %div
            Active node:
            %span#echoActive2 -
      %tr
        %td
          #draggableSample
            %p Drag me around
        %td
          #droppableSample
            %p Drop something here
/ End demo

.demo-description
  %p
    This sample uses the standard jQuery draggable and droppable.
/ End demo-description
