-@title = "#{t('txt.dt.name')} - #{t('txt.dt.json')}"

- content_for :head_scripts do
  = render :partial => "json.js.haml", :format => :js
  = render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  #tree
  %div
    Active node:
    %span#echoActive
      -
/ End demo
.demo-description
  %p
    This sample initializes the tree from a JSON request.
/ End demo-description   
