-@title = "#{t('txt.dt.name')} - #{t('txt.dt.lazy')}"
= render :partial => "lazy.js.haml", :format => :js
= render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  #tree
  %div
    Active node:
    %span#echoActive
  %br
  .toolbar.ui-widget-header.ui-corner-all
    %button#btnReloadActive Reload active node...
    %button#btnLoadKeyPath Load node by path '/folder4/_23/_26/_27'...
/ End demo
.demo-description
  %p
    Using 'lazy' option to load the tree and to load the
    branches.
    %br
    %br
    You may want to try this
    %a{:href => "/widgets/dynatree/lazy_persist"} live example
    of
    a lazy tree that uses a simple test server.
/ End demo-description   
