-@title = "#{t('txt.dt.name')} - #{t('txt.dt.minexpand')}"
= render :partial => "minexpand.js.haml", :format => :js
= render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  
  #tabs
    %ul
      %li
        %a{ :href => "#tabs-1" }
          minExpandLevel=1
      %li
        %a{ :href => "#tabs-2" }
          minExpandLevel=2
      %li
        %a{ :href => "#tabs-3" }
          minExpandLevel=3
    #tabs-1
      .demo
        #tree1
      .demo-description
        %p
          This is the default option.
        
      #tree1
    #tabs-2
      .demo
        #tree2
      .demo-description
        %p
          Top-level nodes are always expanded, so the expander icon is hidden.
      #tree2
    #tabs-3
      .demo
        #tree3
      .demo-description
        %p
          First and second level nodes are always expanded, so the expander icons are hidden.
          
/ End demo
