-@title = "#{t('txt.dt.name')} - #{t('txt.dt.quick')}"

- content_for :head_scripts do
  = render :partial => "quick.js.haml", :format => :js
  = render :partial => "skin.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  = render :partial => "skin_form"
  #tree

/ End demo
.demo-description
  %p
    This sample initializes the tree from a JavaScript object.
    %br
      An
      %i
        onActivate
      handler brings up an alert box when a node is selected.
/ End demo-description
    