%tr
  %td
    = calendars.name
  %td
    = link_to 'Show', jqical_calendar_path(calendars)
    |
    = link_to 'Edit', edit_jqical_calendar_path(calendars)
    |
    = link_to 'Destroy', jqical_calendar_path(calendars), :confirm => 'Really destroy calendars?', :method => :delete
    |
    = link_to 'Show Events', jqical_calendar_events_path(calendars)
    |
    = link_to 'As iCalendar', jqical_calendar_path(calendars, :format => :ics)
