= link_to image_tag("icons/16x16/show.png", :border => 0, :title => t('txt.jqical.calendar.show')), jqical_calendar_path(calendar)
= link_to image_tag("icons/16x16/edit.png", :border => 0, :title => t('txt.jqical.calendar.edit')), edit_jqical_calendar_path(calendar)
= link_to image_tag("icons/16x16/delete.png", :border => 0, :title => t('txt.jqical.calendar.delete')), jqical_calendar_path(calendar), :confirm => t('txt.jqical.calendar.confirm'), :method => :delete
= link_to image_tag("icons/16x16/calendar_list.png", :border => 0, :title => t('txt.jqical.event.listing')), jqical_calendar_events_path(calendar)
= link_to image_tag("icons/16x16/calendar.png", :border => 0, :title => t('txt.jqical.calendar.actions.show')), full_calendar_jqical_calendar_events_path(calendar)
= link_to image_tag("icons/16x16/ical.png", :border => 0, :title => t('txt.jqical.calendar.actions.ical')), jqical_calendar_path(calendar, :format => :ics)
