-@title = t('txt.jqical.calendar.listing')

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  .ui-widget-content.ui-corner-all
    %table.calendars
      %tr.ui-widget-header.ui-corner-all
        %th{ :style => "width: 20px;" }
        %th
          = t('txt.jqical.calendar.name')  
        %th
          = t('txt.jqical.calendar.actions.name')
      = render :partial => 'calendar', :collection => current_objects
  %br
  %p.buttons
    = link_to t('txt.jqical.calendar.new'), new_jqical_calendar_path
    = link_to t('txt.jqical.calendar.iphone'), iphone_jqical_calendars_path
