-@title = t('txt.jqical.calendar.show')

- content_for :content_head do
  = render(:partial => "form.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  = error_messages_for :calendar
  
  - form_for(:calendar, :url => jqical_calendars_url, :html => { :method => :post }) do |f|
    = render :partial => "form", :locals => {:f => f}
    %br
    %p
      = submit_tag t('txt.layout.create')
  %p.buttons
    = link_to t('txt.layout.back'), jqical_calendars_path
